Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/dashboards-squad, @grafana/plugins-platform-backend, @grafana/grafana-search-and-storage, @grafana/grafana-backend-group, @grafana/grafana-app-platform-squad, @grafana/sharing-squad, @grafana/identity-squad, @grafana/access-squad, @grafana/grafana-com-maintainers, @grafana/middleware-apps, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting*             @grafana/platform-monitoring @grafana/alerting-squad
/internal/resources/grafana/*_dashboard*            @grafana/platform-monitoring @grafana/dashboards-squad
/internal/resources/grafana/*_data_source*          @grafana/platform-monitoring @grafana/plugins-platform-backend
/internal/resources/grafana/*_folder*               @grafana/platform-monitoring @grafana/grafana-search-and-storage
/internal/resources/grafana/*_library_panel*        @grafana/platform-monitoring @grafana/dashboards-squad
/internal/resources/grafana/*_organization*         @grafana/platform-monitoring @grafana/grafana-backend-group
/internal/resources/grafana/*_playlist*             @grafana/platform-monitoring @grafana/grafana-app-platform-squad
/internal/resources/grafana/*_report*               @grafana/platform-monitoring @grafana/sharing-squad
/internal/resources/grafana/*_role*                 @grafana/platform-monitoring @grafana/identity-squad
/internal/resources/grafana/*_service_accounts*     @grafana/platform-monitoring @grafana/identity-squad
/internal/resources/grafana/*_sso*                  @grafana/platform-monitoring @grafana/identity-squad
/internal/resources/grafana/*_team*                 @grafana/platform-monitoring @grafana/access-squad
/internal/resources/grafana/*_user*                 @grafana/platform-monitoring @grafana/access-squad
/internal/resources/cloud/*                         @grafana/platform-monitoring @grafana/grafana-com-maintainers
/internal/resources/cloudprovider/*                 @grafana/platform-monitoring @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/platform-monitoring @grafana/middleware-apps
/internal/resources/machinelearning/*               @grafana/platform-monitoring @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/platform-monitoring @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/platform-monitoring @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/platform-monitoring @grafana/synthetic-monitoring

Fix lint
  internal/resources/grafana/resource_alerting_rule_group.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Fix lint + regen docs
  docs/resources/rule_group.md
  internal/resources/grafana/resource_alerting_rule_group.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Fix doc links that were moved
  docs/index.md
  templates/index.md.tmpl
Owners: @grafana/platform-monitoring

Add cluster slug to stack (#1998)
  docs/data-sources/cloud_stack.md
  docs/index.md
  docs/resources/cloud_stack.md
  internal/resources/cloud/data_source_cloud_stack_test.go
  internal/resources/cloud/resource_cloud_stack.go
  internal/resources/cloud/resource_cloud_stack_test.go
  templates/index.md.tmpl
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Using computed instead of plan modifier
  internal/resources/cloudprovider/resource_aws_account.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

update acct datasource
  docs/data-sources/cloud_provider_aws_account.md
  internal/resources/cloudprovider/data_source_aws_account.go
  internal/resources/cloudprovider/data_source_aws_account_test.go
  internal/resources/cloudprovider/utils_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

update docs
  docs/resources/cloud_provider_aws_account.md
Owners: @grafana/platform-monitoring

regen docs
  docs/data-sources/cloud_provider_aws_account.md
Owners: @grafana/platform-monitoring

fix test
  internal/resources/cloudprovider/resource_aws_account_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

attempt to fix tests
  internal/resources/cloudprovider/resource_aws_account_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Fix datasource
  internal/resources/cloudprovider/data_source_aws_account.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

implemented
  internal/common/cloudproviderapi/client.go
  internal/resources/cloudprovider/resource_aws_account.go
  internal/resources/cloudprovider/resource_aws_account_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Add support for defining aws account name (#1976)
  docs/data-sources/cloud_provider_aws_account.md
  docs/resources/cloud_provider_aws_account.md
  internal/common/cloudproviderapi/client.go
  internal/resources/cloudprovider/data_source_aws_account.go
  internal/resources/cloudprovider/data_source_aws_account_test.go
  internal/resources/cloudprovider/resource_aws_account.go
  internal/resources/cloudprovider/resource_aws_account_test.go
  internal/resources/cloudprovider/utils_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Add an submodule for app platform resources
  appplatform/go.mod
  appplatform/go.sum
  go.mod
  go.sum
  go.work
  go.work.sum
Owners: @grafana/platform-monitoring

Add ability to validate and lint dashboards
  appplatform/go.sum
  appplatform/pkg/terraform/resources/dashboard.go
  go.work.sum
Owners: @grafana/platform-monitoring

Add the dashboard resource
  appplatform/pkg/terraform/resources/dashboard.go
  pkg/provider/framework_provider.go
Owners: @grafana/platform-monitoring

Add CUE schemas and Go types for Dashboard resource
  appplatform/Makefile
  appplatform/kinds/cue.mod/module.cue
  appplatform/kinds/dashboard.cue
  appplatform/pkg/generated/resource/dashboard/v0alpha1/dashboard_client.go
  appplatform/pkg/generated/resource/dashboard/v0alpha1/dashboard_codec_gen.go
  appplatform/pkg/generated/resource/dashboard/v0alpha1/dashboard_metadata_gen.go
  appplatform/pkg/generated/resource/dashboard/v0alpha1/dashboard_object_gen.go
  appplatform/pkg/generated/resource/dashboard/v0alpha1/dashboard_schema_gen.go
  appplatform/pkg/generated/resource/dashboard/v0alpha1/dashboard_spec_gen.go
  appplatform/pkg/generated/resource/dashboard/v0alpha1/dashboard_status_gen.go
  appplatform/pkg/generated/resource/dashboard/v1alpha1/dashboard_client.go
  appplatform/pkg/generated/resource/dashboard/v1alpha1/dashboard_codec_gen.go
  appplatform/pkg/generated/resource/dashboard/v1alpha1/dashboard_metadata_gen.go
  appplatform/pkg/generated/resource/dashboard/v1alpha1/dashboard_object_gen.go
  appplatform/pkg/generated/resource/dashboard/v1alpha1/dashboard_schema_gen.go
  appplatform/pkg/generated/resource/dashboard/v1alpha1/dashboard_spec_gen.go
  appplatform/pkg/generated/resource/dashboard/v1alpha1/dashboard_status_gen.go
  appplatform/pkg/generated/resource/dashboard/v1alpha1/dashboard_title_gen.go
  appplatform/pkg/generated/resource/dashboard/v2alpha1/dashboard_client.go
  appplatform/pkg/generated/resource/dashboard/v2alpha1/dashboard_codec_gen.go
  appplatform/pkg/generated/resource/dashboard/v2alpha1/dashboard_metadata_gen.go
  appplatform/pkg/generated/resource/dashboard/v2alpha1/dashboard_object_gen.go
  appplatform/pkg/generated/resource/dashboard/v2alpha1/dashboard_schema_gen.go
  appplatform/pkg/generated/resource/dashboard/v2alpha1/dashboard_spec_gen.go
  appplatform/pkg/generated/resource/dashboard/v2alpha1/dashboard_status_gen.go
  appplatform/scripts/install-sdk.sh
Owners: @grafana/platform-monitoring

Add generic resource clients
  appplatform/pkg/client/namespaced.go
  appplatform/pkg/client/resource.go
  appplatform/pkg/client/types.go
Owners: @grafana/platform-monitoring

Add support for Playlists #3
  appplatform/go.mod
  appplatform/go.sum
  appplatform/pkg/generated/resource/dashboard/v0alpha1/dashboard_client.go
  appplatform/pkg/terraform/resource.go
  appplatform/pkg/terraform/resources/dashboard.go
  appplatform/pkg/terraform/resources/playlist.go
  go.mod
  go.sum
  go.work.sum
  pkg/provider/framework_provider.go
Owners: @grafana/platform-monitoring

Add generic resource and rework its structure
  appplatform/go.mod
  appplatform/go.sum
  appplatform/pkg/generated/resource/dashboard/v0alpha1/dashboard_client.go
  appplatform/pkg/terraform/resource.go
  appplatform/pkg/terraform/resources/dashboard.go
  go.mod
  go.sum
  pkg/provider/framework_provider.go
  pkg/v3/client/client.go
Owners: @grafana/platform-monitoring

Sync Go workspace and fix module dependencies
  appplatform/go.mod
  appplatform/go.sum
  appplatform/pkg/client/namespaced.go
  appplatform/pkg/client/resource.go
  appplatform/pkg/terraform/resources/dashboard.go
  go.mod
  go.sum
  go.work
  go.work.sum
Owners: @grafana/platform-monitoring

apply comment
  internal/common/cloudproviderapi/client.go
Owners: @grafana/platform-monitoring

feat(resource_access_policy): Add support for allowed_subnets
  docs/resources/cloud_access_policy.md
  internal/resources/cloud/resource_cloud_access_policy.go
  internal/resources/cloud/resource_cloud_access_policy_allowed_subnet_test.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Add client nil checks to avoid panics
  internal/resources/cloud/common.go
  internal/resources/grafana/common_plugin_framework.go
  internal/resources/machinelearning/resource_alert.go
  internal/resources/oncall/resources.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers, @grafana/machine-learning, @grafana/grafana-irm-backend

Update docs
  docs/resources/dashboard_public.md
Owners: @grafana/platform-monitoring

Fix docs again
  docs/resources/dashboard_public.md
Owners: @grafana/platform-monitoring

update test
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Update docs
  docs/resources/dashboard_public.md
  internal/resources/grafana/resource_dashboard_public.go
Owners: @grafana/platform-monitoring, @grafana/dashboards-squad

Add client nil checks to avoid panics (#2008)
  docs/resources/dashboard_public.md
  internal/resources/cloud/common.go
  internal/resources/grafana/common_plugin_framework.go
  internal/resources/grafana/resource_dashboard_public.go
  internal/resources/machinelearning/resource_alert.go
  internal/resources/oncall/resources.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers, @grafana/dashboards-squad, @grafana/machine-learning, @grafana/grafana-irm-backend

Add support for the additional tags for the Azure metrics
  examples/data-sources/grafana_cloud_provider_azure_credential/data-source.tf
  examples/resources/grafana_cloud_provider_azure_credential/resource.tf
  internal/common/cloudproviderapi/client.go
  internal/resources/cloudprovider/azure_credential_test.go
  internal/resources/cloudprovider/data_source_azure_credential.go
  internal/resources/cloudprovider/resource_azure_credential.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Update documents
  docs/data-sources/cloud_provider_azure_credential.md
  docs/resources/cloud_provider_azure_credential.md
Owners: @grafana/platform-monitoring

Fix imports
  internal/resources/cloudprovider/resource_azure_credential.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Adding color option to slack contact point
  docs/resources/contact_point.md
  examples/resources/grafana_contact_point/_acc_receiver_types.tf
  internal/resources/grafana/resource_alerting_contact_point_notifiers.go
  internal/resources/grafana/resource_alerting_contact_point_test.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Fix issue with an inconsistent static labels order
  internal/resources/cloudprovider/models.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Fix imports
  internal/resources/cloudprovider/models.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Generating docs
  docs/resources/contact_point.md
Owners: @grafana/platform-monitoring

Change List to the Map for the static labels
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_job.md
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_jobs.md
  docs/resources/cloud_provider_aws_cloudwatch_scrape_job.md
  examples/data-sources/grafana_cloud_provider_aws_cloudwatch_scrape_job/data-source.tf
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job_test.go
  internal/resources/cloudprovider/models.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Fix docs
  docs/index.md
  docs/resources/cloud_provider_aws_cloudwatch_scrape_job.md
  examples/resources/grafana_cloud_provider_aws_cloudwatch_scrape_job/resource.tf
  internal/resources/cloudprovider/models.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Update pdc scope
  internal/resources/cloud/data_source_private_data_source_connect_network.go
  internal/resources/cloud/resource_private_data_source_connect_network.go
  internal/resources/cloud/resource_private_data_source_connect_network_token_test.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Update pdc scope (#2012)
  internal/resources/cloud/data_source_private_data_source_connect_network.go
  internal/resources/cloud/resource_private_data_source_connect_network.go
  internal/resources/cloud/resource_private_data_source_connect_network_token_test.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers
