Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/grafana-com-maintainers, @grafana/identity-squad, @grafana/asserts, @grafana/middleware-apps, @grafana/fleet-management-backend, @grafana/frontend-o11y, @grafana/k6-cloud-provisioning, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring, @grafana/grafana-app-platform-squad

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting_*            @grafana/alerting-squad
/internal/resources/cloud/*                         @grafana/grafana-com-maintainers
/internal/resources/cloud/*_access_policy_*         @grafana/identity-squad
/internal/resources/grafana/*_organization_user*    @grafana/identity-squad
/internal/resources/asserts/*                       @grafana/asserts
/internal/resources/cloudprovider/*                 @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/middleware-apps
/internal/resources/fleetmanagement/*               @grafana/fleet-management-backend
/internal/resources/frontendo11y/*                  @grafana/frontend-o11y
/internal/resources/k6/*                            @grafana/k6-cloud-provisioning
/internal/resources/machinelearning/*               @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/synthetic-monitoring
/internal/resources/appplatform/*                   @grafana/grafana-app-platform-squad
/internal/resources/appplatform/alertenrichment*    @grafana/alerting-squad

further reduced unsupported oncall integration types
  docs/resources/oncall_integration.md
Owners: @grafana/platform-monitoring

perf: improve access policies data source performance
  docs/data-sources/cloud_access_policies.md
  internal/resources/cloud/data_source_cloud_access_policies.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

perf: improve access policies data source performance (#2521)
  docs/data-sources/cloud_access_policies.md
  internal/resources/cloud/data_source_cloud_access_policies.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Expose OTLP Gateway source ips (#2499)
  docs/data-sources/cloud_ips.md
  internal/resources/cloud/data_source_cloud_ips.go
  provider_schema.json
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

refactor: migrate cloud IPs data source to framework SDK
  internal/resources/cloud/data_source_cloud_ips.go
  internal/resources/examples_test.go
Owners: @grafana/grafana-com-maintainers, @grafana/platform-monitoring

docs: make generate
  docs/data-sources/cloud_ips.md
  docs/data-sources/cloud_organization.md
Owners: @grafana/platform-monitoring

refactor: migrate cloud organization data source to framework SDK
  internal/resources/cloud/data_source_cloud_organization.go
Owners: @grafana/grafana-com-maintainers

chore: set provider-name explicitly for generate docs
  main.go
Owners: @grafana/platform-monitoring

refactor(cloud): migrate cloud_ips and cloud_organization data sources from sdkv2 to framework (#2522)
  docs/data-sources/cloud_ips.md
  docs/data-sources/cloud_organization.md
  internal/resources/cloud/data_source_cloud_ips.go
  internal/resources/cloud/data_source_cloud_organization.go
  internal/resources/examples_test.go
  main.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

refactor(cloud): migrate cloud_stack resource and data source from sdkv2 to framework
  internal/resources/cloud/data_source_cloud_stack.go
  internal/resources/cloud/data_source_cloud_stack_test.go
  internal/resources/cloud/resource_cloud_stack.go
  internal/resources/cloud/resource_cloud_stack_test.go
  internal/resources/cloud/stack_common.go
Owners: @grafana/grafana-com-maintainers

fix: reimplement suppress diff mechanism
  internal/resources/cloud/resource_cloud_stack.go
Owners: @grafana/grafana-com-maintainers

docs: fix differences and generate
  docs/data-sources/cloud_stack.md
  docs/resources/cloud_stack.md
  internal/resources/cloud/resource_cloud_stack.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

test: skip TestResourceStack_Invalid when Cloud API acceptance tests not enabled
  internal/resources/cloud/resource_cloud_stack_test.go
Owners: @grafana/grafana-com-maintainers

ci: mv current_schema to provider_schema instead of cp
  .github/workflows/update-schema.yml
Owners: @grafana/platform-monitoring

docs: remove experimental warning from LBAC resource
  docs/resources/data_source_config_lbac_rules.md
Owners: @grafana/platform-monitoring

Update internal/resources/grafana/catalog-resource.yaml
  internal/resources/grafana/catalog-resource.yaml
Owners: @grafana/platform-monitoring

refactor(slo): migrate slos data source from sdkv2 to framework
  internal/resources/slo/common_framework.go
  internal/resources/slo/data_source_slos.go
  internal/resources/slo/utils.go
Owners: @grafana/slo-squad

refactor(slo): migrate slo resource from sdkv2 to framework
  internal/resources/slo/common_framework.go
  internal/resources/slo/resource_slo.go
  internal/resources/slo/resource_slo_model.go
  internal/resources/slo/resource_slo_test.go
  internal/resources/slo/utils.go
Owners: @grafana/slo-squad

chore: fix linting issues
  internal/resources/slo/resource_slo_model.go
  internal/resources/slo/resources.go
Owners: @grafana/slo-squad

docs: regenerate documentation for framework migration
  docs/data-sources/slos.md
  docs/resources/slo.md
Owners: @grafana/platform-monitoring

feat: make inbound_email address accessible via a datasource reference
  docs/data-sources/oncall_integration.md
  go.mod
  go.sum
  internal/resources/oncall/data_source_integration.go
Owners: @grafana/platform-monitoring, @grafana/grafana-irm-backend

feat: add alertmanager_uid support for contact points and notification policies
  docs/resources/contact_point.md
  docs/resources/notification_policy.md
  examples/resources/grafana_contact_point/_acc_external_alertmanager.tf
  examples/resources/grafana_notification_policy/_acc_external_alertmanager.tf
  go.mod
  go.sum
  internal/resources/grafana/alerting_amconfig_api.go
  internal/resources/grafana/alerting_amconfig_api_test.go
  internal/resources/grafana/alerting_amconfig_helpers.go
  internal/resources/grafana/alerting_amconfig_helpers_test.go
  internal/resources/grafana/resource_alerting_contact_point.go
  internal/resources/grafana/resource_alerting_contact_point_test.go
  internal/resources/grafana/resource_alerting_notification_policy.go
  internal/resources/grafana/resource_alerting_notification_policy_test.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

fix(slo): enforce required blocks validation at plan time
  internal/resources/slo/resource_slo.go
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/slo-squad

fix: correct interface assertion alignment for goimports
  internal/resources/slo/resource_slo.go
Owners: @grafana/slo-squad

updated the actual source of the docs, not just the generated md
  docs/resources/oncall_integration.md
  internal/resources/oncall/resource_integration.go
Owners: @grafana/platform-monitoring, @grafana/grafana-irm-backend

fix: removed heartbeat from list of oncall integration types in docs (#2519)
  docs/resources/oncall_integration.md
  internal/resources/oncall/resource_integration.go
Owners: @grafana/platform-monitoring, @grafana/grafana-irm-backend

ci: mv current_schema to provider_schema instead of cp
  .github/workflows/update-schema.yml
Owners: @grafana/platform-monitoring

Add initial migration changes (wip)
  internal/resources/grafana/data_source_team.go
  internal/resources/grafana/resource_team.go
Owners: @grafana/platform-monitoring

feat: make inbound_email address accessible via a datasource reference (#2528)
  docs/data-sources/oncall_integration.md
  go.mod
  go.sum
  internal/resources/oncall/data_source_integration.go
Owners: @grafana/platform-monitoring, @grafana/grafana-irm-backend

ci: mv current_schema to provider_schema instead of cp (#2525)
  .github/workflows/update-schema.yml
Owners: @grafana/platform-monitoring

refactor(cloud): migrate cloud_stack resource and data source from sdkv2 to framework
  internal/resources/cloud/data_source_cloud_stack.go
  internal/resources/cloud/data_source_cloud_stack_test.go
  internal/resources/cloud/resource_cloud_stack.go
  internal/resources/cloud/resource_cloud_stack_test.go
  internal/resources/cloud/stack_common.go
Owners: @grafana/grafana-com-maintainers

docs: fix differences and generate
  docs/data-sources/cloud_stack.md
  docs/resources/cloud_stack.md
  internal/resources/cloud/resource_cloud_stack.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

fix: reimplement suppress diff mechanism
  internal/resources/cloud/resource_cloud_stack.go
Owners: @grafana/grafana-com-maintainers

test: skip TestResourceStack_Invalid when Cloud API acceptance tests not enabled
  internal/resources/cloud/resource_cloud_stack_test.go
Owners: @grafana/grafana-com-maintainers

feat: add grafana_organization_lookup_user data source
  examples/data-sources/grafana_organization_lookup_user/data-source.tf
  internal/resources/grafana/data_source_organization_lookup_user.go
  internal/resources/grafana/data_source_organization_lookup_user_test.go
  internal/resources/grafana/data_source_organization_user.go
  internal/resources/grafana/resources.go
Owners: @grafana/platform-monitoring, @grafana/identity-squad

fix: use prometheus duration parser for rule group 'for' fields
  internal/common/schema.go
  internal/resources/grafana/resource_alerting_rule_group.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Added new resource for data source cache config
  docs/resources/data_source_cache_config.md
  examples/resources/grafana_data_source_cache_config/import.sh
  examples/resources/grafana_data_source_cache_config/resource.tf
  internal/resources/grafana/resource_data_source_cache_config.go
  internal/resources/grafana/resource_data_source_cache_config_test.go
  internal/resources/grafana/resources.go
Owners: @grafana/platform-monitoring

Updated schema
  provider_schema.json
Owners: @grafana/platform-monitoring

Docs lint fix
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring

Refactored following lint tests
  internal/resources/grafana/resource_data_source_cache_config.go
Owners: @grafana/platform-monitoring
