Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/grafana-com-maintainers, @grafana/identity-squad, @grafana/asserts, @grafana/middleware-apps, @grafana/fleet-management-backend, @grafana/frontend-o11y, @grafana/k6-cloud-provisioning, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring, @grafana/grafana-app-platform-squad

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting_*            @grafana/alerting-squad
/internal/resources/cloud/*                         @grafana/grafana-com-maintainers
/internal/resources/cloud/*_access_policy_*         @grafana/identity-squad
/internal/resources/grafana/*_organization_user*    @grafana/identity-squad
/internal/resources/asserts/*                       @grafana/asserts
/internal/resources/cloudprovider/*                 @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/middleware-apps
/internal/resources/fleetmanagement/*               @grafana/fleet-management-backend
/internal/resources/frontendo11y/*                  @grafana/frontend-o11y
/internal/resources/k6/*                            @grafana/k6-cloud-provisioning
/internal/resources/machinelearning/*               @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/synthetic-monitoring
/internal/resources/appplatform/*                   @grafana/grafana-app-platform-squad
/internal/resources/appplatform/alertenrichment*    @grafana/alerting-squad

fix(release): add disk cleanup and enable Go cache
  .github/workflows/release.yml
Owners: @grafana/platform-monitoring

fix: add pinned action reference
  .github/workflows/release.yml
Owners: @grafana/platform-monitoring

fix: reset cache to false
  .github/workflows/release.yml
Owners: @grafana/platform-monitoring

fix(release): add disk cleanup to release action (#2437)
  .github/workflows/release.yml
Owners: @grafana/platform-monitoring

fix: use tag instead of SHA
  .github/workflows/release.yml
Owners: @grafana/platform-monitoring

fix: sha
  .github/workflows/release.yml
Owners: @grafana/platform-monitoring

fix: use correct SHA (#2438)
  .github/workflows/release.yml
Owners: @grafana/platform-monitoring

delete pdc fields from json_data when generating updated state
  internal/resources/grafana/resource_data_source.go
  internal/resources/grafana/resource_data_source_test.go
Owners: @grafana/platform-monitoring

explicitly set PDC fields as reserved in jsondata
  internal/resources/grafana/resource_data_source.go
  internal/resources/grafana/resource_data_source_test.go
Owners: @grafana/platform-monitoring

linting
  internal/resources/grafana/resource_data_source.go
  internal/resources/grafana/resource_data_source_test.go
Owners: @grafana/platform-monitoring

linting
  internal/resources/grafana/resource_data_source.go
Owners: @grafana/platform-monitoring

feedback: english
  internal/resources/grafana/resource_service_account_rotating_token.go
Owners: @grafana/platform-monitoring

feedback: remove expiration mention OCfrom name description
  docs/resources/service_account_rotating_token.md
  internal/resources/grafana/resource_service_account_rotating_token.go
Owners: @grafana/platform-monitoring

feedback: english v2
  internal/resources/cloud/resource_cloud_access_policy_rotating_token.go
  internal/resources/cloud/resource_cloud_access_policy_rotating_token_test.go
  internal/resources/grafana/resource_service_account_rotating_token_test.go
Owners: @grafana/identity-squad, @grafana/platform-monitoring

allowing for type "web" for grafana_oncall_schedule update
  internal/resources/oncall/resource_schedule.go
Owners: @grafana/grafana-irm-backend

5017: temp fix for test till full prod release (#2444)
  internal/resources/asserts/resource_log_config_test.go
  internal/resources/asserts/resource_thresholds.go
  internal/resources/asserts/resource_thresholds_test.go
Owners: @grafana/asserts

fix(tests): Set test time based on token expiration time
  internal/resources/grafana/resource_service_account_rotating_token_test.go
Owners: @grafana/platform-monitoring

fix(cloud-service-account-token): Add required `stack_slug` field to documentation example
  examples/resources/grafana_cloud_stack_service_account_token/resource.tf
Owners: @grafana/platform-monitoring

feat(cloud-stack-service-accounts): Add rotating token resource
  docs/resources/cloud_stack_service_account_rotating_token.md
  docs/resources/cloud_stack_service_account_token.md
  examples/resources/grafana_cloud_stack_service_account_rotating_token/resource.tf
  internal/resources/cloud/catalog-resource.yaml
  internal/resources/cloud/resource_cloud_stack_service_account_rotating_token.go
  internal/resources/cloud/resource_cloud_stack_service_account_rotating_token_test.go
  internal/resources/cloud/resource_cloud_stack_service_account_test.go
  internal/resources/cloud/resource_cloud_stack_service_account_token.go
  internal/resources/cloud/resources.go
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Faro: Update endpoint-logic with region cutoff dates
  internal/resources/frontendo11y/common.go
  internal/resources/frontendo11y/data_source_frontend_o11y_app.go
  internal/resources/frontendo11y/resource_frontend_o11y_app.go
Owners: @grafana/frontend-o11y

delete pdc fields from json_data when generating updated state (#2439)
  internal/resources/grafana/resource_data_source.go
  internal/resources/grafana/resource_data_source_test.go
Owners: @grafana/platform-monitoring

Switch test kind
  internal/resources/cloud/resource_cloud_stack_service_account_rotating_token_test.go
Owners: @grafana/grafana-com-maintainers

allowing for type "web" for grafana_oncall_schedule update (#2443)
  internal/resources/oncall/resource_schedule.go
Owners: @grafana/grafana-irm-backend

docs(README): fix and expand instructions on running tests (#2413)
  README.md
Owners: @grafana/platform-monitoring

Revert "delete pdc fields from json_data when generating updated state (#2439)"
  internal/resources/grafana/resource_data_source.go
  internal/resources/grafana/resource_data_source_test.go
Owners: @grafana/platform-monitoring

Revert "delete pdc fields from json_data when generating updated state (#2439)" (#2450)
  internal/resources/grafana/resource_data_source.go
  internal/resources/grafana/resource_data_source_test.go
Owners: @grafana/platform-monitoring

feat(service-accounts): Add rotating token resource (#2436)
  docs/resources/service_account_rotating_token.md
  examples/resources/grafana_service_account_rotating_token/resource.tf
  internal/resources/cloud/resource_cloud_access_policy_rotating_token.go
  internal/resources/cloud/resource_cloud_access_policy_rotating_token_test.go
  internal/resources/grafana/catalog-resource.yaml
  internal/resources/grafana/resource_service_account_rotating_token.go
  internal/resources/grafana/resource_service_account_rotating_token_test.go
  internal/resources/grafana/resource_service_account_token.go
  internal/resources/grafana/resource_service_account_token_test.go
  internal/resources/grafana/resources.go
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring, @grafana/identity-squad

feat(cloud-stack-service-accounts): Add rotating token resource (#2445)
  docs/resources/cloud_stack_service_account_rotating_token.md
  docs/resources/cloud_stack_service_account_token.md
  examples/resources/grafana_cloud_stack_service_account_rotating_token/resource.tf
  internal/resources/cloud/catalog-resource.yaml
  internal/resources/cloud/resource_cloud_stack_service_account_rotating_token.go
  internal/resources/cloud/resource_cloud_stack_service_account_rotating_token_test.go
  internal/resources/cloud/resource_cloud_stack_service_account_test.go
  internal/resources/cloud/resource_cloud_stack_service_account_token.go
  internal/resources/cloud/resources.go
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

chore: remove dependabot in favor of renovate
  .github/dependabot.yml
Owners: @grafana/platform-monitoring

Faro: Update endpoint-logic with region cutoff dates (#2446)
  internal/resources/frontendo11y/common.go
  internal/resources/frontendo11y/data_source_frontend_o11y_app.go
  internal/resources/frontendo11y/resource_frontend_o11y_app.go
Owners: @grafana/frontend-o11y

chore: update test matrix to Grafana 11.6.8 and 12.3.0
  .github/workflows/acc-tests.yml
  GNUmakefile
  internal/resources/grafana/resource_alerting_notification_policy_test.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

fix: update error detection
  internal/resources/grafana/resource_library_panel.go
  internal/resources/grafana/resource_playlist.go
Owners: @grafana/platform-monitoring

applatform: remove dynamic types from alertrule resource
  docs/resources/apps_rules_alertrule_v0alpha1.md
  examples/resources/grafana_apps_rules_alertrule_v0alpha1/resource.tf
  internal/resources/appplatform/alertrule_resource.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

applatform: remove dynamic types from alertrule resource (#2463)
  docs/resources/apps_rules_alertrule_v0alpha1.md
  examples/resources/grafana_apps_rules_alertrule_v0alpha1/resource.tf
  internal/resources/appplatform/alertrule_resource.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

applatform: remove dynamic types from alertrule resource using map
  docs/resources/apps_rules_alertrule_v0alpha1.md
  examples/resources/grafana_apps_rules_alertrule_v0alpha1/resource.tf
  internal/resources/appplatform/alertrule_resource.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

feat(grafana): increase notification policy depth to 5
  docs/resources/notification_policy.md
  internal/resources/grafana/resource_alerting_notification_policy.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

applatform: remove dynamic types from alertrule resource using map (#2465)
  docs/resources/apps_rules_alertrule_v0alpha1.md
  examples/resources/grafana_apps_rules_alertrule_v0alpha1/resource.tf
  internal/resources/appplatform/alertrule_resource.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

feat(grafana): increase notification policy depth to 5 (#2466)
  docs/resources/notification_policy.md
  internal/resources/grafana/resource_alerting_notification_policy.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Add a ListCollectors cache the collectorResource
  internal/resources/fleetmanagement/resource_collector.go
Owners: @grafana/fleet-management-backend

Reset the cache after performing a mutating action
  internal/resources/fleetmanagement/resource_collector.go
Owners: @grafana/fleet-management-backend
