Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/dashboards-squad, @grafana/plugins-platform-backend, @grafana/grafana-search-and-storage, @grafana/grafana-backend-group, @grafana/grafana-app-platform-squad, @grafana/sharing-squad, @grafana/identity-squad, @grafana/access-squad, @grafana/grafana-com-maintainers, @grafana/middleware-apps, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring

Create custom type for Alloy config
  go.mod
  go.sum
  internal/resources/fleetmanagement/alloy_config_type.go
  internal/resources/fleetmanagement/alloy_config_type_test.go
  internal/resources/fleetmanagement/alloy_config_value.go
  internal/resources/fleetmanagement/alloy_config_value_test.go
Owners: @grafana/platform-monitoring

Add Fleet Management fields to Cloud Stack
  internal/resources/cloud/data_source_cloud_stack_test.go
  internal/resources/cloud/resource_cloud_stack.go
  internal/resources/cloud/resource_cloud_stack_test.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Include Fleet Management in TestAccExamples
  internal/resources/examples_test.go
Owners: @grafana/platform-monitoring

Add acceptance tests
  internal/resources/fleetmanagement/resource_collector_test.go
  internal/resources/fleetmanagement/resource_pipeline_test.go
  internal/testutils/provider.go
Owners: @grafana/platform-monitoring

Include resources in provider
  internal/resources/fleetmanagement/resources.go
  pkg/provider/resources.go
Owners: @grafana/platform-monitoring

Create Collector resource
  internal/resources/fleetmanagement/resource_collector.go
Owners: @grafana/platform-monitoring

Add Collector and Pipeline proto code (to be replaced by import)
  go.mod
  go.sum
  internal/common/fleetmanagementapi/gen/proto/go/collector/v1/collector.pb.go
  internal/common/fleetmanagementapi/gen/proto/go/collector/v1/collectorv1connect/collector.connect.go
  internal/common/fleetmanagementapi/gen/proto/go/pipeline/v1/pipeline.pb.go
  internal/common/fleetmanagementapi/gen/proto/go/pipeline/v1/pipelinev1connect/pipeline.connect.go
Owners: @grafana/platform-monitoring

Create Pipeline model
  internal/resources/fleetmanagement/model_pipeline.go
  internal/resources/fleetmanagement/model_pipeline_test.go
Owners: @grafana/platform-monitoring

Generate documentation
  docs/data-sources/cloud_stack.md
  docs/index.md
  docs/resources/cloud_stack.md
  docs/resources/fleet_management_collector.md
  docs/resources/fleet_management_pipeline.md
Owners: @grafana/platform-monitoring

Create Pipeline resource
  internal/resources/fleetmanagement/resource_pipeline.go
Owners: @grafana/platform-monitoring

Create Fleet Management client
  internal/common/fleetmanagementapi/client.go
  internal/common/fleetmanagementapi/client_test.go
Owners: @grafana/platform-monitoring

Configure Fleet Management client in provider
  internal/common/client.go
  pkg/provider/configure_clients.go
  pkg/provider/framework_provider.go
  pkg/provider/legacy_provider.go
Owners: @grafana/platform-monitoring

Add Fleet Management category
  internal/common/resource.go
Owners: @grafana/platform-monitoring

Implement utility functions
  internal/resources/fleetmanagement/utils.go
  internal/resources/fleetmanagement/utils_test.go
Owners: @grafana/platform-monitoring

Implement common resource function
  internal/resources/fleetmanagement/common.go
Owners: @grafana/platform-monitoring

Create Collector resource
  internal/resources/fleetmanagement/resource_collector.go
Owners: @grafana/platform-monitoring

Create Collector model
  internal/resources/fleetmanagement/model_collector.go
  internal/resources/fleetmanagement/model_collector_test.go
Owners: @grafana/platform-monitoring

Create custom type for Alloy config
  go.mod
  go.sum
  internal/resources/fleetmanagement/alloy_config_type.go
  internal/resources/fleetmanagement/alloy_config_type_test.go
  internal/resources/fleetmanagement/alloy_config_value.go
  internal/resources/fleetmanagement/alloy_config_value_test.go
Owners: @grafana/platform-monitoring

Create Pipeline resource
  internal/resources/fleetmanagement/resource_pipeline.go
Owners: @grafana/platform-monitoring

Create Pipeline model
  internal/resources/fleetmanagement/model_pipeline.go
  internal/resources/fleetmanagement/model_pipeline_test.go
Owners: @grafana/platform-monitoring

Add resource examples
  examples/resources/grafana_fleet_management_collector/import.sh
  examples/resources/grafana_fleet_management_collector/resource.tf
  examples/resources/grafana_fleet_management_pipeline/import.sh
  examples/resources/grafana_fleet_management_pipeline/resource.tf
Owners: @grafana/platform-monitoring

Include resources in provider
  internal/resources/fleetmanagement/resources.go
  pkg/provider/resources.go
Owners: @grafana/platform-monitoring

Update provider examples
  examples/provider/provider-fleet-management.tf
  templates/index.md.tmpl
Owners: @grafana/platform-monitoring

Generate documentation
  docs/data-sources/cloud_stack.md
  docs/index.md
  docs/resources/cloud_stack.md
  docs/resources/fleet_management_collector.md
  docs/resources/fleet_management_pipeline.md
Owners: @grafana/platform-monitoring

Include Fleet Management in TestAccExamples
  internal/resources/examples_test.go
Owners: @grafana/platform-monitoring

Add acceptance tests
  internal/resources/fleetmanagement/resource_collector_test.go
  internal/resources/fleetmanagement/resource_pipeline_test.go
  internal/testutils/provider.go
Owners: @grafana/platform-monitoring

Fix make alert rule uid settable to avoid accidental overwriting of existing rule history
  docs/resources/rule_group.md
  internal/resources/grafana/resource_alerting_rule_group.go
  internal/resources/grafana/resource_alerting_rule_group_test.go
  pkg/generate/generate_test.go
  pkg/generate/testdata/generate/alerting-in-org.tf
  pkg/generate/testdata/generate/alerting-in-org/resources.tf.tmpl
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Add support for the Azure credentials resource (#1907)
  docs/data-sources/cloud_provider_azure_credential.md
  docs/resources/cloud_provider_azure_credential.md
  examples/data-sources/grafana_cloud_provider_azure_credential/data-source.tf
  examples/resources/grafana_cloud_provider_azure_credential/import.sh
  examples/resources/grafana_cloud_provider_azure_credential/resource.tf
  internal/common/cloudproviderapi/client.go
  internal/resources/cloudprovider/azure_credential_test.go
  internal/resources/cloudprovider/data_source_azure_credential.go
  internal/resources/cloudprovider/resource_azure_credential.go
  internal/resources/cloudprovider/resources.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Add static labels to the CloudWatch jobs
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_job.md
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_jobs.md
  docs/resources/cloud_provider_aws_cloudwatch_scrape_job.md
  internal/common/cloudproviderapi/client.go
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/models.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Fix type
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Update docs
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_job.md
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_jobs.md
  docs/resources/cloud_provider_aws_cloudwatch_scrape_job.md
Owners: @grafana/platform-monitoring

Update tests
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_job.md
  docs/index.md
  docs/resources/cloud_provider_aws_cloudwatch_scrape_job.md
  examples/data-sources/grafana_cloud_provider_aws_cloudwatch_scrape_job/data-source.tf
  examples/resources/grafana_cloud_provider_aws_cloudwatch_scrape_job/resource.tf
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job_test.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Remove fmt function
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job_test.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Add PDC network and PDC network token resources
  internal/common/resource.go
  internal/resources/cloud/common_lister.go
  internal/resources/cloud/resource_private_datasource_connect.go
  internal/resources/cloud/resource_private_datasource_connect_token.go
  internal/resources/cloud/resources.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Rename static_labels -> static_label
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_job.md
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_jobs.md
  docs/resources/cloud_provider_aws_cloudwatch_scrape_job.md
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job_test.go
  internal/resources/cloudprovider/models.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Support PDC in data sources
  docs/data-sources/data_source.md
  docs/resources/data_source.md
  internal/resources/grafana/resource_data_source.go
Owners: @grafana/platform-monitoring, @grafana/plugins-platform-backend

Add examples and generate docs
  docs/resources/cloud_private_datasource_connect.md
  docs/resources/cloud_private_datasource_connect_token.md
  examples/resources/grafana_cloud_private_datasource_connect/import.sh
  examples/resources/grafana_cloud_private_datasource_connect/resource.tf
  examples/resources/grafana_cloud_private_datasource_connect_token/import.sh
  examples/resources/grafana_cloud_private_datasource_connect_token/resource.tf
Owners: @grafana/platform-monitoring

Regen
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring

Update data source property name
  docs/data-sources/data_source.md
  docs/resources/data_source.md
  internal/resources/grafana/resource_data_source.go
Owners: @grafana/platform-monitoring, @grafana/plugins-platform-backend

Add PDC network data sources
  docs/data-sources/cloud_private_data_source_connect_networks.md
  internal/resources/cloud/data_source_private_data_source_connect_network.go
  internal/resources/cloud/resources.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting*             @grafana/platform-monitoring @grafana/alerting-squad
/internal/resources/grafana/*_dashboard*            @grafana/platform-monitoring @grafana/dashboards-squad
/internal/resources/grafana/*_data_source*          @grafana/platform-monitoring @grafana/plugins-platform-backend
/internal/resources/grafana/*_folder*               @grafana/platform-monitoring @grafana/grafana-search-and-storage
/internal/resources/grafana/*_library_panel*        @grafana/platform-monitoring @grafana/dashboards-squad
/internal/resources/grafana/*_organization*         @grafana/platform-monitoring @grafana/grafana-backend-group
/internal/resources/grafana/*_playlist*             @grafana/platform-monitoring @grafana/grafana-app-platform-squad
/internal/resources/grafana/*_report*               @grafana/platform-monitoring @grafana/sharing-squad
/internal/resources/grafana/*_role*                 @grafana/platform-monitoring @grafana/identity-squad
/internal/resources/grafana/*_service_accounts*     @grafana/platform-monitoring @grafana/identity-squad
/internal/resources/grafana/*_sso*                  @grafana/platform-monitoring @grafana/identity-squad
/internal/resources/grafana/*_team*                 @grafana/platform-monitoring @grafana/access-squad
/internal/resources/grafana/*_user*                 @grafana/platform-monitoring @grafana/access-squad
/internal/resources/cloud/*                         @grafana/platform-monitoring @grafana/grafana-com-maintainers
/internal/resources/cloudprovider/*                 @grafana/platform-monitoring @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/platform-monitoring @grafana/middleware-apps
/internal/resources/machinelearning/*               @grafana/platform-monitoring @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/platform-monitoring @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/platform-monitoring @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/platform-monitoring @grafana/synthetic-monitoring
