Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/grafana-com-maintainers, @grafana/identity-squad, @grafana/asserts, @grafana/middleware-apps, @grafana/fleet-management-backend, @grafana/frontend-o11y, @grafana/k6-cloud-provisioning, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring, @grafana/grafana-app-platform-squad

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting_*            @grafana/alerting-squad
/internal/resources/cloud/*                         @grafana/grafana-com-maintainers
/internal/resources/cloud/*_access_policy_*         @grafana/identity-squad
/internal/resources/grafana/*_organization_user*    @grafana/identity-squad
/internal/resources/asserts/*                       @grafana/asserts
/internal/resources/cloudprovider/*                 @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/middleware-apps
/internal/resources/fleetmanagement/*               @grafana/fleet-management-backend
/internal/resources/frontendo11y/*                  @grafana/frontend-o11y
/internal/resources/k6/*                            @grafana/k6-cloud-provisioning
/internal/resources/machinelearning/*               @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/synthetic-monitoring
/internal/resources/appplatform/*                   @grafana/grafana-app-platform-squad
/internal/resources/appplatform/alertenrichment*    @grafana/alerting-squad

Updated to set a new default
  docs/resources/data_source_cache_config.md
  internal/resources/grafana/resource_data_source_cache_config.go
Owners: @grafana/platform-monitoring

Added to catalog resources
  internal/resources/grafana/catalog-resource.yaml
Owners: @grafana/platform-monitoring

Update internal/resources/grafana/catalog-resource.yaml
  internal/resources/grafana/catalog-resource.yaml
Owners: @grafana/platform-monitoring

Added logic to check for existence before disabling
  internal/resources/grafana/resource_data_source_cache_config.go
  internal/resources/grafana/resource_data_source_cache_config_test.go
Owners: @grafana/platform-monitoring

regen provider schema after rebase
  provider_schema.json
Owners: @grafana/platform-monitoring

4915: Add grafana_asserts_stack resource for Stack V2 API (#2523)
  .github/workflows/acc-tests.yml
  docs/resources/asserts_stack.md
  examples/resources/grafana_asserts_stack/import.sh
  examples/resources/grafana_asserts_stack/resource.tf
  go.mod
  go.sum
  internal/resources/asserts/catalog-resource.yaml
  internal/resources/asserts/resource_stack.go
  internal/resources/asserts/resource_stack_test.go
  internal/resources/asserts/resource_trace_config.go
  internal/resources/asserts/resource_trace_config_test.go
  internal/resources/asserts/resources.go
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring, @grafana/asserts

Migrate grafana annotations
  internal/resources/grafana/resource_annotation_fw.go
  internal/resources/grafana/resources.go
Owners: @grafana/platform-monitoring

fix(oncall): make integration labels idempotent
  internal/resources/oncall/resource_integration.go
  internal/resources/oncall/resource_integration_labels_test.go
Owners: @grafana/grafana-irm-backend

feat: add alertmanager_uid support for contact points and notification policies
  docs/resources/contact_point.md
  docs/resources/notification_policy.md
  examples/resources/grafana_contact_point/_acc_external_alertmanager.tf
  examples/resources/grafana_notification_policy/_acc_external_alertmanager.tf
  go.mod
  go.sum
  internal/resources/grafana/alerting_amconfig_api.go
  internal/resources/grafana/alerting_amconfig_api_test.go
  internal/resources/grafana/alerting_amconfig_helpers.go
  internal/resources/grafana/alerting_amconfig_helpers_test.go
  internal/resources/grafana/resource_alerting_contact_point.go
  internal/resources/grafana/resource_alerting_contact_point_test.go
  internal/resources/grafana/resource_alerting_notification_policy.go
  internal/resources/grafana/resource_alerting_notification_policy_test.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

secure values
  internal/resources/appplatform/implementation_plans/secure_block_support.md
  internal/resources/appplatform/resource.go
  internal/resources/appplatform/resource_test.go
  internal/resources/appplatform/secure_values.md
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

secureValueAttribute
  internal/resources/appplatform/implementation_plans/secure_block_support.md
  internal/resources/appplatform/resource.go
  internal/resources/appplatform/resource_test.go
  internal/resources/appplatform/secure_values.md
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

fix: sort issue with frontend_o11y_app
  internal/resources/frontendo11y/models.go
  internal/resources/frontendo11y/models_test.go
Owners: @grafana/frontend-o11y

simplify
  internal/resources/appplatform/implementation_plans/secure_block_support.md
  internal/resources/appplatform/resource.go
  internal/resources/appplatform/resource_test.go
  internal/resources/appplatform/secure_values.md
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

generic secure support fixes
  internal/resources/appplatform/implementation_plans/secure_block_support.md
  internal/resources/appplatform/resource.go
  internal/resources/appplatform/resource_test.go
  internal/resources/appplatform/secure_subresource_support.go
  internal/resources/appplatform/secure_subresource_support_test.go
  internal/resources/appplatform/secure_values.md
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

git sync support
  examples/resources/grafana_apps_provisioning_connection_v0alpha1/resource.tf
  examples/resources/grafana_apps_provisioning_repository_v0alpha1/resource.tf
  go.mod
  go.sum
  internal/resources/appplatform/connection_resource.go
  internal/resources/appplatform/implementation_plans/git_sync_resources.md
  internal/resources/appplatform/repository_resource.go
  pkg/provider/resources.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

simplify
  go.sum
  internal/resources/appplatform/connection_resource.go
  internal/resources/appplatform/repository_resource.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

fix(syntheticmonitoring): add mutex to prevent concurrent API request issues
  internal/common/client.go
  internal/resources/syntheticmonitoring/resources.go
Owners: @grafana/platform-monitoring, @grafana/synthetic-monitoring

go mod tidy
  go.mod
  go.sum
Owners: @grafana/platform-monitoring

Fix doc test
  docs/resources/annotation.md
  internal/resources/grafana/resource_annotation_fw.go
Owners: @grafana/platform-monitoring

Remove SDK implementation
  internal/resources/grafana/resource_annotation.go
Owners: @grafana/platform-monitoring

Fix resource ID
  internal/resources/grafana/resource_annotation_fw.go
Owners: @grafana/platform-monitoring

add acceptance tests
  internal/resources/appplatform/inhibitionrule_resource_acc_test.go
Owners: @grafana/grafana-app-platform-squad

alerting: add inhibition rule resource
  go.mod
  go.sum
  internal/resources/appplatform/inhibitionrule_resource.go
  pkg/provider/resources.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

add docs stub
  docs/resources/apps_notifications_inhibitionrule_v0alpha1.md
  examples/resources/grafana_apps_notifications_inhibitionrule_v0alpha1/resource.tf
Owners: @grafana/platform-monitoring

update catalog
  internal/resources/appplatform/catalog-resource.yaml
Owners: @grafana/grafana-app-platform-squad

skip tests for now
  internal/resources/appplatform/inhibitionrule_resource_acc_test.go
Owners: @grafana/grafana-app-platform-squad

fix(rules): Revert to dynamic type for expressions in recording and alert rules
  docs/resources/apps_rules_recordingrule_v0alpha1.md
  examples/resources/grafana_apps_rules_alertrule_v0alpha1/resource.tf
  examples/resources/grafana_apps_rules_recordingrule_v0alpha1/resource.tf
  internal/resources/appplatform/alertrule_resource.go
  internal/resources/appplatform/recordingrule_resource.go
  internal/resources/appplatform/rule_common.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

add validation
  internal/resources/appplatform/inhibitionrule_resource.go
Owners: @grafana/grafana-app-platform-squad

skip example test
  internal/resources/examples_test.go
Owners: @grafana/platform-monitoring

Fix read method
  internal/resources/grafana/resource_annotation_fw.go
Owners: @grafana/platform-monitoring

Rename annotation file
  internal/resources/grafana/resource_annotation.go
Owners: @grafana/platform-monitoring

Alerting: Enrichment is in public preview
  docs/resources/apps_alertenrichment_alertenrichment_v1beta1.md
  internal/resources/appplatform/alertenrichment_resource.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Alerting: add inhibition rules resource (#2544)
  docs/resources/apps_notifications_inhibitionrule_v0alpha1.md
  examples/resources/grafana_apps_notifications_inhibitionrule_v0alpha1/resource.tf
  go.mod
  go.sum
  internal/resources/appplatform/catalog-resource.yaml
  internal/resources/appplatform/inhibitionrule_resource.go
  internal/resources/appplatform/inhibitionrule_resource_acc_test.go
  internal/resources/examples_test.go
  pkg/provider/resources.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

Alerting: Enrichment is in public preview (#2547)
  docs/resources/apps_alertenrichment_alertenrichment_v1beta1.md
  internal/resources/appplatform/alertenrichment_resource.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Update docs
  docs/resources/annotation.md
  internal/resources/grafana/resource_annotation.go
Owners: @grafana/platform-monitoring

Merge branch 'main' into secrets
  docs/resources/apps_alertenrichment_alertenrichment_v1beta1.md
  docs/resources/apps_notifications_inhibitionrule_v0alpha1.md
  examples/resources/grafana_apps_notifications_inhibitionrule_v0alpha1/resource.tf
  go.mod
  go.sum
  internal/resources/appplatform/alertenrichment_resource.go
  internal/resources/appplatform/catalog-resource.yaml
  internal/resources/appplatform/inhibitionrule_resource.go
  internal/resources/appplatform/inhibitionrule_resource_acc_test.go
  internal/resources/examples_test.go
  pkg/provider/resources.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/grafana-app-platform-squad

fix: prevent panic in testAccDeleteExistingStacks when API call fails
  internal/resources/cloud/resource_cloud_stack_test.go
Owners: @grafana/grafana-com-maintainers

feat: add secrets manager resources (#2500)
  docker-compose.yml
  docs/resources/apps_secret_keeper_activation_v1beta1.md
  docs/resources/apps_secret_keeper_v1beta1.md
  docs/resources/apps_secret_securevalue_v1beta1.md
  examples/resources/grafana_keeper/import.sh
  examples/resources/grafana_keeper/resource.tf
  examples/resources/grafana_keeper_activation/import.sh
  examples/resources/grafana_keeper_activation/resource.tf
  examples/resources/grafana_secure_value/import.sh
  examples/resources/grafana_secure_value/resource.tf
  go.mod
  go.sum
  internal/resources/appplatform/catalog-resource.yaml
  internal/resources/appplatform/resource.go
  internal/resources/appplatform/secret_keeper_activation_resource.go
  internal/resources/appplatform/secret_keeper_resource.go
  internal/resources/appplatform/secret_keeper_resource_acc_test.go
  internal/resources/appplatform/secret_secure_value_resource.go
  internal/resources/appplatform/secret_secure_value_resource_acc_test.go
  internal/resources/appplatform/secret_shared.go
  internal/resources/appplatform/secrets_validators.go
  internal/resources/examples_test.go
  pkg/generate/postprocessing/replace_references.go
  pkg/provider/resources.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

fix: shorten test slug prefix to fit 29 character limit
  internal/resources/cloud/resource_cloud_stack_service_account_rotating_token_test.go
Owners: @grafana/grafana-com-maintainers

perf: reduce cloud test rate limiting with parallelism and retry tuning
  .github/workflows/cloud-acc-tests.yml
Owners: @grafana/platform-monitoring
