Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/grafana-com-maintainers, @grafana/identity-squad, @grafana/asserts, @grafana/middleware-apps, @grafana/fleet-management-backend, @grafana/frontend-o11y, @grafana/k6-cloud-provisioning, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring, @grafana/grafana-app-platform-squad

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting_*            @grafana/alerting-squad
/internal/resources/cloud/*                         @grafana/grafana-com-maintainers
/internal/resources/cloud/*_access_policy_*         @grafana/identity-squad
/internal/resources/grafana/*_organization_user*    @grafana/identity-squad
/internal/resources/asserts/*                       @grafana/asserts
/internal/resources/cloudprovider/*                 @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/middleware-apps
/internal/resources/fleetmanagement/*               @grafana/fleet-management-backend
/internal/resources/frontendo11y/*                  @grafana/frontend-o11y
/internal/resources/k6/*                            @grafana/k6-cloud-provisioning
/internal/resources/machinelearning/*               @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/synthetic-monitoring
/internal/resources/appplatform/*                   @grafana/grafana-app-platform-squad
/internal/resources/appplatform/alertenrichment*    @grafana/alerting-squad

Add cache reset for ImportState
  internal/resources/fleetmanagement/resource_collector.go
Owners: @grafana/fleet-management-backend

Add a ListCollectors cache the collectorResource (#2467)
  internal/resources/fleetmanagement/resource_collector.go
Owners: @grafana/fleet-management-backend

chore: remove dependabot in favor of renovate (#2453)
  .github/dependabot.yml
Owners: @grafana/platform-monitoring

docs(rotating-CAP-token): Specify valid units for durations
  docs/resources/cloud_access_policy_rotating_token.md
  internal/resources/cloud/resource_cloud_access_policy_rotating_token.go
Owners: @grafana/platform-monitoring, @grafana/identity-squad

docs(rotating-CAP-token): Fix units in example
  docs/resources/cloud_access_policy_rotating_token.md
  examples/resources/grafana_cloud_access_policy_rotating_token/resource.tf
Owners: @grafana/platform-monitoring

Fix Fleet Management Private Connectivity
  internal/resources/cloud/resource_cloud_stack.go
Owners: @grafana/grafana-com-maintainers

Set correct Prefix
  internal/resources/cloud/resource_cloud_stack.go
Owners: @grafana/grafana-com-maintainers

grafana_library_panel: add folder_uid
  docs/data-sources/library_panel.md
  docs/data-sources/library_panels.md
  docs/resources/library_panel.md
  examples/data-sources/grafana_library_panel/data-source.tf
  examples/data-sources/grafana_library_panels/data-source.tf
  examples/resources/grafana_library_panel/resource.tf
  internal/resources/grafana/data_source_library_panel_test.go
  internal/resources/grafana/data_source_library_panels_test.go
  internal/resources/grafana/resource_library_panel_test.go
Owners: @grafana/platform-monitoring

TestAccDatasourceRole_basic: ParallelTest -> Test
  internal/resources/grafana/data_source_role_test.go
Owners: @grafana/platform-monitoring

Skip TestAccFolder_createFromDifferentRoles
  internal/resources/grafana/resource_folder_test.go
Owners: @grafana/platform-monitoring

Skip TestAccPlaylist_basic
  internal/resources/examples_test.go
  internal/resources/grafana/resource_playlist_test.go
Owners: @grafana/platform-monitoring

Run tests on 11.6.0
  .github/workflows/acc-tests.yml
  GNUmakefile
  internal/resources/examples_test.go
Owners: @grafana/platform-monitoring

initial commit
  internal/common/cloudproviderapi/client.go
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job_test.go
  internal/resources/cloudprovider/models_aws_cloudwatch.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Add cloud resource test coverage
  internal/resources/cloud/poc_test.go
Owners: @grafana/grafana-com-maintainers

fix resource permission entries with empty subjects
  internal/resources/grafana/common_resource_permission_sdk2.go
  internal/resources/grafana/common_resource_permission_sdk2_test.go
Owners: @grafana/platform-monitoring

fix models
  internal/resources/cloudprovider/models_aws_cloudwatch.go
Owners: @grafana/middleware-apps

Update FM docs with link to step-by-step guide
  docs/data-sources/fleet_management_collector.md
  docs/data-sources/fleet_management_collectors.md
  docs/resources/fleet_management_collector.md
  docs/resources/fleet_management_pipeline.md
Owners: @grafana/platform-monitoring

Add links to step-by-step guide for Fleet Mgmt
  docs/data-sources/fleet_management_collector.md
  docs/data-sources/fleet_management_collectors.md
  docs/resources/fleet_management_collector.md
  docs/resources/fleet_management_pipeline.md
  internal/resources/fleetmanagement/data_source_collector.go
  internal/resources/fleetmanagement/data_source_collectors.go
  internal/resources/fleetmanagement/resource_collector.go
  internal/resources/fleetmanagement/resource_pipeline.go
Owners: @grafana/platform-monitoring, @grafana/fleet-management-backend

updating the public api version
  go.mod
  go.sum
Owners: @grafana/platform-monitoring

adding collector type to the resource and data models
  internal/resources/fleetmanagement/data_source_collector.go
  internal/resources/fleetmanagement/data_source_collectors.go
  internal/resources/fleetmanagement/model_collector.go
  internal/resources/fleetmanagement/resource_collector.go
Owners: @grafana/fleet-management-backend

update docs
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_job.md
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_jobs.md
  docs/resources/cloud_provider_aws_cloudwatch_scrape_job.md
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

blank collector type defaults to alloy for backwards compatibility
  internal/resources/fleetmanagement/model_collector_test.go
  internal/resources/fleetmanagement/resource_collector.go
  internal/resources/fleetmanagement/resource_collector_test.go
Owners: @grafana/fleet-management-backend

updating documentation
  docs/data-sources/fleet_management_collector.md
  docs/data-sources/fleet_management_collectors.md
  docs/resources/fleet_management_collector.md
Owners: @grafana/platform-monitoring

5017: Adding New Test for ManagedBy for threshold (#2468)
  examples/functions/k6bundle/function.tf
  internal/resources/asserts/resource_log_config_test.go
  internal/resources/asserts/resource_thresholds.go
  internal/resources/asserts/resource_thresholds_test.go
  templates/functions/k6bundle.md.tmpl
Owners: @grafana/platform-monitoring, @grafana/asserts

Alerting: Add jira contact point
  docs/resources/contact_point.md
  examples/resources/grafana_contact_point/_acc_jira.tf
  internal/resources/grafana/resource_alerting_contact_point.go
  internal/resources/grafana/resource_alerting_contact_point_notifiers.go
  internal/resources/grafana/resource_alerting_contact_point_test.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Alerting: Remove apps_rules_alertrule_v0alpha1 docs
  docs/resources/apps_rules_alertrule_v0alpha1.md
  templates/resources/apps_rules_alertrule_v0alpha1.md.tmpl
Owners: @grafana/platform-monitoring

Alerting: Add jira contact point (#2480)
  docs/resources/contact_point.md
  examples/resources/grafana_contact_point/_acc_jira.tf
  internal/resources/grafana/resource_alerting_contact_point.go
  internal/resources/grafana/resource_alerting_contact_point_notifiers.go
  internal/resources/grafana/resource_alerting_contact_point_test.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Alerting: Remove apps_rules_alertrule_v0alpha1 docs (#2472)
  docs/resources/apps_rules_alertrule_v0alpha1.md
  templates/resources/apps_rules_alertrule_v0alpha1.md.tmpl
Owners: @grafana/platform-monitoring

feat(stack): allow cluster name output
  docs/data-sources/cloud_stack.md
  docs/resources/cloud_stack.md
  internal/resources/cloud/resource_cloud_stack.go
  internal/resources/cloud/resource_cloud_stack_test.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

fix compilation errors after changes in clients spec.
  internal/resources/cloud/resource_cloud_access_policy.go
  internal/resources/cloud/resource_cloud_access_policy_token_test.go
  internal/resources/cloud/resource_cloud_stack.go
  internal/resources/cloud/resource_private_data_source_connect_network.go
  pkg/generate/cloud.go
Owners: @grafana/grafana-com-maintainers, @grafana/identity-squad, @grafana/platform-monitoring

use the very latest.
  go.mod
  go.sum
Owners: @grafana/platform-monitoring

fix(grafana): increment page when looking for service account
  internal/resources/grafana/data_source_service_account.go
Owners: @grafana/platform-monitoring

fix(grafana): increment page when looking for service account (#2493)
  internal/resources/grafana/data_source_service_account.go
Owners: @grafana/platform-monitoring

Fix Fleet Management Private Connectivity (#2369)
  internal/resources/cloud/resource_cloud_stack.go
Owners: @grafana/grafana-com-maintainers

Bump grafana-com-public-client dependency (#2476)
  go.mod
  go.sum
  internal/resources/cloud/resource_cloud_access_policy.go
  internal/resources/cloud/resource_cloud_access_policy_token_test.go
  internal/resources/cloud/resource_cloud_stack.go
  internal/resources/cloud/resource_private_data_source_connect_network.go
  pkg/generate/cloud.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers, @grafana/identity-squad

Use the stacks-api.
  internal/resources/cloud/resource_cloud_stack.go
Owners: @grafana/grafana-com-maintainers

fix linting.
  internal/resources/cloud/resource_cloud_stack.go
Owners: @grafana/grafana-com-maintainers

feat(stack): allow cluster name output (#2494)
  docs/data-sources/cloud_stack.md
  docs/resources/cloud_stack.md
  internal/resources/cloud/resource_cloud_stack.go
  internal/resources/cloud/resource_cloud_stack_test.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

docs(rotating-CAP-token): Specify valid units for durations (#2477)
  docs/resources/cloud_access_policy_rotating_token.md
  examples/resources/grafana_cloud_access_policy_rotating_token/resource.tf
  internal/resources/cloud/resource_cloud_access_policy_rotating_token.go
Owners: @grafana/platform-monitoring, @grafana/identity-squad

updating the public api version
  go.mod
  go.sum
Owners: @grafana/platform-monitoring
