Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/terraform-provider, @grafana/alerting-squad, @grafana/grafana-com-maintainers, @grafana/machine-learning, @grafana/grafana-oncall, @grafana/slo-squad, @grafana/synthetic-monitoring

.github/CODEOWNERS:

* @grafana/terraform-provider

/internal/resources/grafana/*_alerting_* @grafana/terraform-provider @grafana/alerting-squad
/internal/resources/cloud/* @grafana/terraform-provider @grafana/grafana-com-maintainers
/internal/resources/machinelearning/* @grafana/terraform-provider @grafana/machine-learning
/internal/resources/oncall/* @grafana/terraform-provider @grafana/grafana-oncall
/internal/resources/slo/* @grafana/terraform-provider @grafana/slo-squad
/internal/resources/syntheticmonitoring/* @grafana/terraform-provider @grafana/synthetic-monitoring

linting pt2
  internal/resources/grafana/resource_user.go
Owners: @grafana/terraform-provider

Users: ignore case when diffing email and login (#1512)
  internal/resources/grafana/resource_user.go
  internal/resources/grafana/resource_user_test.go
Owners: @grafana/terraform-provider

Update oncall_schedule.md
  docs/resources/oncall_schedule.md
Owners: @grafana/terraform-provider

Generate from the go file
  docs/resources/oncall_schedule.md
  internal/resources/oncall/resource_schedule.go
Owners: @grafana/terraform-provider, @grafana/grafana-oncall

Update oncall_schedule.md (#1513)
  docs/resources/oncall_schedule.md
  internal/resources/oncall/resource_schedule.go
Owners: @grafana/terraform-provider, @grafana/grafana-oncall

Fix linting
  cmd/generate/terraform_test.go
Owners: @grafana/terraform-provider

Code Generation: Support json format The config generation feature from the Terraform CLI supports only HCL format, but we can convert to JSON at the end of the process
  cmd/generate/generate.go
  cmd/generate/terraform.go
  cmd/generate/terraform_test.go
  cmd/generate/testdata/testblocks.hcl
  cmd/generate/testdata/testblocks.hcl.json
  go.mod
  go.sum
Owners: @grafana/terraform-provider

Appease gosec
  cmd/generate/terraform_test.go
Owners: @grafana/terraform-provider

Terraform Code Generation: Add "lister" function interface (#1501)
  internal/common/resource.go
  internal/resources/cloud/common_lister.go
  internal/resources/cloud/resource_cloud_access_policy.go
  internal/resources/cloud/resource_cloud_api_key.go
  internal/resources/cloud/resource_cloud_plugin.go
  internal/resources/cloud/resource_cloud_stack.go
Owners: @grafana/terraform-provider, @grafana/grafana-com-maintainers

Terraform Code Generation: Add listers for Grafana resources (#1504)
  internal/resources/grafana/common_lister.go
  internal/resources/grafana/resource_alerting_contact_point.go
  internal/resources/grafana/resource_alerting_message_template.go
  internal/resources/grafana/resource_alerting_mute_timing.go
  internal/resources/grafana/resource_alerting_notification_policy.go
  internal/resources/grafana/resource_alerting_rule_group.go
  internal/resources/grafana/resource_dashboard.go
  internal/resources/grafana/resource_data_source.go
  internal/resources/grafana/resource_folder.go
  internal/resources/grafana/resource_organization.go
  internal/resources/syntheticmonitoring/resource_check.go
  internal/resources/syntheticmonitoring/resource_probe.go
Owners: @grafana/terraform-provider, @grafana/alerting-squad, @grafana/synthetic-monitoring

Code Generation: Support json format (#1519)
  cmd/generate/generate.go
  cmd/generate/terraform.go
  cmd/generate/terraform_test.go
  cmd/generate/testdata/testblocks.hcl
  cmd/generate/testdata/testblocks.hcl.json
  go.mod
  go.sum
Owners: @grafana/terraform-provider

Generate docs
  docs/resources/oncall_integration.md
  docs/resources/playlist.md
Owners: @grafana/terraform-provider

Code Generation: Working prototype for Grafana (#1514)
  cmd/generate/generate.go
  cmd/generate/grafana.go
  cmd/generate/terraform.go
  internal/resources/grafana/common_lister.go
Owners: @grafana/terraform-provider

Upgrade Grafana client to latest version Need to merge https://github.com/grafana/grafana-openapi-client-go/pull/92 first and change the reference This PR is used as a test as well!
  go.mod
  go.sum
Owners: @grafana/terraform-provider

Upgrade Grafana client to latest version (#1521)
  go.mod
  go.sum
Owners: @grafana/terraform-provider

Code Generation: Grafana Cloud Implements Terraform config generation for everything Grafana Cloud-related, including SM resources
  cmd/generate/cloud.go
  cmd/generate/generate.go
  cmd/generate/terraform.go
  cmd/generate/terraform_state.go
Owners: @grafana/terraform-provider

Remove support fo `;` in contact points
  internal/resources/grafana/resource_alerting_contact_point.go
  internal/resources/grafana/resource_alerting_contact_point_test.go
Owners: @grafana/terraform-provider, @grafana/alerting-squad

Remove more `;` separators
  internal/resources/grafana/resource_alerting_rule_group_test.go
Owners: @grafana/terraform-provider, @grafana/alerting-squad

add integration ds
  examples/data-sources/grafana_oncall_integration/data-source.tf
  examples/resources/grafana_oncall_route/resource.tf
  internal/resources/oncall/data_source_integrations.go
  internal/resources/oncall/data_source_integrations_test.go
  internal/resources/oncall/resources.go
Owners: @grafana/terraform-provider, @grafana/grafana-oncall

add integration ds
  examples/resources/grafana_oncall_route/resource.tf
  internal/resources/oncall/data_source_integrations.go
  internal/resources/oncall/data_source_integrations_test.go
Owners: @grafana/terraform-provider, @grafana/grafana-oncall

fix spelling
  internal/resources/oncall/data_source_integration.go
  internal/resources/oncall/data_source_integration_test.go
Owners: @grafana/terraform-provider, @grafana/grafana-oncall

fix spelling
  docs/resources/oncall_route.md
  tools/subcategories.json
Owners: @grafana/terraform-provider

test
  internal/resources/oncall/data_source_integration_test.go
Owners: @grafana/terraform-provider, @grafana/grafana-oncall

undo
  docs/resources/oncall_route.md
Owners: @grafana/terraform-provider

lint
  internal/resources/oncall/data_source_integration_test.go
Owners: @grafana/terraform-provider, @grafana/grafana-oncall

Code Generation: Grafana Cloud (#1528)
  cmd/generate/cloud.go
  cmd/generate/generate.go
  cmd/generate/terraform.go
  cmd/generate/terraform_state.go
Owners: @grafana/terraform-provider

Simplify tests
  internal/resources/oncall/data_source_integration_test.go
Owners: @grafana/terraform-provider, @grafana/grafana-oncall

Generate docs
  docs/data-sources/oncall_integration.md
  docs/resources/oncall_route.md
Owners: @grafana/terraform-provider

Grafana oncall integration data source (#1532)
  docs/data-sources/oncall_integration.md
  docs/resources/oncall_route.md
  examples/data-sources/grafana_oncall_integration/data-source.tf
  examples/resources/grafana_oncall_route/resource.tf
  internal/resources/oncall/data_source_integration.go
  internal/resources/oncall/data_source_integration_test.go
  internal/resources/oncall/resources.go
  tools/subcategories.json
Owners: @grafana/terraform-provider, @grafana/grafana-oncall

Datasources: Fix numerical UIDs (#1531)
  internal/resources/grafana/resource_data_source.go
  internal/resources/grafana/resource_data_source_test.go
Owners: @grafana/terraform-provider

tfgen!
  cmd/generate/cloud.go
  cmd/generate/crossplane.go
  cmd/generate/generate.go
  cmd/generate/grafana.go
  cmd/generate/postprocessing.go
  cmd/generate/terraform_state.go
  go.mod
  internal/resources/slo/resource_slo.go
Owners: @grafana/terraform-provider, @grafana/slo-squad

Code Generation: Functional Alpha version Everything remaining that was implemented in the hackathon This is very unclean code but it works (on my machine/cloud account)
  cmd/generate/cloud.go
  cmd/generate/generate.go
  cmd/generate/grafana.go
  cmd/generate/postprocessing.go
  cmd/generate/terraform.go
  cmd/generate/terraform_test.go
  cmd/generate/testdata/testblocks.tf
  cmd/generate/testdata/testblocks.tf.json
  internal/resources/grafana/resource_alerting_contact_point.go
  internal/resources/grafana/resource_organization.go
  internal/resources/slo/resource_slo.go
  internal/resources/syntheticmonitoring/resource_check.go
Owners: @grafana/terraform-provider, @grafana/alerting-squad, @grafana/slo-squad, @grafana/synthetic-monitoring

Code Generation: Functional Alpha version (#1533)
  cmd/generate/cloud.go
  cmd/generate/generate.go
  cmd/generate/grafana.go
  cmd/generate/postprocessing.go
  cmd/generate/terraform.go
  cmd/generate/terraform_test.go
  cmd/generate/testdata/testblocks.tf
  cmd/generate/testdata/testblocks.tf.json
  internal/resources/grafana/resource_alerting_contact_point.go
  internal/resources/grafana/resource_organization.go
  internal/resources/slo/resource_slo.go
  internal/resources/syntheticmonitoring/resource_check.go
Owners: @grafana/terraform-provider, @grafana/alerting-squad, @grafana/slo-squad, @grafana/synthetic-monitoring

go mod tidy
  go.mod
Owners: @grafana/terraform-provider

add apikey return a error instead
  internal/resources/grafana/resource_api_key.go
  internal/resources/grafana/resource_api_key_test.go
Owners: @grafana/terraform-provider

internal test to create service accounts
  internal/resources/grafana/common_check_exists_test.go
Owners: @grafana/terraform-provider

removed the added service account common test
  internal/resources/grafana/common_check_exists_test.go
Owners: @grafana/terraform-provider

fix and improve SAML validations
  internal/resources/grafana/resource_sso_settings.go
  internal/resources/grafana/resource_sso_settings_test.go
Owners: @grafana/terraform-provider

fix indentation
  internal/resources/grafana/resource_sso_settings_test.go
Owners: @grafana/terraform-provider

Cloud Stacks: Better "wait for readiness" (#1545)
  internal/resources/cloud/resource_cloud_stack.go
  internal/resources/cloud/resource_cloud_stack_service_account.go
  internal/resources/cloud/resource_cloud_stack_service_account_token.go
Owners: @grafana/terraform-provider, @grafana/grafana-com-maintainers
