Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/grafana-com-maintainers, @grafana/identity-squad, @grafana/asserts, @grafana/middleware-apps, @grafana/fleet-management-backend, @grafana/frontend-o11y, @grafana/k6-cloud-provisioning, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring, @grafana/grafana-app-platform-squad

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting_*            @grafana/alerting-squad
/internal/resources/cloud/*                         @grafana/grafana-com-maintainers
/internal/resources/cloud/*_access_policy_*         @grafana/identity-squad
/internal/resources/grafana/*_organization_user*    @grafana/identity-squad
/internal/resources/asserts/*                       @grafana/asserts
/internal/resources/cloudprovider/*                 @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/middleware-apps
/internal/resources/fleetmanagement/*               @grafana/fleet-management-backend
/internal/resources/frontendo11y/*                  @grafana/frontend-o11y
/internal/resources/k6/*                            @grafana/k6-cloud-provisioning
/internal/resources/machinelearning/*               @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/synthetic-monitoring
/internal/resources/appplatform/*                   @grafana/grafana-app-platform-squad
/internal/resources/appplatform/alertenrichment*    @grafana/alerting-squad

Removing WithPreferredResourceNameField
  internal/resources/grafana/resource_alerting_message_template.go
  pkg/generate/testdata/generate/alerting-in-org/imports.tf
  pkg/generate/testdata/generate/alerting-in-org/resources.tf.tmpl
Owners: @grafana/alerting-squad, @grafana/platform-monitoring

Remove alertingMessageTemplateCheckExists modification
  internal/resources/grafana/common_check_exists_test.go
Owners: @grafana/platform-monitoring

Set disable_provenance as computed when using default
  internal/resources/grafana/resource_alerting_message_template.go
Owners: @grafana/alerting-squad

Add back listMessageTemplate comment
  internal/resources/grafana/resource_alerting_message_template.go
Owners: @grafana/alerting-squad

Strip disable_provenance default field when generating
  pkg/generate/grafana.go
Owners: @grafana/platform-monitoring

Address linting
  docs/resources/message_template.md
  internal/resources/grafana/common_plugin_framework.go
  internal/resources/grafana/resource_alerting_message_template.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Remove doc changes
  docs/resources/message_template.md
  internal/resources/grafana/resource_alerting_message_template.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

remove fields added during merge
  internal/resources/appplatform/resource.go
Owners: @grafana/grafana-app-platform-squad

Migrate public dashboard resource to foundation SDK
  internal/resources/grafana/resource_dashboard_public.go
Owners: @grafana/platform-monitoring

Update docs
  docs/resources/dashboard_public.md
Owners: @grafana/platform-monitoring

Fix linter issue
  internal/resources/grafana/resource_dashboard_public.go
Owners: @grafana/platform-monitoring

Migrate grafana_alerting_message_template to use Framework SDK (#2567)
  internal/common/client.go
  internal/resources/grafana/common_plugin_framework.go
  internal/resources/grafana/resource_alerting_message_template.go
  pkg/generate/testdata/generate/alerting-in-org/resources.tf.tmpl
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

add bitbucket/gitlab
  docs/resources/apps_provisioning_repository_v0alpha1.md
  examples/resources/grafana_apps_provisioning_repository_v0alpha1/bitbucket-token-folder.tf
  examples/resources/grafana_apps_provisioning_repository_v0alpha1/gitlab-token-folder.tf
  templates/resources/apps_provisioning_repository_v0alpha1.md.tmpl
Owners: @grafana/platform-monitoring

Git Sync: Update examples / codegen (#2594)
  docs/resources/apps_provisioning_connection_v0alpha1.md
  docs/resources/apps_provisioning_repository_v0alpha1.md
  examples/resources/grafana_apps_provisioning_connection_v0alpha1/resource.tf
  examples/resources/grafana_apps_provisioning_repository_v0alpha1/bitbucket-token-folder.tf
  examples/resources/grafana_apps_provisioning_repository_v0alpha1/github-app-folder.tf
  examples/resources/grafana_apps_provisioning_repository_v0alpha1/github-token-folder.tf
  examples/resources/grafana_apps_provisioning_repository_v0alpha1/gitlab-token-folder.tf
  examples/resources/grafana_apps_provisioning_repository_v0alpha1/local-repo-folder.tf
  examples/resources/grafana_apps_provisioning_repository_v0alpha1/pure-git-folder.tf
  pkg/generate/postprocessing/replace_references.go
  templates/resources/apps_provisioning_repository_v0alpha1.md.tmpl
Owners: @grafana/platform-monitoring
