Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/terraform-provider, @grafana/alerting-squad, @grafana/grafana-com-maintainers, @grafana/machine-learning, @grafana/grafana-oncall, @grafana/slo-squad, @grafana/synthetic-monitoring

.github/CODEOWNERS:

* @grafana/terraform-provider

/internal/resources/grafana/*_alerting_* @grafana/terraform-provider @grafana/alerting-squad
/internal/resources/cloud/* @grafana/terraform-provider @grafana/grafana-com-maintainers
/internal/resources/machinelearning/* @grafana/terraform-provider @grafana/machine-learning
/internal/resources/oncall/* @grafana/terraform-provider @grafana/grafana-oncall
/internal/resources/slo/* @grafana/terraform-provider @grafana/slo-squad
/internal/resources/syntheticmonitoring/* @grafana/terraform-provider @grafana/synthetic-monitoring

Update internal/resources/syntheticmonitoring/resource_check.go
  internal/resources/syntheticmonitoring/resource_check.go
Owners: @grafana/terraform-provider, @grafana/synthetic-monitoring

Update synthetic_monitoring_check.md
  docs/resources/synthetic_monitoring_check.md
Owners: @grafana/terraform-provider

Update resource_check.go
  internal/resources/syntheticmonitoring/resource_check.go
Owners: @grafana/terraform-provider, @grafana/synthetic-monitoring

Update synthetic monitoring frequency value validation (#1561)
  docs/resources/synthetic_monitoring_check.md
  internal/resources/syntheticmonitoring/resource_check.go
Owners: @grafana/terraform-provider, @grafana/synthetic-monitoring

Update synthetic monitoring frequency value validation (#1561)
  docs/resources/synthetic_monitoring_check.md
  internal/resources/syntheticmonitoring/resource_check.go
Owners: @grafana/terraform-provider, @grafana/synthetic-monitoring

Clear out CHANGELOG.md (#1560)
  CHANGELOG.md
Owners: @grafana/terraform-provider

Update auth key
  docs/index.md
Owners: @grafana/terraform-provider

Run tests on Grafana v11 Update other versions, drop v8 support
  .github/workflows/acc-tests.yml
  GNUmakefile
  docs/resources/message_template.md
  docs/resources/mute_timing.md
  docs/resources/notification_policy.md
  internal/resources/examples_test.go
  internal/resources/grafana/common_check_exists_test.go
  internal/resources/grafana/resource_alerting_message_template.go
  internal/resources/grafana/resource_alerting_mute_timing.go
  internal/resources/grafana/resource_alerting_notification_policy.go
  internal/resources/grafana/resource_alerting_rule_group_test.go
  internal/resources/grafana/resource_sso_settings_test.go
Owners: @grafana/terraform-provider, @grafana/alerting-squad

Run tests on Grafana v11 (#1415)
  .github/workflows/acc-tests.yml
  GNUmakefile
  docs/resources/message_template.md
  docs/resources/mute_timing.md
  docs/resources/notification_policy.md
  internal/resources/examples_test.go
  internal/resources/grafana/common_check_exists_test.go
  internal/resources/grafana/resource_alerting_message_template.go
  internal/resources/grafana/resource_alerting_mute_timing.go
  internal/resources/grafana/resource_alerting_notification_policy.go
  internal/resources/grafana/resource_alerting_rule_group_test.go
  internal/resources/grafana/resource_sso_settings_test.go
Owners: @grafana/terraform-provider, @grafana/alerting-squad

Cloud: Fix SM installation test It crashes because it's missing the region in those API calls
  internal/resources/cloud/resource_cloud_access_policy_token_test.go
  internal/resources/cloud/resource_synthetic_monitoring_installation_test.go
Owners: @grafana/terraform-provider, @grafana/grafana-com-maintainers

Cloud: Fix SM installation test (#1568)
  internal/resources/cloud/resource_cloud_access_policy_token_test.go
  internal/resources/cloud/resource_synthetic_monitoring_installation_test.go
Owners: @grafana/terraform-provider, @grafana/grafana-com-maintainers

Cloud: More test fixes - Remove deprecated cloud plugin format from tests - Longer wait timeout for new stacks. It can take longer than a minute or two to have an available stack
  internal/resources/cloud/resource_cloud_plugin_test.go
  internal/resources/cloud/resource_cloud_stack_service_account.go
  internal/resources/cloud/resource_cloud_stack_service_account_token.go
Owners: @grafana/terraform-provider, @grafana/grafana-com-maintainers

Cloud: More test fixes (#1569)
  internal/resources/cloud/resource_cloud_plugin_test.go
  internal/resources/cloud/resource_cloud_stack_service_account.go
  internal/resources/cloud/resource_cloud_stack_service_account_token.go
Owners: @grafana/terraform-provider, @grafana/grafana-com-maintainers

`grafana_synthetic_monitoring_probe`: Add `disable_scripted_checks` Closes https://github.com/grafana/terraform-provider-grafana/issues/1566
  examples/resources/grafana_synthetic_monitoring_probe/resource_update.tf
  internal/resources/syntheticmonitoring/resource_probe.go
  internal/resources/syntheticmonitoring/resource_probe_test.go
Owners: @grafana/terraform-provider, @grafana/synthetic-monitoring

Generate docs
  docs/data-sources/synthetic_monitoring_probe.md
  docs/resources/synthetic_monitoring_probe.md
Owners: @grafana/terraform-provider

`grafana_synthetic_monitoring_probe`: Add `disable_scripted_checks` (#1570)
  docs/data-sources/synthetic_monitoring_probe.md
  docs/resources/synthetic_monitoring_probe.md
  examples/resources/grafana_synthetic_monitoring_probe/resource_update.tf
  internal/resources/syntheticmonitoring/resource_probe.go
  internal/resources/syntheticmonitoring/resource_probe_test.go
Owners: @grafana/terraform-provider, @grafana/synthetic-monitoring

Code Generation: Basic integration test (#1571)
  .gitignore
  cmd/generate/generate.go
  internal/resources/grafana/resource_organization.go
  testdata/integration/test.sh
Owners: @grafana/terraform-provider

Config Generation: Extract code to library This makes the generation code usable elsewhere than in the CLI Next up: Nicer test suite
  cmd/generate/cli.go
  cmd/generate/main.go
  cmd/generate/validation.go
  pkg/generate/cloud.go
  pkg/generate/config.go
  pkg/generate/generate.go
  pkg/generate/grafana.go
  pkg/generate/postprocessing.go
  pkg/generate/terraform.go
  pkg/generate/terraform_state.go
  pkg/generate/terraform_test.go
  pkg/generate/testdata/testblocks.tf
  pkg/generate/testdata/testblocks.tf.json
Owners: @grafana/terraform-provider

Update OnCall escalation type param to be required
  internal/resources/oncall/resource_escalation.go
Owners: @grafana/terraform-provider, @grafana/grafana-oncall

Update docs
  docs/resources/oncall_escalation.md
Owners: @grafana/terraform-provider

Update OnCall escalation type param to be required (#1575)
  docs/resources/oncall_escalation.md
  internal/resources/oncall/resource_escalation.go
Owners: @grafana/terraform-provider, @grafana/grafana-oncall

Remove hardocded pagerduty APIURL
  internal/resources/grafana/resource_alerting_contact_point_notifiers.go
Owners: @grafana/terraform-provider, @grafana/alerting-squad

Add pack unpack for pagerduty url
  internal/resources/grafana/resource_alerting_contact_point_notifiers.go
Owners: @grafana/terraform-provider, @grafana/alerting-squad

Update SLO client version Pre-requisite for https://github.com/grafana/terraform-provider-grafana/pull/1553
  go.mod
  go.sum
  internal/resources/slo/data_source_slo.go
  internal/resources/slo/data_source_slo_test.go
  internal/resources/slo/resource_slo.go
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/terraform-provider, @grafana/slo-squad

Update OnCall escalation type param to be required (#1575)
  docs/resources/oncall_escalation.md
  internal/resources/oncall/resource_escalation.go
Owners: @grafana/terraform-provider, @grafana/grafana-oncall

Add test
  examples/resources/grafana_contact_point/_acc_receiver_types.tf
  internal/resources/grafana/resource_alerting_contact_point_test.go
Owners: @grafana/terraform-provider, @grafana/alerting-squad

Remove hardocded pagerduty APIURL (#1576)
  docs/resources/contact_point.md
  examples/resources/grafana_contact_point/_acc_receiver_types.tf
  internal/resources/grafana/resource_alerting_contact_point_notifiers.go
  internal/resources/grafana/resource_alerting_contact_point_test.go
Owners: @grafana/terraform-provider, @grafana/alerting-squad

Update SLO client version (#1578)
  go.mod
  go.sum
  internal/resources/slo/data_source_slo.go
  internal/resources/slo/data_source_slo_test.go
  internal/resources/slo/resource_slo.go
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/terraform-provider, @grafana/slo-squad

feat(slo): support folder field
  internal/resources/slo/resource_slo.go
Owners: @grafana/terraform-provider, @grafana/slo-squad

chore(refactor): use folder_uid + follow existing code style
  internal/resources/slo/resource_slo.go
Owners: @grafana/terraform-provider, @grafana/slo-squad

fix: tests
  docs/data-sources/slos.md
  docs/resources/slo.md
  internal/resources/slo/resource_slo.go
Owners: @grafana/terraform-provider, @grafana/slo-squad

Add test
  examples/resources/grafana_slo/resource_update.tf
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/terraform-provider, @grafana/slo-squad

feat(slo): support folder field (#1553)
  docs/data-sources/slos.md
  docs/resources/slo.md
  examples/resources/grafana_slo/resource_update.tf
  internal/resources/slo/resource_slo.go
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/terraform-provider, @grafana/slo-squad

`grafana_cloud_stack`: Add `influx_url` Closes https://github.com/grafana/terraform-provider-grafana/issues/958
  GNUmakefile
  docs/data-sources/cloud_stack.md
  docs/resources/cloud_stack.md
  internal/resources/cloud/resource_cloud_stack.go
  internal/resources/cloud/resource_cloud_stack_test.go
Owners: @grafana/terraform-provider, @grafana/grafana-com-maintainers

`grafana_cloud_stack`: Add `influx_url` (#1580)
  GNUmakefile
  docs/data-sources/cloud_stack.md
  docs/resources/cloud_stack.md
  internal/resources/cloud/resource_cloud_stack.go
  internal/resources/cloud/resource_cloud_stack_test.go
Owners: @grafana/terraform-provider, @grafana/grafana-com-maintainers

Linting
  pkg/generate/sort_test.go
Owners: @grafana/terraform-provider

Code Generation: Sort resources and imports (#1582)
  cmd/generate/cli.go
  cmd/generate/main.go
  cmd/generate/validation.go
  pkg/generate/cloud.go
  pkg/generate/config.go
  pkg/generate/generate.go
  pkg/generate/grafana.go
  pkg/generate/postprocessing.go
  pkg/generate/sort.go
  pkg/generate/sort_test.go
  pkg/generate/terraform.go
  pkg/generate/terraform_state.go
  pkg/generate/terraform_test.go
  pkg/generate/testdata/sort/good-order-golden.tf
  pkg/generate/testdata/sort/good-order.tf
  pkg/generate/testdata/sort/no-comments-golden.tf
  pkg/generate/testdata/sort/no-comments.tf
  pkg/generate/testdata/sort/reorder-golden.tf
  pkg/generate/testdata/sort/reorder.tf
  pkg/generate/testdata/testblocks.tf
  pkg/generate/testdata/testblocks.tf.json
Owners: @grafana/terraform-provider

Code Generation: Initial tests (#1583)
  pkg/generate/generate_test.go
  pkg/generate/postprocessing.go
  pkg/generate/testdata/generate/dashboard-expected/localhost-imports.tf
  pkg/generate/testdata/generate/dashboard-expected/localhost-provider.tf
  pkg/generate/testdata/generate/dashboard-expected/localhost-resources.tf
  pkg/generate/testdata/generate/dashboard-expected/provider.tf
Owners: @grafana/terraform-provider

Code Generation: Do not generate `org_id` field when set to default
  pkg/generate/cloud.go
  pkg/generate/grafana.go
  pkg/generate/postprocessing.go
  pkg/generate/testdata/generate/dashboard-expected/localhost-resources.tf
Owners: @grafana/terraform-provider

Code Generation: Do not generate `org_id` field when set to default (#1584)
  pkg/generate/cloud.go
  pkg/generate/grafana.go
  pkg/generate/postprocessing.go
  pkg/generate/testdata/generate/dashboard-expected/localhost-resources.tf
Owners: @grafana/terraform-provider
