Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/dashboards-squad, @grafana/plugins-platform-backend, @grafana/grafana-search-and-storage, @grafana/grafana-backend-group, @grafana/grafana-app-platform-squad, @grafana/sharing-squad, @grafana/identity-squad, @grafana/access-squad, @grafana/grafana-com-maintainers, @grafana/middleware-apps, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting*             @grafana/platform-monitoring @grafana/alerting-squad
/internal/resources/grafana/*_dashboard*            @grafana/platform-monitoring @grafana/dashboards-squad
/internal/resources/grafana/*_data_source*          @grafana/platform-monitoring @grafana/plugins-platform-backend
/internal/resources/grafana/*_folder*               @grafana/platform-monitoring @grafana/grafana-search-and-storage
/internal/resources/grafana/*_library_panel*        @grafana/platform-monitoring @grafana/dashboards-squad
/internal/resources/grafana/*_organization*         @grafana/platform-monitoring @grafana/grafana-backend-group
/internal/resources/grafana/*_playlist*             @grafana/platform-monitoring @grafana/grafana-app-platform-squad
/internal/resources/grafana/*_report*               @grafana/platform-monitoring @grafana/sharing-squad
/internal/resources/grafana/*_role*                 @grafana/platform-monitoring @grafana/identity-squad
/internal/resources/grafana/*_service_accounts*     @grafana/platform-monitoring @grafana/identity-squad
/internal/resources/grafana/*_sso*                  @grafana/platform-monitoring @grafana/identity-squad
/internal/resources/grafana/*_team*                 @grafana/platform-monitoring @grafana/access-squad
/internal/resources/grafana/*_user*                 @grafana/platform-monitoring @grafana/access-squad
/internal/resources/cloud/*                         @grafana/platform-monitoring @grafana/grafana-com-maintainers
/internal/resources/cloudprovider/*                 @grafana/platform-monitoring @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/platform-monitoring @grafana/middleware-apps
/internal/resources/machinelearning/*               @grafana/platform-monitoring @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/platform-monitoring @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/platform-monitoring @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/platform-monitoring @grafana/synthetic-monitoring

Rename resources for clarity
  docs/resources/cloud_private_data_source_connect_network.md
  docs/resources/cloud_private_data_source_connect_network_token.md
  docs/resources/cloud_private_datasource_connect_token.md
  examples/resources/grafana_cloud_private_data_source_connect_network/import.sh
  examples/resources/grafana_cloud_private_data_source_connect_network/resource.tf
  examples/resources/grafana_cloud_private_data_source_connect_network_token/import.sh
  examples/resources/grafana_cloud_private_data_source_connect_network_token/resource.tf
  examples/resources/grafana_cloud_private_datasource_connect/import.sh
  examples/resources/grafana_cloud_private_datasource_connect/resource.tf
  examples/resources/grafana_cloud_private_datasource_connect_token/import.sh
  examples/resources/grafana_cloud_private_datasource_connect_token/resource.tf
  internal/resources/cloud/resource_private_data_source_connect_network.go
  internal/resources/cloud/resource_private_data_source_connect_network_token.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Some more naming updates
  docs/resources/cloud_private_data_source_connect_network.md
  examples/resources/grafana_cloud_private_data_source_connect_network/resource.tf
  examples/resources/grafana_cloud_private_data_source_connect_network_token/resource.tf
  internal/resources/cloud/resource_private_data_source_connect_network.go
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Fix make alert rule uid settable to avoid accidental overwriting of existing rule history
  docs/resources/rule_group.md
  internal/resources/grafana/resource_alerting_rule_group.go
  internal/resources/grafana/resource_alerting_rule_group_test.go
  pkg/generate/generate_test.go
  pkg/generate/testdata/generate/alerting-in-org.tf
  pkg/generate/testdata/generate/alerting-in-org/resources.tf.tmpl
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Update docs
  docs/resources/cloud_private_data_source_connect_network_token.md
Owners: @grafana/platform-monitoring

Fix pdc network Id check
  internal/resources/grafana/resource_data_source.go
Owners: @grafana/platform-monitoring, @grafana/plugins-platform-backend

Update docs and add test
  docs/resources/cloud_private_data_source_connect_network.md
  docs/resources/cloud_private_data_source_connect_network_token.md
  examples/resources/grafana_cloud_private_data_source_connect_network/resource.tf
  examples/resources/grafana_cloud_private_data_source_connect_network_token/resource.tf
  internal/resources/cloud/resource_private_data_source_connect_network_token_test.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Docs update
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring

Add reference to access policies naming reqs
  docs/resources/cloud_private_data_source_connect_network.md
  internal/resources/cloud/resource_private_data_source_connect_network.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Minor updates for type names and docs
  docs/data-sources/cloud_private_data_source_connect_networks.md
  docs/data-sources/data_source.md
  docs/resources/data_source.md
  internal/resources/cloud/data_source_private_data_source_connect_network.go
  internal/resources/grafana/resource_data_source.go
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers, @grafana/plugins-platform-backend

Fix replace
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring

Allows configs to specify browser check support for probes.
  docs/resources/synthetic_monitoring_probe.md
  examples/resources/grafana_synthetic_monitoring_probe/resource_update.tf
  internal/resources/syntheticmonitoring/resource_probe.go
  internal/resources/syntheticmonitoring/resource_probe_test.go
Owners: @grafana/platform-monitoring, @grafana/synthetic-monitoring

run terraform fmt
  docs/data-sources/synthetic_monitoring_probe.md
  docs/resources/synthetic_monitoring_probe.md
  examples/resources/grafana_synthetic_monitoring_probe/resource_update.tf
Owners: @grafana/platform-monitoring

`grafana_synthetic_monitoring_probe`: Add `disable_browser_checks` (#1980)
  docs/data-sources/synthetic_monitoring_probe.md
  docs/resources/synthetic_monitoring_probe.md
  examples/resources/grafana_synthetic_monitoring_probe/resource_update.tf
  internal/resources/syntheticmonitoring/resource_probe.go
  internal/resources/syntheticmonitoring/resource_probe_test.go
Owners: @grafana/platform-monitoring, @grafana/synthetic-monitoring

Fix warning
  internal/resources/cloud/resource_private_data_source_connect_network.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Suppress pdc diffs
  internal/resources/grafana/resource_data_source.go
Owners: @grafana/platform-monitoring, @grafana/plugins-platform-backend

Remove resource lister
  internal/common/resource.go
  internal/resources/cloud/common_lister.go
  internal/resources/cloud/resource_private_data_source_connect_network.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Remove type
  internal/common/resource.go
Owners: @grafana/platform-monitoring

test(acceptance): replace Atlanta with Ohio probe
  docs/data-sources/synthetic_monitoring_probe.md
  docs/resources/synthetic_monitoring_check.md
  examples/data-sources/grafana_synthetic_monitoring_probe/data-source.tf
  examples/resources/grafana_synthetic_monitoring_check/dns_basic.tf
  examples/resources/grafana_synthetic_monitoring_check/grpc_basic.tf
  examples/resources/grafana_synthetic_monitoring_check/http_basic.tf
  examples/resources/grafana_synthetic_monitoring_check/ping_basic.tf
  examples/resources/grafana_synthetic_monitoring_check/tcp_basic.tf
  examples/resources/grafana_synthetic_monitoring_check/traceroute_basic.tf
  internal/resources/syntheticmonitoring/data_source_probe_test.go
  internal/resources/syntheticmonitoring/data_source_probes_test.go
  internal/resources/syntheticmonitoring/resource_check_test.go
Owners: @grafana/platform-monitoring, @grafana/synthetic-monitoring

test: fix template
  pkg/generate/testdata/generate/sm-check/resources.tf.tmpl
Owners: @grafana/platform-monitoring

test(acceptance): replace Amsterdam with Frankfurt probe
  docs/resources/synthetic_monitoring_check.md
  examples/resources/grafana_synthetic_monitoring_check/multihttp_basic.tf
  examples/resources/grafana_synthetic_monitoring_check/multihttp_complex.tf
Owners: @grafana/platform-monitoring

test(acceptance): replace Bangalore with Mumbai probe
  docs/resources/synthetic_monitoring_check.md
  examples/resources/grafana_synthetic_monitoring_check/http_complex.tf
Owners: @grafana/platform-monitoring

test(acceptance): replace deprecated probes for sm-check tests (#1985)
  docs/data-sources/synthetic_monitoring_probe.md
  docs/resources/synthetic_monitoring_check.md
  examples/data-sources/grafana_synthetic_monitoring_probe/data-source.tf
  examples/resources/grafana_synthetic_monitoring_check/dns_basic.tf
  examples/resources/grafana_synthetic_monitoring_check/grpc_basic.tf
  examples/resources/grafana_synthetic_monitoring_check/http_basic.tf
  examples/resources/grafana_synthetic_monitoring_check/http_complex.tf
  examples/resources/grafana_synthetic_monitoring_check/multihttp_basic.tf
  examples/resources/grafana_synthetic_monitoring_check/multihttp_complex.tf
  examples/resources/grafana_synthetic_monitoring_check/ping_basic.tf
  examples/resources/grafana_synthetic_monitoring_check/tcp_basic.tf
  examples/resources/grafana_synthetic_monitoring_check/traceroute_basic.tf
  internal/resources/syntheticmonitoring/data_source_probe_test.go
  internal/resources/syntheticmonitoring/data_source_probes_test.go
  internal/resources/syntheticmonitoring/resource_check_test.go
  pkg/generate/testdata/generate/sm-check/resources.tf.tmpl
Owners: @grafana/platform-monitoring, @grafana/synthetic-monitoring

Update OnCall auth section to prefer service account token setup
  docs/index.md
  examples/provider/provider-oncall-sa.tf
  templates/index.md.tmpl
Owners: @grafana/platform-monitoring

Update OnCall auth section to prefer service account token setup (#1986)
  docs/index.md
  examples/provider/provider-oncall-sa.tf
  templates/index.md.tmpl
Owners: @grafana/platform-monitoring

Add PDC network and PDC network token resources (#1975)
  docs/data-sources/cloud_private_data_source_connect_networks.md
  docs/data-sources/data_source.md
  docs/resources/cloud_private_data_source_connect_network.md
  docs/resources/cloud_private_data_source_connect_network_token.md
  docs/resources/data_source.md
  examples/resources/grafana_cloud_private_data_source_connect_network/import.sh
  examples/resources/grafana_cloud_private_data_source_connect_network/resource.tf
  examples/resources/grafana_cloud_private_data_source_connect_network_token/import.sh
  examples/resources/grafana_cloud_private_data_source_connect_network_token/resource.tf
  internal/resources/cloud/data_source_private_data_source_connect_network.go
  internal/resources/cloud/resource_private_data_source_connect_network.go
  internal/resources/cloud/resource_private_data_source_connect_network_token.go
  internal/resources/cloud/resource_private_data_source_connect_network_token_test.go
  internal/resources/cloud/resources.go
  internal/resources/grafana/resource_data_source.go
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers, @grafana/plugins-platform-backend

fmt
  examples/data-sources/grafana_cloud_provider_azure_credential/data-source.tf
  examples/resources/grafana_cloud_provider_azure_credential/resource.tf
Owners: @grafana/platform-monitoring

Add AutoDiscoveryConfiguration to the Azure credential
  internal/common/cloudproviderapi/client.go
Owners: @grafana/platform-monitoring

Implement AutoDiscoveryConfiguration for the Azure credential
  docs/data-sources/cloud_provider_azure_credential.md
  docs/resources/cloud_provider_azure_credential.md
  examples/data-sources/grafana_cloud_provider_azure_credential/data-source.tf
  examples/resources/grafana_cloud_provider_azure_credential/resource.tf
  internal/common/cloudproviderapi/client.go
  internal/resources/cloudprovider/azure_credential_test.go
  internal/resources/cloudprovider/data_source_azure_credential.go
  internal/resources/cloudprovider/resource_azure_credential.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

generate docs
  docs/data-sources/cloud_provider_azure_credential.md
  docs/resources/cloud_provider_azure_credential.md
Owners: @grafana/platform-monitoring

Filter to pdc access policies and fix struct issue
  internal/resources/cloud/data_source_private_data_source_connect_network.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Fix broken link
  docs/resources/machine_learning_job.md
  internal/resources/machinelearning/resource_job.go
Owners: @grafana/platform-monitoring, @grafana/machine-learning

Require client to not be nil
  internal/resources/cloud/data_source_cloud_access_policies.go
  internal/resources/cloud/data_source_private_data_source_connect_network.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Check cloud configuration and check to ensure that the datasource implements the interfaces
  internal/resources/cloud/common.go
  internal/resources/cloud/data_source_cloud_access_policies.go
  internal/resources/cloud/data_source_private_data_source_connect_network.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Revert "Require client to not be nil"
  internal/resources/cloud/data_source_cloud_access_policies.go
  internal/resources/cloud/data_source_private_data_source_connect_network.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Fix bug in PDC data source (#1995)
  docs/resources/machine_learning_job.md
  internal/resources/cloud/data_source_private_data_source_connect_network.go
  internal/resources/machinelearning/resource_job.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers, @grafana/machine-learning

Check cloud configuration and check to ensure that the datasource implements the interfaces (#1999)
  internal/resources/cloud/common.go
  internal/resources/cloud/data_source_cloud_access_policies.go
  internal/resources/cloud/data_source_private_data_source_connect_network.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Add AutoDiscoveryConfiguration to the Azure credential (#1987)
  docs/data-sources/cloud_provider_azure_credential.md
  docs/resources/cloud_provider_azure_credential.md
  examples/data-sources/grafana_cloud_provider_azure_credential/data-source.tf
  examples/resources/grafana_cloud_provider_azure_credential/resource.tf
  internal/common/cloudproviderapi/client.go
  internal/resources/cloudprovider/azure_credential_test.go
  internal/resources/cloudprovider/data_source_azure_credential.go
  internal/resources/cloudprovider/resource_azure_credential.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Add cluster slug to stack
  docs/data-sources/cloud_stack.md
  docs/resources/cloud_stack.md
  internal/resources/cloud/resource_cloud_stack.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Reject recording rules with incompatible fields
  internal/resources/grafana/resource_alerting_rule_group.go
  internal/resources/grafana/resource_alerting_rule_group_test.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Add cluster slug to stack tests
  internal/resources/cloud/data_source_cloud_stack_test.go
  internal/resources/cloud/resource_cloud_stack_test.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers
