Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/terraform-provider, @grafana/alerting-squad, @grafana/grafana-com-maintainers, @grafana/machine-learning, @grafana/grafana-oncall, @grafana/slo-squad, @grafana/synthetic-monitoring

Update release.yml
  .github/workflows/release.yml
Owners: @grafana/terraform-provider

Update release.yml
  .github/workflows/release.yml
Owners: @grafana/terraform-provider

Update release.yml
  .github/workflows/release.yml
Owners: @grafana/terraform-provider

Update release.yml
  .github/workflows/release.yml
Owners: @grafana/terraform-provider

Update release.yml
  .github/workflows/release.yml
Owners: @grafana/terraform-provider

update docs removing azuread from api_url requirements
  docs/resources/sso_settings.md
  internal/resources/grafana/resource_sso_settings.go
Owners: @grafana/terraform-provider

improve SSO settings examples
  docs/resources/sso_settings.md
  examples/resources/grafana_sso_settings/resource.tf
Owners: @grafana/terraform-provider

update docs removing azuread from api_url requirements (#1548)
  docs/resources/sso_settings.md
  internal/resources/grafana/resource_sso_settings.go
Owners: @grafana/terraform-provider

SSO: Fix and improve SAML validations (#1542)
  internal/resources/grafana/resource_sso_settings.go
  internal/resources/grafana/resource_sso_settings_test.go
Owners: @grafana/terraform-provider

`grafana_rule_group`: Detect name conflicts Closes https://github.com/grafana/terraform-provider-grafana/issues/1534 Currently, it either crashes or overwrites the existing rule
  internal/resources/grafana/resource_alerting_rule_group.go
  internal/resources/grafana/resource_alerting_rule_group_test.go
Owners: @grafana/terraform-provider, @grafana/alerting-squad

go generate
  docs/data-sources/role.md
Owners: @grafana/terraform-provider

Role Datasource: Find hidden roles (#1552)
  docs/data-sources/role.md
  examples/data-sources/grafana_role/data-source.tf
  internal/resources/grafana/data_source_role.go
  internal/resources/grafana/data_source_role_test.go
Owners: @grafana/terraform-provider

Add folder UID validation (#1551)
  internal/resources/grafana/resource_alerting_rule_group.go
  internal/resources/grafana/resource_folder.go
  internal/resources/grafana/resource_folder_permission.go
  internal/resources/grafana/resource_library_panel.go
Owners: @grafana/terraform-provider, @grafana/alerting-squad

Fix README links and images The badges should point to Github Actions and the TF logo is broken
  README.md
Owners: @grafana/terraform-provider

Add goreleaser config for code generation tool This will release `terraform-provider-grafana-gen` binaries alongside the actual provider
  .gitignore
  .goreleaser.yml
Owners: @grafana/terraform-provider

Fix name
  .goreleaser.yml
Owners: @grafana/terraform-provider

`grafana_rule_group`: Detect name conflicts (#1550)
  internal/resources/grafana/resource_alerting_rule_group.go
  internal/resources/grafana/resource_alerting_rule_group_test.go
Owners: @grafana/terraform-provider, @grafana/alerting-squad

`grafana_cloud_stack_service_account`: Compatibility with roles/permissions (#1546)
  internal/resources/cloud/resource_cloud_stack_service_account_test.go
  internal/resources/grafana/common_resource_permission.go
  internal/resources/grafana/oss_org_id.go
  internal/resources/grafana/resource_role_assignment.go
  internal/resources/grafana/resource_service_account_permission.go
Owners: @grafana/terraform-provider, @grafana/grafana-com-maintainers

`TestAccGrafanaServiceAccountFromCloud_AssignRoleOrPermissions`: Not parallel Stacks from other tests are conflicting I only ever ran this test on its own
  internal/resources/cloud/resource_cloud_stack_service_account_test.go
Owners: @grafana/terraform-provider, @grafana/grafana-com-maintainers

`TestAccGrafanaServiceAccountFromCloud_AssignRoleOrPermissions`: Not parallel (#1557)
  internal/resources/cloud/resource_cloud_stack_service_account_test.go
Owners: @grafana/terraform-provider, @grafana/grafana-com-maintainers

improve SSO settings examples (#1549)
  docs/resources/sso_settings.md
  examples/resources/grafana_sso_settings/resource.tf
Owners: @grafana/terraform-provider

Deprecate global `org_id` config (#1516)
  docs/index.md
  pkg/provider/configure_clients.go
  pkg/provider/framework_provider.go
  pkg/provider/legacy_provider.go
Owners: @grafana/terraform-provider

Enable CI for v2 branch This makes the `v2` branch equal to `main` so we can backport things for a while if need be
  .github/workflows/acc-tests.yml
  .github/workflows/unit-tests.yml
Owners: @grafana/terraform-provider

Deprecate old ID separators (#1518)
  internal/common/resource_id.go
  internal/resources/cloud/resource_cloud_access_policy.go
  internal/resources/cloud/resource_cloud_access_policy_token.go
  internal/resources/cloud/resource_cloud_api_key.go
  internal/resources/cloud/resource_cloud_plugin.go
  internal/resources/grafana/resource_alerting_contact_point.go
  internal/resources/grafana/resource_alerting_contact_point_test.go
  internal/resources/grafana/resource_alerting_rule_group.go
  internal/resources/grafana/resource_alerting_rule_group_test.go
Owners: @grafana/terraform-provider, @grafana/grafana-com-maintainers, @grafana/alerting-squad

Deprecate Cloud API keys They have been replaced by Cloud Access Policies This PR removes all traces that we ever had them. This is to be merged on the next major release
  docs/index.md
  docs/resources/cloud_api_key.md
  docs/resources/synthetic_monitoring_installation.md
  examples/resources/grafana_cloud_api_key/import.sh
  examples/resources/grafana_cloud_api_key/resource.tf
  examples/resources/grafana_synthetic_monitoring_installation/resource.tf
  internal/resources/cloud/resource_cloud_access_policy_token_test.go
  internal/resources/cloud/resource_cloud_api_key.go
  internal/resources/cloud/resource_cloud_api_key_test.go
  internal/resources/cloud/resource_synthetic_monitoring_installation_test.go
  internal/resources/cloud/resources.go
  pkg/provider/framework_provider.go
  pkg/provider/legacy_provider.go
  tools/subcategories.json
Owners: @grafana/terraform-provider, @grafana/grafana-com-maintainers

Skip SSO example for v2
  internal/resources/examples_test.go
Owners: @grafana/terraform-provider

Skip SSO example. Broken
  internal/resources/examples_test.go
Owners: @grafana/terraform-provider

Enable CI for v2 branch (#1558)
  .github/workflows/acc-tests.yml
  .github/workflows/unit-tests.yml
  internal/resources/examples_test.go
Owners: @grafana/terraform-provider

Deprecate Cloud API keys (#1517)
  docs/index.md
  docs/resources/cloud_api_key.md
  docs/resources/synthetic_monitoring_installation.md
  examples/resources/grafana_cloud_api_key/import.sh
  examples/resources/grafana_cloud_api_key/resource.tf
  examples/resources/grafana_synthetic_monitoring_installation/resource.tf
  internal/resources/cloud/resource_cloud_access_policy_token_test.go
  internal/resources/cloud/resource_cloud_api_key.go
  internal/resources/cloud/resource_cloud_api_key_test.go
  internal/resources/cloud/resource_synthetic_monitoring_installation_test.go
  internal/resources/cloud/resources.go
  internal/resources/examples_test.go
  pkg/provider/framework_provider.go
  pkg/provider/legacy_provider.go
  tools/subcategories.json
Owners: @grafana/terraform-provider, @grafana/grafana-com-maintainers

Some post-merge deprecations
  internal/resources/cloud/resource_cloud_stack_service_account.go
  internal/resources/cloud/resource_cloud_stack_service_account_test.go
  internal/resources/cloud/resource_cloud_stack_service_account_token.go
  internal/resources/grafana/resource_dashboard.go
  internal/resources/grafana/resource_data_source.go
  internal/resources/grafana/resource_data_source_permission.go
  internal/resources/grafana/resource_data_source_test.go
Owners: @grafana/terraform-provider, @grafana/grafana-com-maintainers

Fix README links and images (#1554)
  README.md
Owners: @grafana/terraform-provider

Add goreleaser config for code generation tool (#1555)
  .gitignore
  .goreleaser.yml
Owners: @grafana/terraform-provider

Update cmd/generate/README.md
  cmd/generate/README.md
Owners: @grafana/terraform-provider

Code Generation: Add readme and warnings The tools is being released with v3 but it should be clear that it's very experimental
  cmd/generate/README.md
  cmd/generate/cli.go
Owners: @grafana/terraform-provider

go mod tidy
  go.mod
Owners: @grafana/terraform-provider

Code Generation: Add readme and warnings (#1556)
  cmd/generate/README.md
  cmd/generate/cli.go
  go.mod
Owners: @grafana/terraform-provider

Link changelog in TF provider docs
  docs/index.md
  templates/index.md.tmpl
Owners: @grafana/terraform-provider

Clear out CHANGELOG.md
  CHANGELOG.md
Owners: @grafana/terraform-provider

Link changelog in TF provider docs (#1559)
  docs/index.md
  templates/index.md.tmpl
Owners: @grafana/terraform-provider

Update synthetic monitoring frequency value validation
  docs/resources/synthetic_monitoring_check.md
  internal/resources/syntheticmonitoring/resource_check.go
Owners: @grafana/terraform-provider, @grafana/synthetic-monitoring

.github/CODEOWNERS:

* @grafana/terraform-provider

/internal/resources/grafana/*_alerting_* @grafana/terraform-provider @grafana/alerting-squad
/internal/resources/cloud/* @grafana/terraform-provider @grafana/grafana-com-maintainers
/internal/resources/machinelearning/* @grafana/terraform-provider @grafana/machine-learning
/internal/resources/oncall/* @grafana/terraform-provider @grafana/grafana-oncall
/internal/resources/slo/* @grafana/terraform-provider @grafana/slo-squad
/internal/resources/syntheticmonitoring/* @grafana/terraform-provider @grafana/synthetic-monitoring
