Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/dashboards-squad, @grafana/plugins-platform-backend, @grafana/grafana-search-and-storage, @grafana/grafana-backend-group, @grafana/grafana-app-platform-squad, @grafana/sharing-squad, @grafana/identity-squad, @grafana/access-squad, @grafana/grafana-com-maintainers, @grafana/middleware-apps, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring

Generating docs
  docs/resources/contact_point.md
Owners: @grafana/platform-monitoring

Adding color option to slack contact point
  docs/resources/contact_point.md
  examples/resources/grafana_contact_point/_acc_receiver_types.tf
  internal/resources/grafana/resource_alerting_contact_point_notifiers.go
  internal/resources/grafana/resource_alerting_contact_point_test.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Alerting: Adding color option to slack contact point (#2010)
  docs/resources/contact_point.md
  examples/resources/grafana_contact_point/_acc_receiver_types.tf
  internal/resources/grafana/resource_alerting_contact_point_notifiers.go
  internal/resources/grafana/resource_alerting_contact_point_test.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

feat(bigTent slo): Update tests to check big tent slos can be built with the terraform provider.
  examples/resources/grafana_slo/resource_big_tent.tf
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/platform-monitoring, @grafana/slo-squad

Allow unhnalded due to unknowns in metrics list validation
  internal/resources/cloudprovider/models.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Hack validation in place around SDK limitations
  internal/resources/grafana/resource_alerting_rule_group.go
  internal/resources/grafana/resource_alerting_rule_group_test.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Update docs
  docs/resources/rule_group.md
Owners: @grafana/platform-monitoring

Fix diff for empty values
  internal/resources/grafana/resource_alerting_mute_timing_test.go
  internal/resources/grafana/resource_alerting_rule_group.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

feat(bigTent slo): Custom Validate function for big tent SLO schema
  internal/resources/slo/resource_slo.go
Owners: @grafana/platform-monitoring, @grafana/slo-squad

feat(bigTent slo): Tests for custom validate functions
  internal/resources/slo/resource_slo.go
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/platform-monitoring, @grafana/slo-squad

Alerting: Add MQTT notifications receiver
  docs/resources/contact_point.md
  examples/resources/grafana_contact_point/_acc_receiver_types_11_3.tf
  internal/resources/grafana/resource_alerting_contact_point.go
  internal/resources/grafana/resource_alerting_contact_point_notifiers.go
  internal/resources/grafana/resource_alerting_contact_point_test.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Fix links to jq
  docs/index.md
  templates/index.md.tmpl
Owners: @grafana/platform-monitoring

Use Grafana 11.5.0 for tests
  .github/workflows/acc-tests.yml
  GNUmakefile
Owners: @grafana/platform-monitoring

Add support for the additional tags for the Azure metrics (#2009)
  docs/data-sources/cloud_provider_azure_credential.md
  docs/resources/cloud_provider_azure_credential.md
  examples/data-sources/grafana_cloud_provider_azure_credential/data-source.tf
  examples/resources/grafana_cloud_provider_azure_credential/resource.tf
  internal/common/cloudproviderapi/client.go
  internal/resources/cloudprovider/azure_credential_test.go
  internal/resources/cloudprovider/data_source_azure_credential.go
  internal/resources/cloudprovider/resource_azure_credential.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

CloudProvider: Allow unhandled values in metrics list validation (#2015)
  internal/resources/cloudprovider/models.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

feat(bigTent slo): fmt
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/platform-monitoring, @grafana/slo-squad

feat(bigTent slo): removing derpecated reliance
  internal/resources/slo/resource_slo.go
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/platform-monitoring, @grafana/slo-squad

feat(bigTent slo): fmt
  internal/resources/slo/resource_slo.go
Owners: @grafana/platform-monitoring, @grafana/slo-squad

feat(bigTent slo): fmt
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/platform-monitoring, @grafana/slo-squad

feat(bigTent slo): fix overzealous id refactor
  internal/resources/slo/resource_slo.go
Owners: @grafana/platform-monitoring, @grafana/slo-squad

Update link to jq website
  docs/index.md
  templates/index.md.tmpl
Owners: @grafana/platform-monitoring

Update link to jq website (#2022)
  docs/index.md
  templates/index.md.tmpl
Owners: @grafana/platform-monitoring

Reject recording rules with incompatible fields (#2000)
  docs/resources/rule_group.md
  internal/resources/grafana/resource_alerting_mute_timing_test.go
  internal/resources/grafana/resource_alerting_rule_group.go
  internal/resources/grafana/resource_alerting_rule_group_test.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

ML: Example job using a power transformation
  docs/resources/machine_learning_job.md
  examples/resources/grafana_machine_learning_job/transformed_job.tf
  internal/resources/machinelearning/resource_job_test.go
  templates/resources/machine_learning_job.md.tmpl
Owners: @grafana/platform-monitoring, @grafana/machine-learning

feat(bigTent slo): ignore http redirect for link checker
  .linkcheckerrc
Owners: @grafana/platform-monitoring

ML: Example job using a power transformation (#2021)
  docs/resources/machine_learning_job.md
  examples/resources/grafana_machine_learning_job/transformed_job.tf
  internal/resources/machinelearning/resource_job_test.go
  templates/resources/machine_learning_job.md.tmpl
Owners: @grafana/platform-monitoring, @grafana/machine-learning

Add static labels to the CloudWatch jobs (#1974)
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_job.md
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_jobs.md
  docs/index.md
  docs/resources/cloud_provider_aws_cloudwatch_scrape_job.md
  examples/data-sources/grafana_cloud_provider_aws_cloudwatch_scrape_job/data-source.tf
  examples/resources/grafana_cloud_provider_aws_cloudwatch_scrape_job/resource.tf
  internal/common/cloudproviderapi/client.go
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job_test.go
  internal/resources/cloudprovider/models.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

feat(bigTent slo): Drop warning on Prometheus queries
  internal/resources/slo/resource_slo.go
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/platform-monitoring, @grafana/slo-squad

Add `linkcheck` option to ignore httpredirect warnings
  .linkcheckerrc
Owners: @grafana/platform-monitoring

chore(bigTent slo): WIP update documentation
  examples/resources/grafana_slo/resource_nonprometheus.tf
  templates/resources/slo.md.tmpl
Owners: @grafana/platform-monitoring

fix: fix listing oncall users when more than 1 page
  internal/resources/oncall/data_source_users.go
Owners: @grafana/platform-monitoring, @grafana/grafana-irm-backend

chore(bigTent slo): update documentation
  docs/resources/slo.md
  examples/resources/grafana_slo/resource_nonprometheus.tf
  internal/resources/slo/resource_slo.go
  templates/resources/slo.md.tmpl
Owners: @grafana/platform-monitoring, @grafana/slo-squad

chore(bigTent slo): update documentation
  docs/resources/slo.md
  examples/resources/grafana_slo/resource_nonprometheus.tf
Owners: @grafana/platform-monitoring

chore(bigTent slo): update documentation
  .linkcheckerrc
Owners: @grafana/platform-monitoring

chore(doc links): fixing terraform provider doc links
  docs/data-sources/cloud_access_policies.md
  internal/resources/cloud/data_source_cloud_access_policies.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

chore(doc links): fixing terraform provider doc links
  templates/resources/slo.md.tmpl
Owners: @grafana/platform-monitoring

chore(doc links): fixing terraform provider doc links
  docs/resources/slo.md
  templates/resources/slo.md.tmpl
Owners: @grafana/platform-monitoring

chore(doc links): fixing terraform provider doc links
  docs/resources/slo.md
  examples/resources/grafana_slo/resource_nonprometheus.tf
Owners: @grafana/platform-monitoring

fix: CloudWatch metrics services link
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_job.md
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_jobs.md
  docs/resources/cloud_provider_aws_cloudwatch_scrape_job.md
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

fix more moved doc links
  docs/data-sources/cloud_access_policies.md
  docs/data-sources/cloud_private_data_source_connect_networks.md
  docs/index.md
  docs/resources/cloud_access_policy.md
  docs/resources/cloud_access_policy_token.md
  docs/resources/synthetic_monitoring_installation.md
  internal/resources/cloud/data_source_cloud_access_policies.go
  internal/resources/cloud/data_source_private_data_source_connect_network.go
  internal/resources/cloud/resource_cloud_access_policy.go
  internal/resources/cloud/resource_cloud_access_policy_token.go
  internal/resources/cloud/resource_synthetic_monitoring_installation.go
  templates/index.md.tmpl
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting*             @grafana/platform-monitoring @grafana/alerting-squad
/internal/resources/grafana/*_dashboard*            @grafana/platform-monitoring @grafana/dashboards-squad
/internal/resources/grafana/*_data_source*          @grafana/platform-monitoring @grafana/plugins-platform-backend
/internal/resources/grafana/*_folder*               @grafana/platform-monitoring @grafana/grafana-search-and-storage
/internal/resources/grafana/*_library_panel*        @grafana/platform-monitoring @grafana/dashboards-squad
/internal/resources/grafana/*_organization*         @grafana/platform-monitoring @grafana/grafana-backend-group
/internal/resources/grafana/*_playlist*             @grafana/platform-monitoring @grafana/grafana-app-platform-squad
/internal/resources/grafana/*_report*               @grafana/platform-monitoring @grafana/sharing-squad
/internal/resources/grafana/*_role*                 @grafana/platform-monitoring @grafana/identity-squad
/internal/resources/grafana/*_service_accounts*     @grafana/platform-monitoring @grafana/identity-squad
/internal/resources/grafana/*_sso*                  @grafana/platform-monitoring @grafana/identity-squad
/internal/resources/grafana/*_team*                 @grafana/platform-monitoring @grafana/access-squad
/internal/resources/grafana/*_user*                 @grafana/platform-monitoring @grafana/access-squad
/internal/resources/cloud/*                         @grafana/platform-monitoring @grafana/grafana-com-maintainers
/internal/resources/cloudprovider/*                 @grafana/platform-monitoring @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/platform-monitoring @grafana/middleware-apps
/internal/resources/machinelearning/*               @grafana/platform-monitoring @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/platform-monitoring @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/platform-monitoring @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/platform-monitoring @grafana/synthetic-monitoring
