Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/grafana-com-maintainers, @grafana/identity-squad, @grafana/asserts, @grafana/middleware-apps, @grafana/fleet-management-backend, @grafana/frontend-o11y, @grafana/k6-cloud-provisioning, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring, @grafana/grafana-app-platform-squad

add prom mig check
  internal/resources/grafana/resource_data_source.go
  internal/resources/grafana/resource_data_source_deprecated_auth_test.go
  internal/resources/grafana/resource_data_source_test.go
Owners: @grafana/platform-monitoring

Added new resource for data source cache config
  docs/resources/data_source_cache_config.md
  examples/resources/grafana_data_source_cache_config/import.sh
  examples/resources/grafana_data_source_cache_config/resource.tf
  internal/resources/grafana/resource_data_source_cache_config.go
  internal/resources/grafana/resource_data_source_cache_config_test.go
  internal/resources/grafana/resources.go
Owners: @grafana/platform-monitoring

Updated schema
  provider_schema.json
Owners: @grafana/platform-monitoring

Added to catalog resources
  internal/resources/grafana/catalog-resource.yaml
Owners: @grafana/platform-monitoring

Refactored following lint tests
  internal/resources/grafana/resource_data_source_cache_config.go
Owners: @grafana/platform-monitoring

Docs lint fix
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring

Updated to set a new default
  docs/resources/data_source_cache_config.md
  internal/resources/grafana/resource_data_source_cache_config.go
Owners: @grafana/platform-monitoring

feat: Add `grafana_cloud_access_policy_rotating_token` resource (#2390)
  docs/resources/cloud_access_policy_rotating_token.md
  examples/resources/grafana_cloud_access_policy_rotating_token/import.sh
  examples/resources/grafana_cloud_access_policy_rotating_token/resource.tf
  internal/resources/cloud/catalog-resource.yaml
  internal/resources/cloud/common.go
  internal/resources/cloud/data_source_cloud_access_policies_test.go
  internal/resources/cloud/resource_cloud_access_policy_rotating_token.go
  internal/resources/cloud/resource_cloud_access_policy_rotating_token_test.go
  internal/resources/cloud/resource_cloud_access_policy_token.go
  internal/resources/cloud/resource_cloud_access_policy_token_test.go
  internal/resources/cloud/resource_k6_installation_test.go
  internal/resources/cloud/resource_synthetic_monitoring_installation_test.go
  internal/resources/cloud/resources.go
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers, @grafana/identity-squad

ci: add GitHub Actions workflow for lint & unit tests
  .github/workflows/ci.yml
Owners: @grafana/platform-monitoring

fix(rules): temp switch to map[string]string for compat
  docs/resources/apps_rules_alertrule_v0alpha1.md
  docs/resources/apps_rules_recordingrule_v0alpha1.md
  examples/resources/grafana_apps_rules_alertrule_v0alpha1/resource.tf
  examples/resources/grafana_apps_rules_recordingrule_v0alpha1/resource.tf
  internal/resources/appplatform/alertrule_resource.go
  internal/resources/appplatform/recordingrule_resource.go
  internal/resources/appplatform/rule_common.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

fix: lint
  internal/resources/appplatform/alertrule_resource.go
  internal/resources/appplatform/recordingrule_resource.go
  internal/resources/appplatform/rule_common.go
Owners: @grafana/grafana-app-platform-squad

4777:adding managed by for Asserts (#2408)
  docs/resources/asserts_log_config.md
  examples/resources/grafana_asserts_log_config/resource.tf
  go.mod
  go.sum
  internal/resources/asserts/common.go
  internal/resources/asserts/resource_alert_config.go
  internal/resources/asserts/resource_alert_config_test.go
  internal/resources/asserts/resource_custom_model_rules.go
  internal/resources/asserts/resource_disabled_alert_config.go
  internal/resources/asserts/resource_disabled_alert_config_test.go
  internal/resources/asserts/resource_log_config.go
  internal/resources/asserts/resource_log_config_test.go
  internal/resources/asserts/resource_thresholds.go
  internal/resources/asserts/resource_thresholds_test.go
Owners: @grafana/platform-monitoring, @grafana/asserts

fix(frontendo11y): prod-us-east-0 has a valid response
  internal/resources/frontendo11y/common.go
Owners: @grafana/frontend-o11y

Update parameter description
  docs/resources/k6_installation.md
  internal/resources/cloud/resource_k6_installation.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Make k6 API URL configurable in the plugin installation
  docs/resources/k6_installation.md
  internal/resources/cloud/resource_k6_installation.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Fix a typo
  docs/resources/k6_installation.md
  internal/resources/cloud/resource_k6_installation.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Make k6 API URL configurable in the plugin installation (#2424)
  docs/resources/k6_installation.md
  internal/resources/cloud/resource_k6_installation.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

update wording
  internal/resources/grafana/resource_data_source.go
Owners: @grafana/platform-monitoring

test: temporarily change workflow to trigger on pull_request for testing
  .github/workflows/update-schema.yml
Owners: @grafana/platform-monitoring

feat: migrate to GitHub App token broker for schema updates
  .github/workflows/update-schema.yml
Owners: @grafana/platform-monitoring

revert: remove testing changes, restore push to main trigger
  .github/workflows/update-schema.yml
  internal/resources/slo/resource_slo.go
Owners: @grafana/platform-monitoring, @grafana/slo-squad

fix: remove comment
  .github/workflows/update-schema.yml
Owners: @grafana/platform-monitoring

test: add SLO description change to trigger schema workflow
  internal/resources/slo/resource_slo.go
Owners: @grafana/slo-squad

feat: migrate to GitHub App token broker for schema updates (#2420)
  .github/workflows/update-schema.yml
Owners: @grafana/platform-monitoring

test: alter SLO acronym in resource description
  internal/resources/slo/resource_slo.go
Owners: @grafana/slo-squad

fix: regenerate docs
  docs/resources/slo.md
Owners: @grafana/platform-monitoring

fix(rules): temp switch to map[string]string for compat (#2426)
  docs/resources/apps_rules_alertrule_v0alpha1.md
  docs/resources/apps_rules_recordingrule_v0alpha1.md
  examples/resources/grafana_apps_rules_alertrule_v0alpha1/resource.tf
  examples/resources/grafana_apps_rules_recordingrule_v0alpha1/resource.tf
  internal/resources/appplatform/alertrule_resource.go
  internal/resources/appplatform/recordingrule_resource.go
  internal/resources/appplatform/rule_common.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

test: alter SLO acronym in resource description (#2429)
  docs/resources/slo.md
  internal/resources/slo/resource_slo.go
Owners: @grafana/platform-monitoring, @grafana/slo-squad

fix: use correct output name 'token' instead of 'github_token'
  .github/workflows/update-schema.yml
Owners: @grafana/platform-monitoring

fix: use correct output name 'token' instead of 'github_token' (#2430)
  .github/workflows/update-schema.yml
Owners: @grafana/platform-monitoring

tests use require
  internal/resources/grafana/resource_data_source_deprecated_auth_test.go
Owners: @grafana/platform-monitoring

clean up
  internal/resources/grafana/resource_data_source.go
  internal/resources/grafana/resource_data_source_test.go
Owners: @grafana/platform-monitoring

Add compliance test for uesr preferences
  internal/resources/grafana/resource_organization_preferences_test.go
Owners: @grafana/platform-monitoring

Remove the validation for theme and timezone
  internal/resources/grafana/resource_organization_preferences.go
Owners: @grafana/platform-monitoring

Upodate docs
  docs/data-sources/organization_preferences.md
  docs/resources/organization_preferences.md
Owners: @grafana/platform-monitoring

Remove test case for updated preferences
  internal/resources/grafana/resource_organization_preferences_test.go
Owners: @grafana/platform-monitoring

fix(frontendo11y): prod-us-east-0 has a valid response (#2428)
  internal/resources/frontendo11y/common.go
Owners: @grafana/frontend-o11y

auth: Remove org preferences validation (#2433)
  docs/data-sources/organization_preferences.md
  docs/resources/organization_preferences.md
  internal/resources/grafana/resource_organization_preferences.go
Owners: @grafana/platform-monitoring

feat(service-accounts): Add rotating token resource
  docs/resources/service_account_rotating_token.md
  examples/resources/grafana_service_account_rotating_token/resource.tf
  internal/resources/grafana/catalog-resource.yaml
  internal/resources/grafana/resource_service_account_rotating_token.go
  internal/resources/grafana/resource_service_account_rotating_token_test.go
  internal/resources/grafana/resource_service_account_token.go
  internal/resources/grafana/resource_service_account_token_test.go
  internal/resources/grafana/resources.go
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring

Prometheus type migration check (#2431)
  internal/resources/grafana/resource_data_source.go
  internal/resources/grafana/resource_data_source_deprecated_auth_test.go
Owners: @grafana/platform-monitoring

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting_*            @grafana/alerting-squad
/internal/resources/cloud/*                         @grafana/grafana-com-maintainers
/internal/resources/cloud/*_access_policy_*         @grafana/identity-squad
/internal/resources/grafana/*_organization_user*    @grafana/identity-squad
/internal/resources/asserts/*                       @grafana/asserts
/internal/resources/cloudprovider/*                 @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/middleware-apps
/internal/resources/fleetmanagement/*               @grafana/fleet-management-backend
/internal/resources/frontendo11y/*                  @grafana/frontend-o11y
/internal/resources/k6/*                            @grafana/k6-cloud-provisioning
/internal/resources/machinelearning/*               @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/synthetic-monitoring
/internal/resources/appplatform/*                   @grafana/grafana-app-platform-squad
/internal/resources/appplatform/alertenrichment*    @grafana/alerting-squad
