Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/grafana-com-maintainers, @grafana/identity-squad, @grafana/asserts, @grafana/middleware-apps, @grafana/fleet-management-backend, @grafana/frontend-o11y, @grafana/k6-cloud-provisioning, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring, @grafana/grafana-app-platform-squad

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting_*            @grafana/alerting-squad
/internal/resources/cloud/*                         @grafana/grafana-com-maintainers
/internal/resources/cloud/*_access_policy_*         @grafana/identity-squad
/internal/resources/grafana/*_organization_user*    @grafana/identity-squad
/internal/resources/asserts/*                       @grafana/asserts
/internal/resources/cloudprovider/*                 @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/middleware-apps
/internal/resources/fleetmanagement/*               @grafana/fleet-management-backend
/internal/resources/frontendo11y/*                  @grafana/frontend-o11y
/internal/resources/k6/*                            @grafana/k6-cloud-provisioning
/internal/resources/machinelearning/*               @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/synthetic-monitoring
/internal/resources/appplatform/*                   @grafana/grafana-app-platform-squad
/internal/resources/appplatform/alertenrichment*    @grafana/alerting-squad

Set empty string to null for optional attributes in import method
  internal/resources/grafana/resource_organization_preferences.go
Owners: @grafana/platform-monitoring

Retry on 401 when updating prefs for new org
  internal/resources/grafana/resource_organization_preferences.go
Owners: @grafana/platform-monitoring

Strengthen retry implementation
  internal/resources/grafana/common_check_exists_test.go
  internal/resources/grafana/resource_organization_preferences.go
Owners: @grafana/platform-monitoring

bump grafana-com-public-clients version and add support for exposing both the regions and the azs.
  go.mod
  go.sum
  internal/common/schema.go
  internal/resources/cloud/resource_cloud_stack.go
  internal/resources/cloud/resource_cloud_stack_test.go
  provider_schema.json
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

update the docs.
  docs/data-sources/cloud_stack.md
  docs/resources/cloud_stack.md
Owners: @grafana/platform-monitoring

make computed.
  docs/resources/cloud_stack.md
  internal/common/schema.go
  provider_schema.json
Owners: @grafana/platform-monitoring

Create script to generate resources from cue schemas
  GNUmakefile
  scripts/add-resource/codegen/generator.go
  scripts/add-resource/codegen/jenny_go_generator.go
  scripts/add-resource/go.mod
  scripts/add-resource/go.sum
  scripts/add-resource/main.go
Owners: @grafana/platform-monitoring

Remove package
  scripts/add-resource/codegen/generator.go
  scripts/add-resource/codegen/jenny_go_generator.go
Owners: @grafana/platform-monitoring

Fix spec without subpath
  scripts/add-resource/codegen/jenny_go_generator.go
Owners: @grafana/platform-monitoring

Migrate grafana_alerting_message_template to framework sdk
  internal/common/client.go
  internal/resources/grafana/common_check_exists_test.go
  internal/resources/grafana/common_plugin_framework.go
  internal/resources/grafana/resource_alerting_message_template.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Set disable_provenance as computed when using default
  internal/resources/grafana/resource_alerting_message_template.go
Owners: @grafana/alerting-squad

Address linting
  docs/resources/message_template.md
  internal/resources/grafana/common_plugin_framework.go
  internal/resources/grafana/resource_alerting_message_template.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Update generate testdata for message_template
  pkg/generate/testdata/generate/alerting-in-org/imports.tf
  pkg/generate/testdata/generate/alerting-in-org/resources.tf.tmpl
Owners: @grafana/platform-monitoring

reviews
  internal/resources/appplatform/implementation_plans/secure_block_support.md
  internal/resources/appplatform/resource.go
  internal/resources/appplatform/resource_test.go
  internal/resources/appplatform/secure_values.md
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

git sync support
  examples/resources/grafana_apps_provisioning_connection_v0alpha1/resource.tf
  examples/resources/grafana_apps_provisioning_repository_v0alpha1/resource.tf
  go.mod
  go.sum
  internal/resources/appplatform/connection_resource.go
  internal/resources/appplatform/implementation_plans/git_sync_resources.md
  internal/resources/appplatform/repository_resource.go
  pkg/provider/resources.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

simplify
  go.sum
  internal/resources/appplatform/connection_resource.go
  internal/resources/appplatform/repository_resource.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

bump grafana-com-public-clients version and add support for exposing both the regions and the azs (#2568)
  docs/data-sources/cloud_stack.md
  docs/resources/cloud_stack.md
  go.mod
  go.sum
  internal/common/schema.go
  internal/resources/cloud/resource_cloud_stack.go
  internal/resources/cloud/resource_cloud_stack_test.go
  provider_schema.json
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

fix: resolve cloud acceptance test failures (panic and slug validation) (#2550)
  .github/workflows/cloud-acc-tests.yml
  internal/resources/cloud/resource_cloud_stack_service_account_rotating_token_test.go
  internal/resources/cloud/resource_cloud_stack_test.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

Test commit
  README.md
Owners: @grafana/platform-monitoring

Demonstrate that a certain link is problematic
  docs/resources/synthetic_monitoring_installation.md
  internal/resources/cloud/resource_synthetic_monitoring_installation.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

fix: prevent nil pointer panic in AppPlatform resource Configure
  internal/resources/appplatform/resource.go
  internal/resources/appplatform/secret_keeper_activation_resource.go
Owners: @grafana/grafana-app-platform-squad

Revert "Demonstrate that a certain link is problematic"
  docs/resources/synthetic_monitoring_installation.md
  internal/resources/cloud/resource_synthetic_monitoring_installation.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

fix: prevent nil pointer panic in AppPlatform resource Configure (#2575)
  internal/resources/appplatform/resource.go
  internal/resources/appplatform/secret_keeper_activation_resource.go
Owners: @grafana/grafana-app-platform-squad

Throttle requests per host
  .linkcheckerrc
Owners: @grafana/platform-monitoring

Fix incorrectly formatted linkcheckerrc file
  .linkcheckerrc
Owners: @grafana/platform-monitoring

Remove change made for demonstration purposes
  README.md
Owners: @grafana/platform-monitoring

CI: Throttle requests per host to prevent flaky link check (#2574)
  .linkcheckerrc
Owners: @grafana/platform-monitoring

initial tests
  .github/workflows/acc-tests.yml
  docker-compose.yml
  internal/resources/appplatform/connection_resource.go
  internal/resources/appplatform/implementation_plans/git_sync_resources.md
  internal/resources/appplatform/provisioning_resource_acc_test.go
  internal/testutils/provider.go
  testdata/appplatform/provisioning/github-app-private-key-v1.pem
  testdata/appplatform/provisioning/github-app-private-key-v2.pem
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

resource frameowrk fixes - dont recreate secrets on update if version didnt change, retries for updates and delets
  internal/resources/appplatform/resource.go
  internal/resources/appplatform/resource_test.go
Owners: @grafana/grafana-app-platform-squad

testss
  internal/resources/appplatform/provisioning_resource_acc_test.go
Owners: @grafana/grafana-app-platform-squad

testss
  internal/resources/appplatform/provisioning_resource_acc_test.go
Owners: @grafana/grafana-app-platform-squad

testss
  internal/resources/appplatform/provisioning_resource_acc_test.go
Owners: @grafana/grafana-app-platform-squad

resource frameowrk fixes - dont recreate secrets on update if version didnt change, retries for updates and delets
  internal/resources/appplatform/resource.go
  internal/resources/appplatform/resource_test.go
Owners: @grafana/grafana-app-platform-squad

remove dependency on prov
  internal/resources/appplatform/secure_subresource_support_test.go
Owners: @grafana/grafana-app-platform-squad

remove dependency on prov
  internal/resources/appplatform/secure_subresource_support_test.go
Owners: @grafana/grafana-app-platform-squad

test fix
  internal/resources/appplatform/provisioning_resource_acc_test.go
Owners: @grafana/grafana-app-platform-squad

fix lint
  internal/resources/appplatform/resource.go
Owners: @grafana/grafana-app-platform-squad

fix lint
  internal/resources/appplatform/resource.go
Owners: @grafana/grafana-app-platform-squad

docs
  docs/resources/apps_provisioning_connection_v0alpha1.md
  docs/resources/apps_provisioning_repository_v0alpha1.md
Owners: @grafana/platform-monitoring

catalog
  internal/resources/appplatform/catalog-resource.yaml
Owners: @grafana/grafana-app-platform-squad
