Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/grafana-com-maintainers, @grafana/identity-squad, @grafana/asserts, @grafana/middleware-apps, @grafana/fleet-management-backend, @grafana/frontend-o11y, @grafana/k6-cloud-provisioning, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring, @grafana/grafana-app-platform-squad

adding collector type to the resource and data models
  internal/resources/fleetmanagement/data_source_collector.go
  internal/resources/fleetmanagement/data_source_collectors.go
  internal/resources/fleetmanagement/model_collector.go
  internal/resources/fleetmanagement/resource_collector.go
Owners: @grafana/fleet-management-backend

blank collector type defaults to alloy for backwards compatibility
  internal/resources/fleetmanagement/model_collector_test.go
  internal/resources/fleetmanagement/resource_collector.go
  internal/resources/fleetmanagement/resource_collector_test.go
Owners: @grafana/fleet-management-backend

updating documentation
  docs/data-sources/fleet_management_collector.md
  docs/data-sources/fleet_management_collectors.md
  docs/resources/fleet_management_collector.md
Owners: @grafana/platform-monitoring

Add links to step-by-step guide for Fleet Mgmt (#2484)
  docs/data-sources/fleet_management_collector.md
  docs/data-sources/fleet_management_collectors.md
  docs/resources/fleet_management_collector.md
  docs/resources/fleet_management_pipeline.md
  internal/resources/fleetmanagement/data_source_collector.go
  internal/resources/fleetmanagement/data_source_collectors.go
  internal/resources/fleetmanagement/resource_collector.go
  internal/resources/fleetmanagement/resource_pipeline.go
Owners: @grafana/platform-monitoring, @grafana/fleet-management-backend

Expose OTLP Gateway source ips
  docs/data-sources/cloud_ips.md
  internal/resources/cloud/data_source_cloud_ips.go
  provider_schema.json
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers

feat: add secrets manager resources
  docs/resources/apps_secret_keeper_activation_v1beta1.md
  docs/resources/apps_secret_keeper_v1beta1.md
  docs/resources/apps_secret_securevalue_v1beta1.md
  examples/resources/grafana_keeper/import.sh
  examples/resources/grafana_keeper/resource.tf
  examples/resources/grafana_keeper_activation/import.sh
  examples/resources/grafana_keeper_activation/resource.tf
  examples/resources/grafana_secure_value/import.sh
  examples/resources/grafana_secure_value/resource.tf
  internal/common/client.go
  internal/common/secretsapi/client.go
  internal/resources/appplatform/secret_keeper_activation_resource.go
  internal/resources/appplatform/secret_keeper_resource.go
  internal/resources/appplatform/secret_keeper_resource_acc_test.go
  internal/resources/appplatform/secret_secure_value_resource.go
  internal/resources/appplatform/secret_secure_value_resource_acc_test.go
  internal/resources/appplatform/secret_shared.go
  internal/resources/appplatform/secrets_validators.go
  pkg/provider/configure_clients.go
  pkg/provider/resources.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

fix secrets client config
  pkg/provider/configure_clients.go
Owners: @grafana/platform-monitoring

update catalog / go generate
  internal/resources/appplatform/catalog-resource.yaml
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/grafana-app-platform-squad, @grafana/platform-monitoring

lint
  internal/resources/appplatform/secret_keeper_resource_acc_test.go
  internal/resources/appplatform/secret_secure_value_resource_acc_test.go
Owners: @grafana/grafana-app-platform-squad

delete secrets docs
  docs/resources/apps_secret_keeper_activation_v1beta1.md
  docs/resources/apps_secret_keeper_v1beta1.md
  docs/resources/apps_secret_securevalue_v1beta1.md
Owners: @grafana/platform-monitoring

go generate ./...
  docs/resources/apps_secret_keeper_activation_v1beta1.md
  docs/resources/apps_secret_keeper_v1beta1.md
  docs/resources/apps_secret_securevalue_v1beta1.md
Owners: @grafana/platform-monitoring

remove stack id check from tests
  internal/resources/appplatform/secret_keeper_resource_acc_test.go
  internal/resources/appplatform/secret_secure_value_resource_acc_test.go
Owners: @grafana/grafana-app-platform-squad

docker-compose.yml: add secrets feature flags
  docker-compose.yml
Owners: @grafana/platform-monitoring

add version check to tests
  internal/resources/appplatform/secret_keeper_resource_acc_test.go
  internal/resources/appplatform/secret_secure_value_resource_acc_test.go
Owners: @grafana/grafana-app-platform-squad

examples_test: require v12.2.0 for secrets
  internal/resources/examples_test.go
Owners: @grafana/platform-monitoring

Add url to folder diff when title changes
  internal/resources/grafana/resource_folder.go
  internal/resources/grafana/resource_folder_test.go
Owners: @grafana/platform-monitoring

TestAccExamples: require v12.2.0 to run secrets tests
  internal/resources/examples_test.go
Owners: @grafana/platform-monitoring

test
  README.md
Owners: @grafana/platform-monitoring

use types from github.com/grafana/grafana/apps/secret/pkg/apis/secret/v1beta1
  go.mod
  go.sum
  internal/resources/appplatform/secret_keeper_activation_resource.go
  internal/resources/appplatform/secret_keeper_resource.go
  internal/resources/appplatform/secret_keeper_resource_acc_test.go
  internal/resources/appplatform/secret_secure_value_resource.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

lint
  internal/resources/appplatform/secret_secure_value_resource.go
Owners: @grafana/grafana-app-platform-squad

lint
  internal/resources/appplatform/secret_keeper_activation_resource.go
Owners: @grafana/grafana-app-platform-squad

adding collector type to the resource and data models
  internal/resources/fleetmanagement/data_source_collector.go
  internal/resources/fleetmanagement/data_source_collectors.go
  internal/resources/fleetmanagement/model_collector.go
  internal/resources/fleetmanagement/resource_collector.go
Owners: @grafana/fleet-management-backend

updating documentation
  docs/data-sources/fleet_management_collector.md
  docs/data-sources/fleet_management_collectors.md
  docs/resources/fleet_management_collector.md
Owners: @grafana/platform-monitoring

adding resource level validation
  go.mod
  go.sum
  internal/resources/fleetmanagement/alloy_config_type.go
  internal/resources/fleetmanagement/alloy_config_type_test.go
  internal/resources/fleetmanagement/alloy_config_value.go
  internal/resources/fleetmanagement/alloy_config_value_test.go
  internal/resources/fleetmanagement/model_pipeline.go
  internal/resources/fleetmanagement/model_pipeline_test.go
  internal/resources/fleetmanagement/pipeline_config_validator.go
  internal/resources/fleetmanagement/pipeline_config_validator_test.go
  internal/resources/fleetmanagement/resource_pipeline.go
  internal/resources/fleetmanagement/yaml.go
Owners: @grafana/platform-monitoring, @grafana/fleet-management-backend

updating pipeline resource
  internal/resources/fleetmanagement/resource_pipeline.go
  internal/resources/fleetmanagement/resource_pipeline_test.go
Owners: @grafana/fleet-management-backend

blank collector type defaults to alloy for backwards compatibility
  internal/resources/fleetmanagement/model_collector_test.go
  internal/resources/fleetmanagement/resource_collector.go
  internal/resources/fleetmanagement/resource_collector_test.go
Owners: @grafana/fleet-management-backend

updating the pipeline model
  internal/resources/fleetmanagement/model_pipeline.go
  internal/resources/fleetmanagement/model_pipeline_test.go
Owners: @grafana/fleet-management-backend

updating the public api version
  go.mod
  go.sum
Owners: @grafana/platform-monitoring

blank collector type defaults to alloy for backwards compatibility
  internal/resources/fleetmanagement/model_collector_test.go
  internal/resources/fleetmanagement/resource_collector.go
  internal/resources/fleetmanagement/resource_collector_test.go
Owners: @grafana/fleet-management-backend

updating the public api version
  go.mod
  go.sum
Owners: @grafana/platform-monitoring

adding collector type to the resource and data models
  internal/resources/fleetmanagement/data_source_collector.go
  internal/resources/fleetmanagement/data_source_collectors.go
  internal/resources/fleetmanagement/model_collector.go
  internal/resources/fleetmanagement/resource_collector.go
Owners: @grafana/fleet-management-backend

updating documentation
  docs/data-sources/fleet_management_collector.md
  docs/data-sources/fleet_management_collectors.md
  docs/resources/fleet_management_collector.md
Owners: @grafana/platform-monitoring

linter fix #1
  internal/resources/fleetmanagement/common.go
  internal/resources/fleetmanagement/model_collector.go
  internal/resources/fleetmanagement/model_pipeline.go
  internal/resources/fleetmanagement/pipeline_config_validator.go
  internal/resources/fleetmanagement/resource_collector.go
  internal/resources/fleetmanagement/resource_pipeline.go
Owners: @grafana/fleet-management-backend

doc updates
  docs/resources/fleet_management_pipeline.md
Owners: @grafana/platform-monitoring

feat(oncall): Add missing data sources for route, on_call_shift, and escalation_policy
  docs/data-sources/oncall_escalation_policy.md
  docs/data-sources/oncall_on_call_shift.md
  docs/data-sources/oncall_route.md
  internal/resources/oncall/data_source_escalation_policy.go
  internal/resources/oncall/data_source_escalation_policy_test.go
  internal/resources/oncall/data_source_on_call_shift.go
  internal/resources/oncall/data_source_on_call_shift_test.go
  internal/resources/oncall/data_source_route.go
  internal/resources/oncall/data_source_route_test.go
  internal/resources/oncall/resources.go
Owners: @grafana/platform-monitoring, @grafana/grafana-irm-backend

fix: Regenerate docs and fix test imports
  docs/data-sources/oncall_escalation_policy.md
  docs/data-sources/oncall_on_call_shift.md
  docs/data-sources/oncall_route.md
  internal/resources/oncall/data_source_escalation_policy_test.go
  internal/resources/oncall/data_source_on_call_shift_test.go
  internal/resources/oncall/data_source_route_test.go
Owners: @grafana/platform-monitoring, @grafana/grafana-irm-backend

fix(oncall): Add pagination support for route and escalation_policy data sources
  internal/resources/oncall/data_source_escalation_policy.go
  internal/resources/oncall/data_source_route.go
Owners: @grafana/grafana-irm-backend

Replace k6 resources when changing project ID
  internal/resources/k6/resource_loadtest.go
  internal/resources/k6/resource_loadtest_test.go
  internal/resources/k6/resource_project_allowed_load_zones.go
  internal/resources/k6/resource_project_allowed_load_zones_test.go
  internal/resources/k6/resource_project_limits.go
  internal/resources/k6/resource_project_limits_test.go
Owners: @grafana/k6-cloud-provisioning

4914: adding support for prom rules (#2409)
  docs/resources/asserts_prom_rule_file.md
  examples/resources/grafana_asserts_prom_rule_file/import.sh
  examples/resources/grafana_asserts_prom_rule_file/resource.tf
  go.mod
  go.sum
  internal/resources/asserts/catalog-resource.yaml
  internal/resources/asserts/common.go
  internal/resources/asserts/common_lister.go
  internal/resources/asserts/resource_custom_model_rules.go
  internal/resources/asserts/resource_custom_model_rules_test.go
  internal/resources/asserts/resource_log_config.go
  internal/resources/asserts/resource_log_config_test.go
  internal/resources/asserts/resource_prom_rules.go
  internal/resources/asserts/resource_prom_rules_test.go
  internal/resources/asserts/resources.go
Owners: @grafana/platform-monitoring, @grafana/asserts

upgrade github.com/grafana/grafana/apps/secret version
  go.mod
  go.sum
Owners: @grafana/platform-monitoring

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting_*            @grafana/alerting-squad
/internal/resources/cloud/*                         @grafana/grafana-com-maintainers
/internal/resources/cloud/*_access_policy_*         @grafana/identity-squad
/internal/resources/grafana/*_organization_user*    @grafana/identity-squad
/internal/resources/asserts/*                       @grafana/asserts
/internal/resources/cloudprovider/*                 @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/middleware-apps
/internal/resources/fleetmanagement/*               @grafana/fleet-management-backend
/internal/resources/frontendo11y/*                  @grafana/frontend-o11y
/internal/resources/k6/*                            @grafana/k6-cloud-provisioning
/internal/resources/machinelearning/*               @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/synthetic-monitoring
/internal/resources/appplatform/*                   @grafana/grafana-app-platform-squad
/internal/resources/appplatform/alertenrichment*    @grafana/alerting-squad
