Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/grafana-com-maintainers, @grafana/identity-squad, @grafana/asserts, @grafana/middleware-apps, @grafana/fleet-management-backend, @grafana/frontend-o11y, @grafana/k6-cloud-provisioning, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring, @grafana/grafana-app-platform-squad

go mod tidy
  go.mod
  go.sum
Owners: @grafana/platform-monitoring

Replace k6 resources when changing project ID (#2501)
  internal/resources/k6/resource_loadtest.go
  internal/resources/k6/resource_loadtest_test.go
  internal/resources/k6/resource_project_allowed_load_zones.go
  internal/resources/k6/resource_project_allowed_load_zones_test.go
  internal/resources/k6/resource_project_limits.go
  internal/resources/k6/resource_project_limits_test.go
Owners: @grafana/k6-cloud-provisioning

feat: [KG] Add Knowledge Graph trace configuration resource (#2511)
  docs/resources/asserts_trace_config.md
  examples/resources/grafana_asserts_trace_config/import.sh
  examples/resources/grafana_asserts_trace_config/resource.tf
  internal/resources/asserts/catalog-resource.yaml
  internal/resources/asserts/common_lister.go
  internal/resources/asserts/resource_trace_config.go
  internal/resources/asserts/resource_trace_config_test.go
  internal/resources/asserts/resources.go
Owners: @grafana/platform-monitoring, @grafana/asserts

frontend-o11y: Handle `dev` and `ops` stacks
  internal/common/frontendo11yapi/client.go
  internal/common/frontendo11yapi/client_test.go
  internal/resources/frontendo11y/common.go
  internal/resources/frontendo11y/data_source_frontend_o11y_app.go
  internal/resources/frontendo11y/resource_frontend_o11y_app.go
Owners: @grafana/platform-monitoring, @grafana/frontend-o11y

frontend-o11y: Handle `dev` and `ops` stacks (#2504)
  internal/common/frontendo11yapi/client.go
  internal/common/frontendo11yapi/client_test.go
  internal/resources/frontendo11y/common.go
  internal/resources/frontendo11y/data_source_frontend_o11y_app.go
  internal/resources/frontendo11y/resource_frontend_o11y_app.go
Owners: @grafana/platform-monitoring, @grafana/frontend-o11y

feat: Add grafana_rule resource for JSON-based alert management
  internal/resources/grafana/common_check_exists_test.go
  internal/resources/grafana/resource_rule.go
  internal/resources/grafana/resource_rule_test.go
  internal/resources/grafana/resources.go
Owners: @grafana/platform-monitoring

replacing sync.once with lock/unlock to fix concurrency bug in cloud acceptance tests
  internal/resources/fleetmanagement/resource_collector.go
Owners: @grafana/fleet-management-backend

Update Fleet Management collector model to support OTel collectors (#2492)
  docs/data-sources/fleet_management_collector.md
  docs/data-sources/fleet_management_collectors.md
  docs/resources/fleet_management_collector.md
  go.mod
  go.sum
  internal/resources/fleetmanagement/data_source_collector.go
  internal/resources/fleetmanagement/data_source_collectors.go
  internal/resources/fleetmanagement/model_collector.go
  internal/resources/fleetmanagement/model_collector_test.go
  internal/resources/fleetmanagement/resource_collector.go
  internal/resources/fleetmanagement/resource_collector_test.go
Owners: @grafana/platform-monitoring, @grafana/fleet-management-backend

feat: Add grafana_alerting_rule resource for JSON-based alert management
  docs/resources/alerting_rule.md
  examples/resources/grafana_alerting_rule/import.sh
  examples/resources/grafana_alerting_rule/resource.tf
  internal/resources/grafana/common_check_exists_test.go
  internal/resources/grafana/resource_alerting_rule.go
  internal/resources/grafana/resource_alerting_rule_test.go
  internal/resources/grafana/resources.go
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad

Added new resource for data source cache config
  docs/resources/data_source_cache_config.md
  examples/resources/grafana_data_source_cache_config/import.sh
  examples/resources/grafana_data_source_cache_config/resource.tf
  internal/resources/grafana/resource_data_source_cache_config.go
  internal/resources/grafana/resource_data_source_cache_config_test.go
  internal/resources/grafana/resources.go
Owners: @grafana/platform-monitoring

Updated schema
  provider_schema.json
Owners: @grafana/platform-monitoring

Refactored following lint tests
  internal/resources/grafana/resource_data_source_cache_config.go
Owners: @grafana/platform-monitoring

Added to catalog resources
  internal/resources/grafana/catalog-resource.yaml
Owners: @grafana/platform-monitoring

Updated to set a new default
  docs/resources/data_source_cache_config.md
  internal/resources/grafana/resource_data_source_cache_config.go
Owners: @grafana/platform-monitoring

Docs lint fix
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring

Add missing files
  examples/resources/grafana_alerting_rule/_acc_basic.tf
  examples/resources/grafana_alerting_rule/_acc_basic_update.tf
  examples/resources/grafana_alerting_rule/_acc_basic_update_uid.tf
  examples/resources/grafana_alerting_rule/_acc_uid_unset.tf
  examples/resources/grafana_alerting_rule/_acc_uid_unset_set.tf
Owners: @grafana/platform-monitoring

use the standard resource for secure values
  internal/common/client.go
  internal/common/secretsapi/client.go
  internal/resources/appplatform/resource.go
  internal/resources/appplatform/secret_keeper_resource_acc_test.go
  internal/resources/appplatform/secret_secure_value_resource.go
  internal/resources/appplatform/secret_secure_value_resource_acc_test.go
  pkg/provider/configure_clients.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

go mod tidy
  go.mod
  go.sum
Owners: @grafana/platform-monitoring

lint
  internal/resources/appplatform/secret_shared.go
Owners: @grafana/grafana-app-platform-squad

undo dst.ID changes
  internal/resources/appplatform/resource.go
Owners: @grafana/grafana-app-platform-squad

secure value resource accepts changes to id
  internal/resources/appplatform/secret_secure_value_resource.go
Owners: @grafana/grafana-app-platform-squad

go generate ./...
  docs/resources/apps_secret_securevalue_v1beta1.md
Owners: @grafana/platform-monitoring

fix(tests): normalize duration fields and remove empty relativeTimeRange objects in alerting rule test configs
  internal/resources/grafana/resource_alerting_rule_test.go
Owners: @grafana/alerting-squad

cleaning up some duplicate tests
  internal/resources/fleetmanagement/alloy_config_value_test.go
  internal/resources/fleetmanagement/pipeline_config_validator_test.go
Owners: @grafana/fleet-management-backend

renaming from "alloy_*" to "pipeline_*" to denote that these configs are no longer just alloy
  internal/resources/fleetmanagement/pipeline_config_type.go
  internal/resources/fleetmanagement/pipeline_config_type_test.go
  internal/resources/fleetmanagement/pipeline_config_value.go
  internal/resources/fleetmanagement/pipeline_config_value_test.go
Owners: @grafana/fleet-management-backend

adding correct config syntax to tests
  internal/resources/fleetmanagement/resource_pipeline_test.go
Owners: @grafana/fleet-management-backend

feat: [KG] Add Knowledge Graph profile configuration resource (#2513)
  docs/resources/asserts_profile_config.md
  examples/resources/grafana_asserts_profile_config/import.sh
  examples/resources/grafana_asserts_profile_config/resource.tf
  internal/resources/asserts/catalog-resource.yaml
  internal/resources/asserts/common.go
  internal/resources/asserts/common_lister.go
  internal/resources/asserts/resource_profile_config.go
  internal/resources/asserts/resource_profile_config_test.go
  internal/resources/asserts/resource_trace_config.go
  internal/resources/asserts/resources.go
Owners: @grafana/platform-monitoring, @grafana/asserts

Use require for testing and replace references of River with Alloy configuration
  docs/resources/fleet_management_pipeline.md
  internal/resources/fleetmanagement/pipeline_config_validator.go
  internal/resources/fleetmanagement/pipeline_config_validator_test.go
Owners: @grafana/platform-monitoring, @grafana/fleet-management-backend

moving the remainder of the tests to use require
  internal/resources/fleetmanagement/model_collector_test.go
  internal/resources/fleetmanagement/model_pipeline_test.go
  internal/resources/fleetmanagement/pipeline_config_type_test.go
  internal/resources/fleetmanagement/pipeline_config_validator_test.go
  internal/resources/fleetmanagement/pipeline_config_value_test.go
  internal/resources/fleetmanagement/utils_test.go
Owners: @grafana/fleet-management-backend

regenerating docs
  docs/resources/fleet_management_pipeline.md
Owners: @grafana/platform-monitoring

feat: Add support for secret_manager_enabled
  examples/resources/grafana_synthetic_monitoring_check/http_secret_manager.tf
  go.mod
  internal/resources/syntheticmonitoring/resource_check.go
  internal/resources/syntheticmonitoring/resource_check_test.go
Owners: @grafana/platform-monitoring, @grafana/synthetic-monitoring

generate docs
  docs/resources/synthetic_monitoring_check.md
Owners: @grafana/platform-monitoring

removing references to river naming
  docs/resources/fleet_management_pipeline.md
  internal/resources/fleetmanagement/pipeline_config_validator.go
  internal/resources/fleetmanagement/pipeline_config_value.go
  internal/resources/fleetmanagement/pipeline_config_value_test.go
  internal/resources/fleetmanagement/resource_pipeline.go
Owners: @grafana/platform-monitoring, @grafana/fleet-management-backend

fixing failing cloud acceptance test
  internal/resources/fleetmanagement/resource_pipeline_test.go
Owners: @grafana/fleet-management-backend

normalizing the YAML to pass string equality tests
  internal/resources/fleetmanagement/resource_pipeline_test.go
Owners: @grafana/fleet-management-backend

[Fleet Management] Update pipeline model to support OTel collectors in Fleet Management (#2507)
  docs/resources/fleet_management_pipeline.md
  go.mod
  go.sum
  internal/resources/fleetmanagement/alloy_config_type_test.go
  internal/resources/fleetmanagement/alloy_config_value.go
  internal/resources/fleetmanagement/alloy_config_value_test.go
  internal/resources/fleetmanagement/common.go
  internal/resources/fleetmanagement/model_collector.go
  internal/resources/fleetmanagement/model_collector_test.go
  internal/resources/fleetmanagement/model_pipeline.go
  internal/resources/fleetmanagement/model_pipeline_test.go
  internal/resources/fleetmanagement/pipeline_config_type.go
  internal/resources/fleetmanagement/pipeline_config_type_test.go
  internal/resources/fleetmanagement/pipeline_config_validator.go
  internal/resources/fleetmanagement/pipeline_config_validator_test.go
  internal/resources/fleetmanagement/pipeline_config_value.go
  internal/resources/fleetmanagement/pipeline_config_value_test.go
  internal/resources/fleetmanagement/resource_collector.go
  internal/resources/fleetmanagement/resource_pipeline.go
  internal/resources/fleetmanagement/resource_pipeline_test.go
  internal/resources/fleetmanagement/utils_test.go
  internal/resources/fleetmanagement/yaml.go
Owners: @grafana/platform-monitoring, @grafana/fleet-management-backend

frontend-o11y: Add ability to override the API URL
  internal/common/frontendo11yapi/client.go
  internal/common/frontendo11yapi/client_test.go
  pkg/provider/configure_clients.go
  pkg/provider/framework_provider.go
  pkg/provider/legacy_provider.go
Owners: @grafana/platform-monitoring

commit docs update
  docs/index.md
Owners: @grafana/platform-monitoring

frontend-o11y: Add ability to override the API URL (#2518)
  docs/index.md
  internal/common/frontendo11yapi/client.go
  internal/common/frontendo11yapi/client_test.go
  pkg/provider/configure_clients.go
  pkg/provider/framework_provider.go
  pkg/provider/legacy_provider.go
Owners: @grafana/platform-monitoring

removed heartbeat from list of integration types since its not supported
  docs/resources/oncall_integration.md
Owners: @grafana/platform-monitoring

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting_*            @grafana/alerting-squad
/internal/resources/cloud/*                         @grafana/grafana-com-maintainers
/internal/resources/cloud/*_access_policy_*         @grafana/identity-squad
/internal/resources/grafana/*_organization_user*    @grafana/identity-squad
/internal/resources/asserts/*                       @grafana/asserts
/internal/resources/cloudprovider/*                 @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/middleware-apps
/internal/resources/fleetmanagement/*               @grafana/fleet-management-backend
/internal/resources/frontendo11y/*                  @grafana/frontend-o11y
/internal/resources/k6/*                            @grafana/k6-cloud-provisioning
/internal/resources/machinelearning/*               @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/synthetic-monitoring
/internal/resources/appplatform/*                   @grafana/grafana-app-platform-squad
/internal/resources/appplatform/alertenrichment*    @grafana/alerting-squad
