Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/grafana-com-maintainers, @grafana/identity-squad, @grafana/asserts, @grafana/middleware-apps, @grafana/fleet-management-backend, @grafana/frontend-o11y, @grafana/k6-cloud-provisioning, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring, @grafana/grafana-app-platform-squad

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting_*            @grafana/alerting-squad
/internal/resources/cloud/*                         @grafana/grafana-com-maintainers
/internal/resources/cloud/*_access_policy_*         @grafana/identity-squad
/internal/resources/grafana/*_organization_user*    @grafana/identity-squad
/internal/resources/asserts/*                       @grafana/asserts
/internal/resources/cloudprovider/*                 @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/middleware-apps
/internal/resources/fleetmanagement/*               @grafana/fleet-management-backend
/internal/resources/frontendo11y/*                  @grafana/frontend-o11y
/internal/resources/k6/*                            @grafana/k6-cloud-provisioning
/internal/resources/machinelearning/*               @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/synthetic-monitoring
/internal/resources/appplatform/*                   @grafana/grafana-app-platform-squad
/internal/resources/appplatform/alertenrichment*    @grafana/alerting-squad

Tidy up go.mod
  go.mod
Owners: @grafana/platform-monitoring

Enable panel_ref support for alert rules
  internal/resources/appplatform/alertrule_resource.go
Owners: @grafana/grafana-app-platform-squad

Update docs
  docs/functions/k6bundle.md
  docs/resources/apps_rules_alertrule_v0alpha1.md
  docs/resources/apps_rules_recordingrule_v0alpha1.md
Owners: @grafana/platform-monitoring

Add missing example tests
  examples/resources/grafana_apps_rules_alertrule_v0alpha1/resource.tf
  examples/resources/grafana_apps_rules_recordingrule_v0alpha1/resource.tf
  internal/resources/examples_test.go
Owners: @grafana/platform-monitoring

Gen docs with examples + use friendlier ds uids
  docs/resources/apps_rules_alertrule_v0alpha1.md
  docs/resources/apps_rules_recordingrule_v0alpha1.md
  examples/resources/grafana_apps_rules_alertrule_v0alpha1/resource.tf
  examples/resources/grafana_apps_rules_recordingrule_v0alpha1/resource.tf
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring

Fix panel ref type
  docs/resources/apps_rules_alertrule_v0alpha1.md
  internal/resources/appplatform/alertrule_resource.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

Update golangci-lint to support go 1.25
  .golangci.toml
  GNUmakefile
Owners: @grafana/platform-monitoring

Fix linting problems
  internal/resources/appplatform/alertrule_resource.go
  internal/resources/appplatform/rule_common.go
Owners: @grafana/grafana-app-platform-squad

Change rotation implementation
  docs/resources/cloud_access_policy_rotating_token.md
  examples/resources/grafana_cloud_access_policy_rotating_token/resource.tf
  internal/resources/cloud/common.go
  internal/resources/cloud/resource_cloud_access_policy_rotating_token.go
  internal/resources/cloud/resource_cloud_access_policy_rotating_token_test.go
  internal/resources/cloud/resource_cloud_access_policy_token.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers, @grafana/identity-squad

fix: ensure time_zone is read for web schedules
  internal/resources/oncall/resource_schedule.go
Owners: @grafana/grafana-irm-backend

fix: add example for generated docs
  examples/resources/grafana_oncall_schedule/resource.tf
Owners: @grafana/platform-monitoring

fix: mark time_zone as computed
  internal/resources/oncall/resource_schedule.go
Owners: @grafana/grafana-irm-backend

doc: fix typo
  docs/resources/oncall_schedule.md
Owners: @grafana/platform-monitoring

docs: fix typo in grafana_oncall_schedule examples
  docs/resources/oncall_schedule.md
  examples/resources/grafana_oncall_schedule/resource.tf
Owners: @grafana/platform-monitoring

fix: fmt terraform example
  examples/resources/grafana_oncall_schedule/resource.tf
Owners: @grafana/platform-monitoring

docs: generate docs again
  docs/resources/oncall_schedule.md
Owners: @grafana/platform-monitoring

fix: allow time_zone to be specified in web schedules (#2401)
  docs/resources/oncall_schedule.md
  examples/resources/grafana_oncall_schedule/resource.tf
  internal/resources/oncall/resource_schedule.go
Owners: @grafana/platform-monitoring, @grafana/grafana-irm-backend

add missing step type notify_if_num_alerts_in_window and required parameters of num_alerts_in_window and num_minutes_in_window
  internal/resources/oncall/resource_escalation.go
Owners: @grafana/grafana-irm-backend

add tests for escalation type notify_if_num_alerts_in_window
  internal/resources/oncall/resource_escalation_test.go
Owners: @grafana/grafana-irm-backend

test: enable workflow on PRs for testing
  .github/workflows/update-schema.yml
  current_schema.json
  internal/resources/slo/resource_slo.go
Owners: @grafana/platform-monitoring, @grafana/slo-squad

temp: switch to GITHUB_TOKEN
  .github/workflows/update-schema.yml
Owners: @grafana/platform-monitoring

docs(README): fix and expand instructions on running tests
  README.md
Owners: @grafana/platform-monitoring

clarify docs instructions
  README.md
Owners: @grafana/platform-monitoring

fix: add mutext
  internal/common/client.go
  internal/resources/grafana/resource_dashboard.go
Owners: @grafana/platform-monitoring

fix: add mutext (#2415)
  internal/common/client.go
  internal/resources/grafana/resource_dashboard.go
Owners: @grafana/platform-monitoring

Fix docs gen
  docs/functions/k6bundle.md
Owners: @grafana/platform-monitoring

Update golangci config to match previous behavior
  .golangci.toml
Owners: @grafana/platform-monitoring

Fix lints
  internal/resources/appplatform/alertrule_resource.go
  internal/resources/appplatform/recordingrule_resource.go
  internal/resources/appplatform/rule_common.go
Owners: @grafana/grafana-app-platform-squad

Temporarily skip rules example tests
  internal/resources/examples_test.go
Owners: @grafana/platform-monitoring

bump amixr-api-go-client version
  go.mod
Owners: @grafana/platform-monitoring

update go.sum
  go.sum
Owners: @grafana/platform-monitoring

update docs and remove field requirement. OnCall api does not enforce parameters
  docs/resources/oncall_escalation.md
  internal/resources/oncall/resource_escalation.go
  internal/resources/oncall/resource_escalation_test.go
Owners: @grafana/platform-monitoring, @grafana/grafana-irm-backend

change test assertion
  internal/resources/oncall/resource_escalation_test.go
Owners: @grafana/grafana-irm-backend

Fix k6 project limits datasource tests
  docs/data-sources/k6_project_limits.md
  examples/data-sources/grafana_k6_project_limits/data-source.tf
Owners: @grafana/platform-monitoring

Fix k6 project limits datasource tests (#2417)
  docs/data-sources/k6_project_limits.md
  examples/data-sources/grafana_k6_project_limits/data-source.tf
Owners: @grafana/platform-monitoring

Bug Fix: Add API supported missing type to escalation policy (#2411)
  docs/resources/oncall_escalation.md
  go.mod
  go.sum
  internal/resources/oncall/resource_escalation.go
  internal/resources/oncall/resource_escalation_test.go
Owners: @grafana/platform-monitoring, @grafana/grafana-irm-backend

Remove debug logging used in development
  internal/resources/appplatform/alertrule_resource.go
  internal/resources/appplatform/rule_common.go
Owners: @grafana/grafana-app-platform-squad

Change rotation implementation (#2405)
  docs/resources/cloud_access_policy_rotating_token.md
  examples/resources/grafana_cloud_access_policy_rotating_token/resource.tf
  internal/resources/cloud/common.go
  internal/resources/cloud/resource_cloud_access_policy_rotating_token.go
  internal/resources/cloud/resource_cloud_access_policy_rotating_token_test.go
  internal/resources/cloud/resource_cloud_access_policy_token.go
Owners: @grafana/platform-monitoring, @grafana/grafana-com-maintainers, @grafana/identity-squad

fix: comment in test
  internal/resources/cloud/resource_cloud_access_policy_rotating_token_test.go
Owners: @grafana/identity-squad

feat: Add k8s alertrule and recordingrule resources (#2404)
  .golangci.toml
  GNUmakefile
  docs/resources/apps_rules_alertrule_v0alpha1.md
  docs/resources/apps_rules_recordingrule_v0alpha1.md
  examples/resources/grafana_apps_rules_alertrule_v0alpha1/resource.tf
  examples/resources/grafana_apps_rules_recordingrule_v0alpha1/resource.tf
  go.mod
  go.sum
  internal/resources/appplatform/alertrule_resource.go
  internal/resources/appplatform/catalog-resource.yaml
  internal/resources/appplatform/recordingrule_resource.go
  internal/resources/appplatform/rule_common.go
  internal/resources/examples_test.go
  internal/util/pointer.go
  pkg/generate/postprocessing/replace_references.go
  pkg/provider/resources.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad
