Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/grafana-com-maintainers, @grafana/identity-squad, @grafana/asserts, @grafana/middleware-apps, @grafana/fleet-management-backend, @grafana/frontend-o11y, @grafana/k6-cloud-provisioning, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring, @grafana/grafana-app-platform-squad

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting_*            @grafana/alerting-squad
/internal/resources/cloud/*                         @grafana/grafana-com-maintainers
/internal/resources/cloud/*_access_policy_*         @grafana/identity-squad
/internal/resources/grafana/*_organization_user*    @grafana/identity-squad
/internal/resources/asserts/*                       @grafana/asserts
/internal/resources/cloudprovider/*                 @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/middleware-apps
/internal/resources/fleetmanagement/*               @grafana/fleet-management-backend
/internal/resources/frontendo11y/*                  @grafana/frontend-o11y
/internal/resources/k6/*                            @grafana/k6-cloud-provisioning
/internal/resources/machinelearning/*               @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/synthetic-monitoring
/internal/resources/appplatform/*                   @grafana/grafana-app-platform-squad
/internal/resources/appplatform/alertenrichment*    @grafana/alerting-squad

gate the examples
  internal/resources/examples_test.go
Owners: @grafana/platform-monitoring

Use the stacks-api.
  internal/resources/cloud/resource_cloud_stack.go
Owners: @grafana/grafana-com-maintainers

fix linting.
  internal/resources/cloud/resource_cloud_stack.go
Owners: @grafana/grafana-com-maintainers

reduce wait time.
  internal/resources/cloud/resource_cloud_stack.go
Owners: @grafana/grafana-com-maintainers

use api for stacks when creating stacks (#2495)
  internal/resources/cloud/resource_cloud_stack.go
Owners: @grafana/grafana-com-maintainers

Add debug option
  scripts/add-resource/go.mod
  scripts/add-resource/go.sum
  scripts/add-resource/main.go
Owners: @grafana/platform-monitoring

test fixes
  .github/workflows/acc-tests.yml
  docker-compose.yml
Owners: @grafana/platform-monitoring

add allow_ui_updates option
  internal/resources/appplatform/resource.go
Owners: @grafana/grafana-app-platform-squad

scope allow_ui_updates to dashboard resources only
  docs/resources/apps_dashboard_dashboard_v1beta1.md
  docs/resources/apps_dashboard_dashboard_v2beta1.md
  internal/resources/appplatform/dashboard_resource.go
  internal/resources/appplatform/dashboard_v2_resource.go
  internal/resources/appplatform/resource.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

Add secure values support for App Platform resources (#2537)
  internal/resources/appplatform/implementation_plans/secure_block_support.md
  internal/resources/appplatform/resource.go
  internal/resources/appplatform/resource_test.go
  internal/resources/appplatform/secure_subresource_support.go
  internal/resources/appplatform/secure_subresource_support_test.go
  internal/resources/appplatform/secure_values.md
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

Refactor to Generic OptionsAttributes Pattern
  agent-docs/resources/appplatform.md
  internal/resources/appplatform/dashboard_resource.go
  internal/resources/appplatform/dashboard_v2_resource.go
  internal/resources/appplatform/dashboard_v2_resource_acc_test.go
  internal/resources/appplatform/resource.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

fix merge overwrite
  internal/resources/appplatform/resource.go
Owners: @grafana/grafana-app-platform-squad

fix
  internal/resources/appplatform/resource.go
Owners: @grafana/grafana-app-platform-squad

lint
  internal/resources/appplatform/dashboard_v2_resource_acc_test.go
Owners: @grafana/grafana-app-platform-squad

Add Grafana Git Sync resources (#2539)
  .github/workflows/acc-tests.yml
  docker-compose.yml
  docs/resources/apps_provisioning_connection_v0alpha1.md
  docs/resources/apps_provisioning_repository_v0alpha1.md
  examples/resources/grafana_apps_provisioning_connection_v0alpha1/resource.tf
  examples/resources/grafana_apps_provisioning_repository_v0alpha1/resource.tf
  go.mod
  go.sum
  internal/resources/appplatform/catalog-resource.yaml
  internal/resources/appplatform/connection_resource.go
  internal/resources/appplatform/implementation_plans/git_sync_resources.md
  internal/resources/appplatform/provisioning_resource_acc_test.go
  internal/resources/appplatform/repository_resource.go
  internal/resources/appplatform/resource.go
  internal/resources/examples_test.go
  internal/testutils/provider.go
  pkg/provider/resources.go
  testdata/appplatform/provisioning/github-app-private-key-v1.pem
  testdata/appplatform/provisioning/github-app-private-key-v2.pem
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

fix merge conflicts
  internal/resources/appplatform/resource.go
Owners: @grafana/grafana-app-platform-squad

fix merge conflicts (#2592)
  internal/resources/appplatform/resource.go
Owners: @grafana/grafana-app-platform-squad

replace_references gen
  pkg/generate/postprocessing/replace_references.go
Owners: @grafana/platform-monitoring

new examples
  docs/resources/apps_provisioning_connection_v0alpha1.md
  docs/resources/apps_provisioning_repository_v0alpha1.md
  examples/resources/grafana_apps_provisioning_connection_v0alpha1/resource.tf
  examples/resources/grafana_apps_provisioning_repository_v0alpha1/github-token-folder.tf
  examples/resources/grafana_apps_provisioning_repository_v0alpha1/local-repo-folder.tf
  examples/resources/grafana_apps_provisioning_repository_v0alpha1/pure-git-folder.tf
  templates/resources/apps_provisioning_repository_v0alpha1.md.tmpl
Owners: @grafana/platform-monitoring

go generate
  docs/resources/apps_provisioning_repository_v0alpha1.md
  examples/resources/grafana_apps_provisioning_repository_v0alpha1/github-app-folder.tf
  templates/resources/apps_provisioning_repository_v0alpha1.md.tmpl
Owners: @grafana/platform-monitoring

remove provisioning ff workaround
  .github/workflows/acc-tests.yml
  docker-compose.yml
Owners: @grafana/platform-monitoring

Add CI check for new sdkv2 usage
  .github/workflows/unit-tests.yml
  AGENTS.md
Owners: @grafana/platform-monitoring

Add link to one more issue
  .github/workflows/sdkv2-migration-check.yml
Owners: @grafana/platform-monitoring

Reduce message repetition
  .github/workflows/unit-tests.yml
Owners: @grafana/platform-monitoring

Create separate file for sdkv2 check
  .github/workflows/sdkv2-migration-check.yml
  .github/workflows/unit-tests.yml
  AGENTS.md
Owners: @grafana/platform-monitoring

Change max req per second to 1 for linkchecker
  .linkcheckerrc
Owners: @grafana/platform-monitoring

Change max req per second to 1 for linkchecker (#2596)
  .linkcheckerrc
Owners: @grafana/platform-monitoring

fix(provider): set User-Agent on clients that were missing it
  pkg/provider/configure_clients.go
Owners: @grafana/platform-monitoring

Ignore rate limiting when checking problematic link
  .linkcheckerrc
Owners: @grafana/platform-monitoring

Stop throttling requests
  .linkcheckerrc
Owners: @grafana/platform-monitoring

CI: Add SDKv2 usage check (#2577)
  .github/workflows/sdkv2-migration-check.yml
  AGENTS.md
Owners: @grafana/platform-monitoring

Trigger sdkv2 usage check
  internal/resources/grafana/resources.go
Owners: @grafana/platform-monitoring

Fix pr comment id
  .github/workflows/comment-on-pr.yml
  .github/workflows/sdkv2-migration-check.yml
Owners: @grafana/platform-monitoring

Fix pr comment id (#2599)
  .github/workflows/comment-on-pr.yml
  .github/workflows/sdkv2-migration-check.yml
Owners: @grafana/platform-monitoring

CI: Ignore problematic link when doing doc check (#2597)
  .linkcheckerrc
Owners: @grafana/platform-monitoring

Add computed back as a field
  internal/resources/grafana/resource_alerting_message_template.go
Owners: @grafana/alerting-squad

Remove computed field for disable_provenance
  internal/resources/grafana/resource_alerting_message_template.go
  pkg/generate/grafana.go
Owners: @grafana/alerting-squad, @grafana/platform-monitoring

Stop stripping default disable_provenance
  pkg/generate/grafana.go
  pkg/generate/testdata/generate/alerting-in-org/resources.tf.tmpl
Owners: @grafana/platform-monitoring

Update generate testdata for message_template
  pkg/generate/testdata/generate/alerting-in-org/imports.tf
  pkg/generate/testdata/generate/alerting-in-org/resources.tf.tmpl
Owners: @grafana/platform-monitoring

Migrate grafana_alerting_message_template to framework sdk
  internal/common/client.go
  internal/resources/grafana/common_check_exists_test.go
  internal/resources/grafana/common_plugin_framework.go
  internal/resources/grafana/resource_alerting_message_template.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad
