Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/dashboards-squad, @grafana/plugins-platform-backend, @grafana/grafana-search-and-storage, @grafana/grafana-backend-group, @grafana/grafana-app-platform-squad, @grafana/sharing-squad, @grafana/identity-squad, @grafana/access-squad, @grafana/grafana-com-maintainers, @grafana/middleware-apps, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring

ci(dependabot): group GitHub Actions updates (#1932)
  .github/dependabot.yml
Owners: @grafana/platform-monitoring

Revert "ci(dependabot): group GitHub Actions updates (#1932)"
  .github/dependabot.yml
Owners: @grafana/platform-monitoring

add zendesk on-call integration types
  docs/resources/oncall_integration.md
  internal/resources/oncall/resource_integration.go
Owners: @grafana/platform-monitoring, @grafana/grafana-irm-backend

Upgrade amixr-api-go-client package to v0.0.18
  go.mod
  go.sum
Owners: @grafana/platform-monitoring

Revert "ci(dependabot): group GitHub Actions updates (#1932)" (#1933)
  .github/dependabot.yml
Owners: @grafana/platform-monitoring

fix(slo test): Don't fail tests if a 404 is seen for a deleted resource
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/platform-monitoring, @grafana/slo-squad

fix(slo test): Don't fail tests if a 404 is seen for a deleted resource (#1940)
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/platform-monitoring, @grafana/slo-squad

Consider null and unknown as valid in url string validator
  internal/resources/connections/resources.go
  internal/resources/connections/resources_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

WIP test
  internal/resources/connections/metrics_endpoint_scrape_job_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Add an invalid url test
  internal/resources/connections/metrics_endpoint_scrape_job_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Remove empty line
  internal/resources/connections/resources_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Fix lint error
  internal/resources/connections/metrics_endpoint_scrape_job_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

[Connections] Consider null and unknown as valid in url string validator (#1942)
  internal/resources/connections/metrics_endpoint_scrape_job_test.go
  internal/resources/connections/resources.go
  internal/resources/connections/resources_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

SLO tests: make less flaky.
  internal/resources/slo/data_source_slo_test.go
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/platform-monitoring, @grafana/slo-squad

Fix CleanResourceName for IDs starting with a - characted
  README.md
  pkg/generate/postprocessing/preferred_resource_name.go
  pkg/generate/postprocessing/preferred_resource_name_test.go
Owners: @grafana/platform-monitoring

SLO tests: make less flaky. (#1943)
  internal/resources/slo/data_source_slo_test.go
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/platform-monitoring, @grafana/slo-squad

Update OnCall client setup to support service account auth
  pkg/provider/configure_clients.go
  pkg/provider/configure_clients_test.go
Owners: @grafana/platform-monitoring

Update OnCall auth docs
  docs/index.md
  examples/provider/provider-oncall-sa.tf
  templates/index.md.tmpl
Owners: @grafana/platform-monitoring

Update OnCall client setup to support service account auth (#1859)
  docs/index.md
  examples/provider/provider-oncall-sa.tf
  pkg/provider/configure_clients.go
  pkg/provider/configure_clients_test.go
  templates/index.md.tmpl
Owners: @grafana/platform-monitoring

stack_slug is also required for _token resource, update the example to reflect this
  docs/resources/cloud_stack_service_account_token.md
Owners: @grafana/platform-monitoring

Remove comment
  internal/resources/cloudprovider/azure_credential_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Rename resource_tag_filter -> resource_discovery_tag_filter
  docs/data-sources/cloud_provider_azure_credential.md
  docs/resources/cloud_provider_azure_credential.md
  examples/data-sources/grafana_cloud_provider_azure_credential/data-source.tf
  examples/resources/grafana_cloud_provider_azure_credential/resource.tf
  internal/common/cloudproviderapi/client.go
  internal/resources/cloudprovider/azure_credential_test.go
  internal/resources/cloudprovider/data_source_azure_credential.go
  internal/resources/cloudprovider/resource_azure_credential.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Change Required to Computed for fields in DS
  internal/resources/cloudprovider/data_source_azure_credential.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

finish impl
  internal/resources/cloudprovider/models.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Revert "Update OnCall client setup to support service account auth (#1859)"
  docs/index.md
  examples/provider/provider-oncall-sa.tf
  pkg/provider/configure_clients.go
  pkg/provider/configure_clients_test.go
  templates/index.md.tmpl
Owners: @grafana/platform-monitoring

Fix List type
  examples/data-sources/grafana_cloud_provider_azure_credential/data-source.tf
  internal/resources/cloudprovider/resource_azure_credential.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

fmt
  docs/data-sources/cloud_provider_azure_credential.md
  examples/data-sources/grafana_cloud_provider_azure_credential/data-source.tf
Owners: @grafana/platform-monitoring

Revert "Update OnCall client setup to support service account auth (#1859)" (#1954)
  docs/index.md
  examples/provider/provider-oncall-sa.tf
  pkg/provider/configure_clients.go
  pkg/provider/configure_clients_test.go
  templates/index.md.tmpl
Owners: @grafana/platform-monitoring

fix json field name
  internal/common/cloudproviderapi/client.go
  internal/resources/cloudprovider/azure_credential_test.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

cloudprovider: fix list base types for AWS scrape jobs (#1952)
  internal/resources/cloudprovider/models.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Enable oncall client setup using service account auth
  docs/index.md
  examples/provider/provider-oncall-sa.tf
  go.mod
  go.sum
  pkg/provider/configure_clients.go
  pkg/provider/configure_clients_test.go
  templates/index.md.tmpl
Owners: @grafana/platform-monitoring

Enable oncall client setup using service account auth (#1958)
  docs/index.md
  examples/provider/provider-oncall-sa.tf
  go.mod
  go.sum
  pkg/provider/configure_clients.go
  pkg/provider/configure_clients_test.go
  templates/index.md.tmpl
Owners: @grafana/platform-monitoring

apply comments from the PR review
  docs/data-sources/cloud_provider_azure_credential.md
  examples/data-sources/grafana_cloud_provider_azure_credential/data-source.tf
  internal/resources/cloudprovider/data_source_azure_credential.go
  internal/resources/cloudprovider/resource_azure_credential.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

Add resource examples
  examples/resources/grafana_fleet_management_collector/import.sh
  examples/resources/grafana_fleet_management_collector/resource.tf
  examples/resources/grafana_fleet_management_pipeline/import.sh
  examples/resources/grafana_fleet_management_pipeline/resource.tf
Owners: @grafana/platform-monitoring

Create Collector model
  internal/resources/fleetmanagement/model_collector.go
  internal/resources/fleetmanagement/model_collector_test.go
Owners: @grafana/platform-monitoring

Add Fleet Management category
  internal/common/resource.go
Owners: @grafana/platform-monitoring

Create Fleet Management client
  internal/common/fleetmanagementapi/client.go
  internal/common/fleetmanagementapi/client_test.go
Owners: @grafana/platform-monitoring

Implement common resource function
  internal/resources/fleetmanagement/common.go
Owners: @grafana/platform-monitoring

Configure Fleet Management client in provider
  internal/common/client.go
  pkg/provider/configure_clients.go
  pkg/provider/framework_provider.go
  pkg/provider/legacy_provider.go
Owners: @grafana/platform-monitoring

Implement utility functions
  internal/resources/fleetmanagement/utils.go
  internal/resources/fleetmanagement/utils_test.go
Owners: @grafana/platform-monitoring

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting*             @grafana/platform-monitoring @grafana/alerting-squad
/internal/resources/grafana/*_dashboard*            @grafana/platform-monitoring @grafana/dashboards-squad
/internal/resources/grafana/*_data_source*          @grafana/platform-monitoring @grafana/plugins-platform-backend
/internal/resources/grafana/*_folder*               @grafana/platform-monitoring @grafana/grafana-search-and-storage
/internal/resources/grafana/*_library_panel*        @grafana/platform-monitoring @grafana/dashboards-squad
/internal/resources/grafana/*_organization*         @grafana/platform-monitoring @grafana/grafana-backend-group
/internal/resources/grafana/*_playlist*             @grafana/platform-monitoring @grafana/grafana-app-platform-squad
/internal/resources/grafana/*_report*               @grafana/platform-monitoring @grafana/sharing-squad
/internal/resources/grafana/*_role*                 @grafana/platform-monitoring @grafana/identity-squad
/internal/resources/grafana/*_service_accounts*     @grafana/platform-monitoring @grafana/identity-squad
/internal/resources/grafana/*_sso*                  @grafana/platform-monitoring @grafana/identity-squad
/internal/resources/grafana/*_team*                 @grafana/platform-monitoring @grafana/access-squad
/internal/resources/grafana/*_user*                 @grafana/platform-monitoring @grafana/access-squad
/internal/resources/cloud/*                         @grafana/platform-monitoring @grafana/grafana-com-maintainers
/internal/resources/cloudprovider/*                 @grafana/platform-monitoring @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/platform-monitoring @grafana/middleware-apps
/internal/resources/machinelearning/*               @grafana/platform-monitoring @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/platform-monitoring @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/platform-monitoring @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/platform-monitoring @grafana/synthetic-monitoring
