Repository grafana/terraform-provider-grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/grafana-com-maintainers, @grafana/identity-squad, @grafana/asserts, @grafana/middleware-apps, @grafana/fleet-management-backend, @grafana/frontend-o11y, @grafana/k6-cloud-provisioning, @grafana/machine-learning, @grafana/grafana-irm-backend, @grafana/slo-squad, @grafana/synthetic-monitoring, @grafana/grafana-app-platform-squad

.github/CODEOWNERS:

* @grafana/platform-monitoring

/internal/resources/grafana/*_alerting_*            @grafana/alerting-squad
/internal/resources/cloud/*                         @grafana/grafana-com-maintainers
/internal/resources/cloud/*_access_policy_*         @grafana/identity-squad
/internal/resources/grafana/*_organization_user*    @grafana/identity-squad
/internal/resources/asserts/*                       @grafana/asserts
/internal/resources/cloudprovider/*                 @grafana/middleware-apps
/internal/resources/connections/*                   @grafana/middleware-apps
/internal/resources/fleetmanagement/*               @grafana/fleet-management-backend
/internal/resources/frontendo11y/*                  @grafana/frontend-o11y
/internal/resources/k6/*                            @grafana/k6-cloud-provisioning
/internal/resources/machinelearning/*               @grafana/machine-learning
/internal/resources/oncall/*                        @grafana/grafana-irm-backend
/internal/resources/slo/*                           @grafana/slo-squad
/internal/resources/syntheticmonitoring/*           @grafana/synthetic-monitoring
/internal/resources/appplatform/*                   @grafana/grafana-app-platform-squad
/internal/resources/appplatform/alertenrichment*    @grafana/alerting-squad

fix: sort issue with frontend_o11y_app
  internal/resources/frontendo11y/models.go
  internal/resources/frontendo11y/models_test.go
Owners: @grafana/frontend-o11y

Add formatted time validator
  internal/resources/grafana/resource_annotation.go
Owners: @grafana/platform-monitoring

Check split length before accessing slice
  internal/resources/grafana/resource_annotation.go
Owners: @grafana/platform-monitoring

Remove unnecessary comment
  internal/resources/grafana/resource_annotation.go
Owners: @grafana/platform-monitoring

Fix annotation read method
  internal/resources/grafana/resource_annotation.go
Owners: @grafana/platform-monitoring

Migrate grafana_organization_preferences
  internal/resources/grafana/data_source_organization_preferences.go
  internal/resources/grafana/resource_organization_preferences.go
  internal/resources/grafana/resources.go
Owners: @grafana/platform-monitoring

Add support for optional annotation fields
  internal/resources/grafana/resource_annotation.go
Owners: @grafana/platform-monitoring

Fix doc test
  docs/resources/organization_preferences.md
  internal/resources/grafana/resource_organization_preferences.go
Owners: @grafana/platform-monitoring

Add temporary annotaion change
  internal/resources/grafana/resource_annotation.go
Owners: @grafana/platform-monitoring

ci: update test matrix and version constraints for Grafana 12.3.4
  .github/workflows/acc-tests.yml
  GNUmakefile
  docker-compose.yml
  internal/resources/appplatform/alertenrichment_resource_acc_test.go
  internal/resources/appplatform/secret_keeper_resource_acc_test.go
  internal/resources/appplatform/secret_secure_value_resource_acc_test.go
  internal/resources/examples_test.go
  internal/resources/grafana/data_source_library_panel_test.go
  internal/resources/grafana/data_source_library_panels_test.go
  internal/resources/grafana/data_source_role_test.go
  internal/resources/grafana/resource_alerting_rule_group_test.go
  internal/resources/grafana/resource_folder_test.go
  internal/resources/grafana/resource_library_panel_test.go
  internal/resources/grafana/resource_playlist_test.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/grafana-app-platform-squad

when passing k8s dash using grafana_dashboard resource, hit k8s endpoint
  internal/resources/appplatform/dashboard_k8s_for_legacy_resource.go
  internal/resources/grafana/resource_dashboard.go
Owners: @grafana/grafana-app-platform-squad, @grafana/platform-monitoring

improve error messaging when packing SLO resource
  internal/resources/slo/resource_slo.go
Owners: @grafana/slo-squad

ci: update test matrix and version constraints for Grafana 12.3.4 (#2555)
  .github/workflows/acc-tests.yml
  GNUmakefile
  docker-compose.yml
  internal/resources/appplatform/alertenrichment_resource_acc_test.go
  internal/resources/appplatform/secret_keeper_resource_acc_test.go
  internal/resources/appplatform/secret_secure_value_resource_acc_test.go
  internal/resources/examples_test.go
  internal/resources/grafana/data_source_library_panel_test.go
  internal/resources/grafana/data_source_library_panels_test.go
  internal/resources/grafana/data_source_role_test.go
  internal/resources/grafana/resource_alerting_rule_group_test.go
  internal/resources/grafana/resource_folder_test.go
  internal/resources/grafana/resource_library_panel_test.go
  internal/resources/grafana/resource_playlist_test.go
Owners: @grafana/platform-monitoring, @grafana/alerting-squad, @grafana/grafana-app-platform-squad

update tests
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/slo-squad

lint
  internal/resources/slo/resource_slo.go
Owners: @grafana/slo-squad

lint
  internal/resources/slo/resource_slo.go
Owners: @grafana/slo-squad

update tets
  internal/resources/slo/resource_slo.go
  internal/resources/slo/resource_slo_test.go
Owners: @grafana/slo-squad

refactor: make K8s dashboard operations version-agnostic and always read via legacy API
  internal/common/client.go
  internal/resources/appplatform/dashboard_k8s_for_legacy_resource.go
  internal/resources/grafana/resource_dashboard.go
  pkg/provider/configure_clients.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

update docs
  docs/resources/dashboard.md
Owners: @grafana/platform-monitoring

lint
  internal/resources/appplatform/dashboard_k8s_for_legacy_resource.go
Owners: @grafana/grafana-app-platform-squad

docs: add AGENTS.md and Claude Code skill for app platform resources
  .claude/docs/README.md
  .claude/docs/generation/systems.md
  .claude/docs/provider/api-clients.md
  .claude/docs/provider/mux-architecture.md
  .claude/docs/resources/appplatform.md
  .claude/docs/resources/framework.md
  .claude/docs/resources/sdkv2.md
  .claude/docs/testing/infrastructure.md
  .claude/skills/add-app-platform-resource/SKILL.md
  .claude/skills/add-app-platform-resource/references/checklist.md
  .claude/skills/add-app-platform-resource/references/field-type-mapping.md
  .claude/skills/add-app-platform-resource/references/gotchas.md
  AGENTS.md
  CLAUDE.md
Owners: @grafana/platform-monitoring

feat: add grafana_apps_dashboard_dashboard_v2beta1 resource
  docs/resources/apps_dashboard_dashboard_v2beta1.md
  examples/resources/grafana_apps_dashboard_dashboard_v2beta1/resource.tf
  go.mod
  go.sum
  internal/resources/appplatform/catalog-resource.yaml
  internal/resources/appplatform/dashboard_v2_resource.go
  internal/resources/appplatform/dashboard_v2_resource_acc_test.go
  internal/resources/examples_test.go
  pkg/provider/resources.go
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

fix: correct import order and version gate for dashboard_v2 tests
  internal/resources/appplatform/dashboard_v2_resource_acc_test.go
  internal/resources/examples_test.go
Owners: @grafana/grafana-app-platform-squad, @grafana/platform-monitoring

docs: move agentic docs to vendor-neutral location
  AGENTS.md
  agent-docs/README.md
  agent-docs/generation/systems.md
  agent-docs/provider/api-clients.md
  agent-docs/provider/mux-architecture.md
  agent-docs/resources/appplatform.md
  agent-docs/resources/framework.md
  agent-docs/resources/sdkv2.md
  agent-docs/testing/infrastructure.md
Owners: @grafana/platform-monitoring

test: add v2beta1 dashboard testdata examples
  pkg/generate/postprocessing/replace_references.go
  testdata/appplatform/dashboards.tf
  testdata/appplatform/dashboards/test_dashboard_v2.json
Owners: @grafana/platform-monitoring

fix(oncall): sort labels in flattenLabels to prevent perpetual drift
  internal/resources/oncall/resource_integration.go
  internal/resources/oncall/resource_integration_labels_test.go
Owners: @grafana/grafana-irm-backend

fix(oncall): add tie-breakers and duplicate key test
  internal/resources/oncall/resource_integration.go
  internal/resources/oncall/resource_integration_labels_test.go
Owners: @grafana/grafana-irm-backend

fix(oncall): remove redundant id tie-breaker from label sort
  internal/resources/oncall/resource_integration.go
Owners: @grafana/grafana-irm-backend

docs: add descriptions with links to cloud provider resources and data sources
  docs/data-sources/cloud_provider_aws_account.md
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_job.md
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_jobs.md
  docs/data-sources/cloud_provider_azure_credential.md
  docs/resources/cloud_provider_aws_account.md
  docs/resources/cloud_provider_aws_cloudwatch_scrape_job.md
  docs/resources/cloud_provider_aws_resource_metadata_scrape_job.md
  docs/resources/cloud_provider_azure_credential.md
  internal/resources/cloudprovider/data_source_aws_account.go
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_jobs.go
  internal/resources/cloudprovider/data_source_azure_credential.go
  internal/resources/cloudprovider/resource_aws_account.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/resource_aws_resource_metadata_scrape_job.go
  internal/resources/cloudprovider/resource_azure_credential.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

pr feedback
  docs/data-sources/cloud_provider_aws_account.md
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_job.md
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_jobs.md
  docs/data-sources/cloud_provider_azure_credential.md
  docs/resources/cloud_provider_aws_account.md
  docs/resources/cloud_provider_aws_cloudwatch_scrape_job.md
  docs/resources/cloud_provider_aws_resource_metadata_scrape_job.md
  docs/resources/cloud_provider_azure_credential.md
  internal/resources/cloudprovider/data_source_aws_account.go
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_jobs.go
  internal/resources/cloudprovider/data_source_azure_credential.go
  internal/resources/cloudprovider/resource_aws_account.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/resource_aws_resource_metadata_scrape_job.go
  internal/resources/cloudprovider/resource_azure_credential.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

docs: add descriptions with links to cloud provider resources (#2561)
  docs/data-sources/cloud_provider_aws_account.md
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_job.md
  docs/data-sources/cloud_provider_aws_cloudwatch_scrape_jobs.md
  docs/data-sources/cloud_provider_azure_credential.md
  docs/resources/cloud_provider_aws_account.md
  docs/resources/cloud_provider_aws_cloudwatch_scrape_job.md
  docs/resources/cloud_provider_aws_resource_metadata_scrape_job.md
  docs/resources/cloud_provider_azure_credential.md
  internal/resources/cloudprovider/data_source_aws_account.go
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/data_source_aws_cloudwatch_scrape_jobs.go
  internal/resources/cloudprovider/data_source_azure_credential.go
  internal/resources/cloudprovider/resource_aws_account.go
  internal/resources/cloudprovider/resource_aws_cloudwatch_scrape_job.go
  internal/resources/cloudprovider/resource_aws_resource_metadata_scrape_job.go
  internal/resources/cloudprovider/resource_azure_credential.go
Owners: @grafana/platform-monitoring, @grafana/middleware-apps

feat: add grafana_apps_dashboard_dashboard_v2beta1 resource (#2552)
  .claude/skills/add-app-platform-resource/SKILL.md
  .claude/skills/add-app-platform-resource/references/checklist.md
  .claude/skills/add-app-platform-resource/references/field-type-mapping.md
  .claude/skills/add-app-platform-resource/references/gotchas.md
  AGENTS.md
  CLAUDE.md
  agent-docs/README.md
  agent-docs/generation/systems.md
  agent-docs/provider/api-clients.md
  agent-docs/provider/mux-architecture.md
  agent-docs/resources/appplatform.md
  agent-docs/resources/framework.md
  agent-docs/resources/sdkv2.md
  agent-docs/testing/infrastructure.md
  docs/resources/apps_dashboard_dashboard_v2beta1.md
  examples/resources/grafana_apps_dashboard_dashboard_v2beta1/resource.tf
  go.mod
  go.sum
  internal/resources/appplatform/catalog-resource.yaml
  internal/resources/appplatform/dashboard_v2_resource.go
  internal/resources/appplatform/dashboard_v2_resource_acc_test.go
  internal/resources/examples_test.go
  pkg/generate/postprocessing/replace_references.go
  pkg/provider/resources.go
  testdata/appplatform/dashboards.tf
  testdata/appplatform/dashboards/test_dashboard_v2.json
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

Alerting: Add apps_rules_alertrule_v0alpha1 docs
  docs/resources/apps_rules_alertrule_v0alpha1.md
  internal/resources/appplatform/alertrule_resource.go
  templates/resources/apps_rules_alertrule_v0alpha1.md.tmpl
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

Alerting: Add apps_rules_alertrule_v0alpha1 docs (#2563)
  docs/resources/apps_rules_alertrule_v0alpha1.md
  internal/resources/appplatform/alertrule_resource.go
  templates/resources/apps_rules_alertrule_v0alpha1.md.tmpl
Owners: @grafana/platform-monitoring, @grafana/grafana-app-platform-squad

feat: Added resource for data source cache config (#2418)
  docs/resources/data_source_cache_config.md
  examples/resources/grafana_data_source_cache_config/import.sh
  examples/resources/grafana_data_source_cache_config/resource.tf
  internal/resources/grafana/catalog-resource.yaml
  internal/resources/grafana/resource_data_source_cache_config.go
  internal/resources/grafana/resource_data_source_cache_config_test.go
  internal/resources/grafana/resources.go
  pkg/generate/postprocessing/replace_references.go
  provider_schema.json
Owners: @grafana/platform-monitoring

Migrate grafana_annotation to use Framework SDK (#2546)
  docs/resources/annotation.md
  internal/resources/grafana/resource_annotation.go
  internal/resources/grafana/resources.go
Owners: @grafana/platform-monitoring

Migrate grafana_organization_preferences
  internal/resources/grafana/data_source_organization_preferences.go
  internal/resources/grafana/resource_organization_preferences.go
  internal/resources/grafana/resources.go
Owners: @grafana/platform-monitoring

Fix doc test
  docs/resources/organization_preferences.md
  internal/resources/grafana/resource_organization_preferences.go
Owners: @grafana/platform-monitoring

Fix apply inconsistency for optional attributes
  internal/resources/grafana/resource_organization_preferences.go
Owners: @grafana/platform-monitoring

Fix apply inconsistency for optional attributes for read method
  internal/resources/grafana/resource_organization_preferences.go
Owners: @grafana/platform-monitoring
