Repository grafana/terraform-provider-grafana, pull requests merged in 2023-11, with the labels that each got.

#1057 Service accounts: Add None role for service account creation
  internal/resources/grafana/resource_service_account.go
  internal/resources/grafana/resource_service_account_test.go
Labels: blocked

#1087 Alerting: add support for on-call integration
  docs/resources/contact_point.md
  examples/resources/grafana_contact_point/_acc_receiver_types_10_2.tf
  internal/resources/grafana/resource_alerting_contact_point.go
  internal/resources/grafana/resource_alerting_contact_point_notifiers.go
  internal/resources/grafana/resource_alerting_contact_point_test.go
Labels: area/alerting

#1100 Alerting: Introduce support of responders for OpsGenie integration
  docs/resources/contact_point.md
  examples/resources/grafana_contact_point/_acc_receiver_types_10_3.tf
  internal/resources/grafana/resource_alerting_contact_point_notifiers.go
  internal/resources/grafana/resource_alerting_contact_point_test.go
Labels: area/alerting, blocked
